<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="fluid-container">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" (click)="back()">Back</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">{{typeOfForm}} Voucher</div>
      <div class="row plr-15">

        <form #addEditPromocode="ngForm" class="col-md-8">

          <!-- form fields -->
          <div class="row">

            <!-- promocode name -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="promoCodeName">Voucher Name</label>
              <input id="promoCodeName" type="text" class="form-control" placeholder="Voucher Name" [ngClass]="{'error-border': promoCodeName.touched && promoCodeName.invalid}"
                [(ngModel)]="model.promoCodeName" name="promoCodeName" #promoCodeName="ngModel" required>

              <div class="form-control-feedback globar-error-text" *ngIf="promoCodeName.touched && promoCodeName.invalid">
                <div *ngIf="promoCodeName.errors.required">Voucher Name is required</div>
              </div>
            </div>

            <!-- promocode -->
            <!-- <div class="form-group col-md-5">
              <label for="code">Code</label>
              <input id="code" type="text" class="form-control" name="code" #code="ngModel" placeholder="code"
                [ngClass]="{'error-border': code.touched && code.invalid}" [(ngModel)]="model.code" required>

              <div class="form-control-feedback globar-error-text" *ngIf="code.touched && code.invalid">
                <div *ngIf="code.errors.required">Promocode is required</div>
              </div>

            </div> -->

            <div class="form-group col-md-5" ngbDropdown>
              <label for="code">Type</label>
              <button type="button" class="btn promoBtn" id="vt-dropdown" ngbDropdownToggle>{{promoTextt?.name}}</button>
                <!-- <button id="vt-dropdown" ngbDropdownToggle>{{promoTextt?.name}}</button> -->
              <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                <button class="dropdown-item" *ngFor="let promo of promoTypes"
                  (click)="select(promo)">{{promo.name}}</button>
              </div>

            </div>

            <!-- promocode type -->
            <!-- <div class="form-group col-md-5 no-pd-lt">
              <label for="type">Promocode Type</label>
              <mat-radio-group name="type" [(ngModel)]="model.type" required #type="ngModel">
                <mat-radio-button value="1" [checked]="model.type===1">Fixed Amount</mat-radio-button>
                <mat-radio-button value="2">Percentage</mat-radio-button>
              </mat-radio-group>
            </div> -->

            <!-- promocode value -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="percentage">Percentage</label>
              <ng-container>
                <input id="percentage" name="percentage" class="form-control" placeholder="Value" #percentage="ngModel"
                  [ngClass]="{'error-border': percentage.touched && percentage.invalid}" type="number" [(ngModel)]="model.percentage"
                  onKeyPress="return (event.charCode >= 0 && event.charCode <= 32) || (event.charCode >= 48 && event.charCode <= 57)"
                  required>

                <div class="form-control-feedback globar-error-text" *ngIf="percentage.touched && percentage.invalid">
                  <div *ngIf="percentage.errors.required">Percentage is required</div>
                </div>
              </ng-container>
            </div>

            <!-- offset -->
            <div class="col-md-3">

            </div>

            <!-- start date -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="startDate">Start Date</label>
              <input OnKeyPress="return false;" required [matDatepicker]="pickerStart" placeholder="Select Start Date"
                class="form-control" [(ngModel)]="model.startDate" [min]="todaydate" name="startDate" #startDate="ngModel"
                (focus)="_openCalendar(pickerStart)" (click)="_openCalendar(pickerStart, 'startDate')">
              <mat-datepicker #pickerStart="matDatepicker" (closed)="_closeCalendar($event, 'startDate')">
              </mat-datepicker>

              <div class="form-control-feedback globar-error-text" *ngIf="startDate.touched && startDate.invalid">
                <div *ngIf="startDate.dirty  && startDate.errors.required">Start date is required</div>
              </div>
            </div>

            <!-- end date -->
            <div class="form-group col-md-5">
              <label for="expiryDate">End Date</label>
              <input OnKeyPress="return false;" required [matDatepicker]="pickerEnd" placeholder="Select End Date"
                class="form-control" [(ngModel)]="model.expiryDate" [min]="todaydate" (focus)="_openCalendar(pickerEnd)"
                (click)="_openCalendar(pickerEnd, 'expiryDate')" name="expiryDate" #expiryDate="ngModel">
              <mat-datepicker #pickerEnd="matDatepicker" (closed)="_closeCalendar($event, 'expiryDate')"></mat-datepicker>

              <div class="form-control-feedback globar-error-text" *ngIf="expiryDate.touched && expiryDate.invalid">
                <div *ngIf="expiryDate.dirty && expiryDate.errors.required">End date is required</div>
              </div>
            </div>

            <!-- promocode description -->
            <div class="col-md-10 no-pd-lt">
              <label for="promoText">Promocode Description</label>
              <textarea rows="4" cols="50" [ngClass]="{'error-border': promoText.touched && promoText.invalid}"
                required [(ngModel)]="model.promoText" name="promoText" #promoText="ngModel" class="form-control"
                placeholder="Description" (blur)="checkIfOnlySpaces('promoText')"></textarea>

              <div class="form-control-feedback globar-error-text" *ngIf="promoText.touched && promoText.invalid">
                <div *ngIf="promoText.errors.required">Description is required</div>
              </div>
            </div>

            <!-- <div class="col-md-10 no-pd-lt" ngbDropdown>
              <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{promoTextt?.name}}</button>
              <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                <button class="dropdown-item" *ngFor="let promo of promoTypes"
                  (click)="select(promo)">{{promo.name}}</button>
              </div>
            </div> -->

            <!-- save btn -->
            <div class="col-md-12 no-padding mt-3">
              <button [disabled]="form.invalid" (click)="savePromocode(form)" class="btn btn-primary-color save-btn">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
