@import './../../../../assets/styles/base.scss';

label {
    color: $label-color
}

// Generic form settings || i have removed the useless divs and wrapper etc

.title {
    font-size: 20px;
    margin-bottom: 25px;
}

textarea {
    border-radius: 0.6rem;
}

textarea:hover,
textarea:active,
textarea:focus {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
}

textarea.form-control {
    height: auto !important;
}

.field-wrap .field .form-group mat-datepicker-toggle button.mat-icon-button {
    padding: 0rem 0rem !important;
}

mat-radio-group {
    float: left;
    width: 100%;
    margin-top: 5px;
}

mat-radio-button {
    margin-right: 30px;
}
.promoBtn{
    display: flex;
    align-items: center;
}