<div>
  <h2 style="font-size: 24px;">Chat History</h2>
  <!-- <div class="d-inline-block vt-dd-parent" ngbDropdown>
    <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{jobFilterText?.serviceName}}</button>
    <div ngbDropdownMenu aria-labelledby="vt-dropdown">
      <button class="dropdown-item" *ngFor="let worker of workers" (click)="filterJob(job,1)">{{worker.name}}</button>
    </div>
  </div> -->

  <div *ngIf="messages && messages.length > 0">
    <mat-form-field>
      <mat-select placeholder="Workers" [(value)]="selected" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let worker of workers" [value]="worker.workerId">
          {{worker.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<div *ngIf="messages && messages.length > 0; else noData">
  <div [ngClass]="item.senderType == 2 ? 'card1': 'card2'" *ngFor="let item of messages;">
    <div class="imageDiv">
      <img class="image"
        src="https://www.kraftwerk.at/app/uploads/fly-images/962/reference-img-worlds-of-adventure-park-4-1920x9999.jpg"
        alt="Girl in a jacket" width="30" height="30" />
    </div>
    <div class="header">
      <div>
        <p class="spName">{{item.name}}</p>
        <p class="review">{{item.message}}</p>
      </div>
      <div class="date">
        <p>{{item.time}}</p>
      </div>
    </div>

  </div>
</div>

<ng-template #noData>
  <div class="no-Data-Found">
    <img src="../../../../assets/images/Chat_Illustration.svg" alt="job" width="250px" height="250px">
    <h3 class="no-data">No Chats Found</h3>
  </div>
</ng-template>