.card1 {
    display: flex;
    background-color: #cfe6ec;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border-style: solid;
    border-color: #cfe6ec;
    border-width: thin;
    align-self: center;
    gap:10px;
    p {
        margin: 0 !important;
    }
    margin-bottom: 10px;
    min-width: 400px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    max-width: 400px;
  }

  .card2 {
    display: flex;
    background-color: #fbfbff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border-style: solid;
    border-color: #cfe6ec;
    border-width: thin;
    align-self: center;
    gap:10px;
    p {
        margin: 0 !important;
    }
    margin-bottom: 10px;
    min-width: 400px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    max-width: 400px;
  }
  .image {
    border-radius: 50%;
  }
  .spName {
    font-weight: bold;
  }
  
  .review {
    font-size: 10px;
    color: rgb(86, 86, 86);
    width: 100%;
    word-break: break-word;
  }

  .header{
    flex: 90%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
  }
  


.imageDiv{
  flex: 10%;
}

.date{
  flex-shrink: 0;
}

.date p {
  color: rgb(150, 146, 146);
  font-size: 10px;
}

.no-data {
  color: #263238;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}