<div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  
  <div class="container-fluid no-padding">
    <div class="sub-nav">
      <ul class="navbar-nav">
        <li class="nav-item add-new-btn">
          <a class="nav-link btn-primary-color"  *ngIf="localStorage?.rolesAndSecurity == 3" [routerLink]="[ '/roles-security/add' ]">Add New Role</a>
        </li>
      </ul>
    </div>
  </div>
  
  <mat-card>
    <div class="table-container">
      <div class="title">Role & Security</div>
      <div class="clear-both"> </div>
  
      <table class="mt-4" mat-table [dataSource]="dataSource">
  
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index;" class="role-number-td"> {{i+1}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row" class="role-name-td">{{row.name}}</td>
        </ng-container>
  
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email Address</th>
          <td mat-cell *matCellDef="let row" class="role-email-td">{{row.email}}</td>
        </ng-container>

        
        <!-- Phone Column -->
        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let row" class="role-email-td">{{row.mobileNumber}}</td>
          </ng-container>
  
        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let row" class="role-type-td">{{row.userType}}</td>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <!-- <td mat-cell *matCellDef="let row" class="role-status-td">{{row.status===1 ? 'Active' : 'Inactive'}}</td> -->
          <td mat-cell *matCellDef="let row" class="role-status-td">Active</td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef><span *ngIf="localStorage?.rolesAndSecurity == 3"> Action </span></th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
  
            <a *ngIf="localStorage?.rolesAndSecurity == 3" [routerLink]="['/roles-security/edit', row._id]">
              <button class="btn btn-light has-icon" md-raised-button><i class="icon ion-md-create"></i></button>
            </a>
  
            <!-- <button class="btn btn-light has-icon" md-raised-button (click)="deleteRoleSecurity(row.agentId)"><i class="icon ion-md-trash"></i></button> -->
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-toolbar class="toolbar" *ngIf="totalRecords === 0">
        <span>No Records Found</span>
      </mat-toolbar>
      
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
    </div>
  </mat-card>