<div class="image-preview-container" *ngIf="previewImage">
  <div class="image-wrapper">
    <img class="close-btn" (click)="closePreview()" src="assets/images/button-close.svg">
    <img [src]="previewImageUrl">
  </div>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">1. Profile Information</div>
      <div class="sub-title">Please add worker profile details.</div>
      <div class="row plr-10">

        <form #form="ngForm" class="col-md-8">

          <!-- form fields -->
          <div class="row">

            <!-- file uplaod -->
            <div class="form-group col-md-12 no-pd-lt">
              <div class="file-upload">
                <label for="profile_upload" class="file-upload-label">
                  <div class="images-child" *ngIf="!model.imageString">
                    <p>Upload Worker's Photo (Required)</p>
                  </div>
                  <div class="images-child" *ngIf="model.imageString">
                    <img class="preview-img blurImg" [src]="model.imageString">
                  </div>
                </label>
                <input id="profile_upload" type='file' (change)="uploadPackageImage($event.target.files)"
                       accept="image/*"
                       class="file-upload-input" name="file-upload">
              </div>
              <a *ngIf="model.imageString" (click)="previewImageViewer(model.imageString)" class="view-image">View
                Image</a>
              <p class="img-upload-at" *ngIf="model.imageString && model.profileImageUpdatedDate">Uploaded at:
                {{model.profileImageUpdatedDate | date: 'medium'}}</p>
            </div>

            <!-- first name -->

            <div class="form-group col-md-5 no-pd-lt">

              <label for="firstName">First Name</label>

              <input autocomplete="off" required type="text" class="form-control"
                     [ngClass]="{'error-border': firstName.touched && firstName.invalid}" #firstName="ngModel"
                     name="firstName"
                     [(ngModel)]="model.firstName" placeholder="Your First Name">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="firstName.touched && firstName.invalid">
                {{firstName.errors.required ? 'First name is required.' : ''}}
              </div>

            </div>

            <!-- Last Name -->

            <div class="form-group col-md-5 mr-3">

              <label for="lastName">Last Name</label>

              <input autocomplete="off" type="text" required class="form-control"
                     #lastName="ngModel" [ngClass]="{'error-border': lastName.touched && lastName.invalid}"
                     name="lastName"
                     [(ngModel)]="model.lastName" placeholder="Your Last Name">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="lastName.touched && lastName.invalid">
                {{lastName.errors.required ? 'Last name is required.' : ''}}
              </div>
            </div>

            <!-- Email Address -->

            <div class="form-group col-md-5 no-pd-lt">

              <label for="emailAddress">Email Address</label>

              <input autocomplete="off" required [pattern]="emailPattern"
                     type="text" class="form-control" [ngClass]="{'error-border': email.touched && email.invalid}"
                     #email="ngModel"
                     name="email" [(ngModel)]="model.email" placeholder="Enter Email Address" disabled>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="email.touched && email.invalid">
                {{email.errors.required ? 'Email is required.' : email.errors.pattern ? 'Email is invalid' : ''}}
              </div>
            </div>

            <!-- Phone Number -->

            <div class="form-group col-md-5 mr-3">

              <label for="phoneNumber">Phone Number</label>
              <span class="phonecode">{{whenAdminViewPrefix?.region?.phoneNumberPrefix ? whenAdminViewPrefix?.region?.phoneNumberPrefix : localStorage?.phoneNumberPrefix}}</span>

              <input autocomplete="off" required type="text" class="form-control phoneNumber"
                     [ngClass]="{'error-border': phone.touched && phone.invalid}"

                     #phone="ngModel" name="phone" [(ngModel)]="model.phone" placeholder="Phone Number" disabled>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="phone.touched && phone.invalid">
                {{phone.errors.required ? 'Phone number is required.' : ''}}
              </div>
            </div>

            <div class="form-group col-md-10 no-pd-lt">

              <label for="about">About</label>

              <textarea cols="50" rows="1" autocomplete="off" required type="text" class="form-control"
                        #firstName="ngModel" name="about"
                        [(ngModel)]="model.about" placeholder="About Text"></textarea>

            </div>

            <div class="form-group col-md-5 mr-3">

              <label for="commissionPercentage">Commission Percentage</label>

              <input autocomplete="off" type="text" required class="form-control"
                     #commissionPercentage="ngModel" [ngClass]="{'error-border': commissionPercentage.touched && commissionPercentage.invalid}"
                     name="commissionPercentage"
                     [(ngModel)]="model.commissionPercentage" placeholder="Commission Percentage">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="commissionPercentage.touched && commissionPercentage.invalid">
                {{commissionPercentage.errors.required ? 'Commission is required.' : ''}}
              </div>
            </div>



            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="form.invalid || !model.imageString"
                      (click)="submit()">{{buttonText}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
