@import './../../../../assets/styles/base.scss';

label {
  color: $label-color
}

// Generic form settings || i have removed the useless divs and wrapper etc
.title {
  font-size: 20px;
  margin-bottom: 25px;
}

// generic settings ends here
.status-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.status-radio-group .status-radio-button {
  margin: 5px;
}

.statusLabel {
  color: rgba(0, 0, 0, .87);
  font-family: 'ubuntuBold';
}

.service-images {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.service-image-upload {
  margin-top: 10px;
}
.example-chip-list {
  width: 100%;
  // background-color: wheat;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  padding: 0px !important;
  height: 0px;
}

.mat-standard-chip {
  gap: 5px !important;

}