<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">{{typeOfForm}} Service</div>
      <div class="row plr-15">

        <div class="service-images">

          <div class="service-image-upload">
            <div class="pkg-non-transp-img">
              <label for="serviceImg" class="file-upload-label">
                <div class="images-child" *ngIf="!model.serviceImage">
                  <p>Service Icon
                    <br> (128*128)
                  </p>
                </div>
                <div class="images-child" *ngIf="model.serviceImage">
                  <img class="preview-img" [src]="model.serviceImage">
                </div>
              </label>
              <input id="serviceImg" type='file' (change)="uploadImage($event.target.files,1)" accept="image/*"
                class="file-upload-input" name="file-upload">
            </div>
          </div>

          <div class="service-image-upload">
            <div class="pkg-non-transp-img">
              <label for="serviceImgDashboard" class="file-upload-label">
                <div class="images-child" *ngIf="!model.dashboardImage">
                  <p>Dashboard Icon
                    <br> (128*128)
                  </p>
                </div>
                <div class="images-child" *ngIf="model.dashboardImage">
                  <img class="preview-img" [src]="model.dashboardImage">
                </div>
              </label>
              <input id="serviceImgDashboard" type='file' (change)="uploadImage($event.target.files,2)" accept="image/*"
                class="file-upload-input" name="file-upload">
            </div>
          </div>

        </div>

        <form #addEditService="ngForm" class="col-md-10">
          <!-- form fields -->
          <div class="row">

            <!-- Service Name english-->
            <div class="form-group mr-1 col-md-3 no-padding">
              <label for="serviceName">Service Name</label>
              <input type="text" class="form-control" id="serviceName" name="serviceName" name="serviceName"
                placeholder="Service Name" [(ngModel)]="model.serviceName" #serviceName="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="serviceName.touched && serviceName.invalid">
                <div *ngIf="serviceName.errors.required">Service Name is required!</div>
              </div>
            </div>

            <div class="form-group mr-1 col-md-3 no-padding">
              <label for="serviceName">Order</label>
              <input type="text" class="form-control" id="order" name="order" name="order" placeholder="Order"
                [(ngModel)]="model.order" #order="ngModel" required>

            </div>

            <div class="form-group mr-1 col-md-12 no-padding">
              <label for="serviceDescription">Service Description</label>
              <input type="text" class="form-control" id="serviceDescription" name="serviceDescription"
                name="serviceDescription" placeholder="Service Description" [(ngModel)]="model.serviceDescription"
                #serviceDescription="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text"
                *ngIf="serviceDescription.touched && serviceDescription.invalid">
                <div *ngIf="serviceDescription.errors.required">Service Description is required!</div>
              </div>
            </div>

            <!-- status rate -->
            <div class="form-group col-md-12 no-padding">
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Sub Services</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let subCategory of subCategories" (removed)="remove(subCategory)">
                    {{subCategory}}
                    <!-- <button matChipRemove> -->
                    <mat-icon (click)="remove(subCategory)">cancel</mat-icon>
                    <!-- </button> -->
                  </mat-chip>
                  <input placeholder="New Sub-Service..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>

            <div class="form-group col-md-12 no-padding">
              <div class="statusLabel mb-3">Status</div>
              <div>
                <mat-radio-group class="status-radio-group" name="status" [(ngModel)]="model.status">
                  <mat-radio-button class="status-radio-button" value="1" [checked]='true'>Active</mat-radio-button>
                  <mat-radio-button class="status-radio-button" value="0">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>


            <div class="form-group col-md-12 no-padding">
              <div class="statusLabel mb-3">Long Description</div>
              <div>
                <ckeditor name="myckeditor" [(ngModel)]="model.longDescription"></ckeditor>
              </div>
            </div>


            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="addEditService.invalid"
                (click)="addService(addEditService)">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>