@import './../../../../assets/styles/base.scss';

label {
    color: $label-color
}

.title {
    font-size: 20px;
    margin-bottom: 25px;
}

textarea {
    border-radius: 0.6rem;
}

textarea:hover,
textarea:active,
textarea:focus {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
}

textarea.form-control {
    height: auto !important;
}

.margining-top {
  margin-top: 20px;
}
