<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="table-container">

    <div class="row">
      <div class="col-md-12">
        <div class="title">Worker Listing</div>
      </div>
    </div>

    <!-- export all drivers -->
    <div *ngIf="localStorage?.userType == 'Admin'" class="title">
      <a class="btn btn-primary-color export-btn" (click)="exportAsXLSX()">Export</a>
      <label for="worker-upload">
        <a class="btn btn-primary-color export-btn" style="margin-left: 10px;">Upload</a>
      </label>
      <input id="worker-upload" type='file' (change)="uploadWorker($event.target.files)" class="file-upload-input"
        name="worker-upload">
    </div>

    <div class="driver-search">
      <div class="mr-2">
        <input style=" float: right;
        padding: 8px 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;" type="text" #input placeholder="Search...">
      </div>
      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{jobFilterText?.serviceName}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let job of jobType" (click)="filter(job,1)">{{job.serviceName}}</button>
        </div>
      </div>
      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of jobStatusText"
            (click)="filter(status,2)">{{status.name}}</button>
        </div>
      </div>

      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{blockFilterText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of blockStatus"
            (click)="filter(status,3)">{{status.name}}</button>
        </div>
      </div>

      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{accountTypeText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of accountStatus"
            (click)="filter(status,4)">{{status.name}}</button>
        </div>
      </div>

      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{importText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of importedStatus"
            (click)="filter(status,5)">{{status.name}}</button>
        </div>
      </div>


    </div>



    <!-- <div class="table-filters">
        </div> -->
    <div class="clear-both"> </div>

    <table class="mt-4" matSort mat-table (matSortChange)="sortData($event)" [dataSource]="dataSource">
      <!-- id Column -->
      <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id Number</th>
          <td mat-cell *matCellDef="let row"> {{row.spId}} </td>
        </ng-container> -->

      <!-- Photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row"><img [src]="row.profileImage || globals.defaultImage"></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name || 'N/A'}}</td>
      </ng-container>

      <!-- Vehicle Type Column -->
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef>Job</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.job?.serviceId?.serviceName">{{row.job?.serviceId?.serviceName || 'N/A'}}</span>
        </td>
      </ng-container>

      <!-- MyKad Column -->
      <!-- <ng-container matColumnDef="myKad">
          <th mat-header-cell *matHeaderCellDef>{{localStorage.regionId === 3 ? 'KTP
              (Kartu Tanda Penduduk)' : 'MyKad'}}</th>
          <td mat-cell *matCellDef="let row"><img [src]="row.myKadUrl || globals.defaultImage"></td>
        </ng-container> -->

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let row; let i=index">
          <span *ngIf="row.phone">{{row.phone || 'N/A'}}</span>
          <!-- <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobile" (click)="Enablegdpr('mobile',i)">
                <span appGdpr *ngIf="showData.mobile" [dataModel]="{requestField:'phone', id:spId, userType:'sp'}" (returnedData)="GotGDPRDATA($event)"></span>
            </div> -->
          <!-- <span *ngIf="!row.phoneNumberPrefix || !row.phoneNumber">N/A</span> -->
        </td>
      </ng-container>

      <!-- Email Address -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let row">{{row.email || 'N/A'}}</td>
      </ng-container>

      <!-- Device Type Column -->
      <!-- <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef>Device Type</th>
          <td mat-cell *matCellDef="let row" class="text-capitalize">{{row.deviceType || 'N/A'}}</td>
        </ng-container> -->

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.statusText || 'N/A'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="joining">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Joining Date</th>
        <td mat-cell *matCellDef="let row">
          <span>{{(row?.createdAt | dateFormatIsoPipe) || 'N/A'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="approval">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Approval Date</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.approvalDate ? (row.approvalDate * 1000 | dateFormatIsoPipe) : 'N/A'}}</span>
        </td>
      </ng-container>


      <ng-container matColumnDef="commission">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Commission</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.commissionPercentage || 'N/A'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.avgRating || 5}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>Account</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.account || 'N/A'}}</span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <a class="btn btn-light has-icon" [routerLink]="[ '/workers/profile','current' ,row?._id ]"><i
              class="icon ion-md-eye"></i></a>
          <button *ngIf="localStorage?.workers == 3" (click)=editWorker(row._id) class="btn btn-light has-icon"
            md-raised-button><i class="icon ion-md-create"></i></button>
          <!-- <button class="btn btn-light has-icon" (click)="openDialog()" md-raised-button><i class="icon ion-md-trash"></i></button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found.</span>
    </mat-toolbar>

    <!-- <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" ></mat-paginator> -->
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
      (page)="pagination($event)"></mat-paginator>
  </div>
</mat-card>