@import './../../../../assets/styles/base.scss';
.variable-names {
    font-size: 16px;
    color: $primary-color;
}

label {
    color: $label-color
}

.sender-text {
    color: $label-color;
    margin-bottom: 15px;
}

.title__sub {
    margin-top: 12px;
    font-family: "ubuntuBold";
    font-size: 16px;
}