<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-8">
      <div class="title">User Notifications</div>

      <div class="mt-3 sender-text">
        While customizing push notifications, you can use variables in your text. Variable will make your
        notification dynamic by providing
        <br> detailed information like Worker Name, User Name, Job Schedule etc.
      </div>

      <form #form="ngForm" autocomplete="off">
        <div class="row">
          <div class="col-md-12">
            <div class="title__sub mb-2">Variables</div>
            <div class="form-group">
              <span *ngFor="let variable of variableNames" class="mr-3 variable-names">[{{variable}}]</span>
            </div>
          </div>
          <div class="col-md-12" *ngFor="let singleNotification of notificationData; let i = index">
            <div class="title__sub mb-2">{{notificationData[i].heading}}</div>
            <div class="form-group">
                <label for="notificationText">App Notification</label>
              <!-- <label for="notificationText">{{notificationData[i].sendingMedium === 0 ? 'App Notification' : 'SMS
                  Notification'}}</label> -->
              <input type="text" class="form-control" [disabled]="disableInput" [(ngModel)]="notificationData[i].text" name="notification-{{i}}"
                id="notificationText-{{i}}" required>
            </div>
          </div>

          <div class="col-md-12 m-t-10"  *ngIf="localStorage?.notifications == 3">
            <button class="btn btn-primary-color save-btn" [disabled]="form.invalid" (click)="updateSenderNotif()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>