@import './../../../../assets/styles/base.scss';
.variable-names {
    font-size: 16px;
    color: $primary-color;
}

label {
    color: $label-color
}

.comm-text {
    width: 15%;
}

.comm-input {
    width: 10%;
    position: relative;
}

.comm-empty {
    width: 70%
}

.comm-actions {
    width: 5%;
}

.radius-km {
    position: absolute;
    top: 10px;
    left: 15px;
    font-family: 'ubuntuBold';
}

.radius-km-input {
    padding-left: 45px;
}

.worker-text {
    color: $label-color;
}

.title__sub {
    margin-top: 12px;
    font-family: "ubuntuBold";
    font-size: 16px;
}