<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">Worker Notifications</div>
      <!-- <table>
        <tr>
          <td class="comm-text">
            Max Job Notification Radius
          </td>
          <td class="comm-input">
            <span class="radius-km">Km</span>
            <input type="number" class="form-control radius-km-input" [disabled]="isDisabled"
              [(ngModel)]="notificationRadius" name="maxRadiusField" id="maxRadiusField" #maxRadiusField="ngModel"
              required>

           
            <div class="form-control-feedback globar-error-text"
              *ngIf="maxRadiusField.touched && maxRadiusField.invalid">
              <div *ngIf="maxRadiusField.errors.required"> Max Job Notification Radius is required!</div>
            </div>
          </td>
          <td class="comm-empty">
          </td>
          <td class="comm-actions">
            <button class="btn btn-light has-icon" *ngIf="isDisabled" (click)="editFieldsEnable()"><i
                class="icon ion-md-create"></i></button>
            <button class="btn btn-primary-color has-icon" *ngIf="!isDisabled" (click)="editFieldsDisable($event)"><i
                class="icon ion-md-checkmark"></i></button>
          </td>
        </tr>
      </table> -->
    </div>

    <div class="col-md-8">

      <div class="mt-3 worker-text">
        While customizing push notifications, you can use variables in your text. Variable will make your
        notification dynamic by providing
        <br> detailed information like Worker Name, User Name, Job Schedule etc.
      </div>

      <form #form="ngForm" autocomplete="off">
        <div class="row">
          <div class="col-md-12">
            <div class="title__sub mb-2">Variables</div>
            <div class="form-group">
              <span *ngFor="let variable of variableNames" class="mr-3 variable-names">[{{variable}}]</span>
            </div>
          </div>

          <div class="col-md-12" *ngFor="let singleNotification of notificationData; let i = index">
            <div class="title__sub mb-2">{{notificationData[i].heading}}</div>
            <div class="form-group">
              <label for="notificationText">App Notification</label>
              <input type="text" class="form-control"  [disabled]="disableInput" [(ngModel)]="notificationData[i].text" name="notification-{{i}}"
                id="notificationText" required>
            </div>
          </div>

          <div class="col-md-12 m-t-10" *ngIf="localStorage?.notifications == 3">
            <button class="btn btn-primary-color save-btn" [disabled]="form.invalid" (click)="updateSenderNotif()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>