<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <!--<li class="nav-item">-->
      <!--<a class="nav-link btn-light-color" [routerLink]="[ '/drivers/listing' ]" routerLinkActive="btn-primary-color"-->
      <!--[routerLinkActiveOptions]="{exact:true}">All</a>-->
      <!--</li>-->

      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/workers/listing' ]" routerLinkActive="btn-primary-color">Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/workers/new-requests' ]" routerLinkActive="btn-primary-color">New Requests ({{ (activeDriversCount)}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/workers/verified-workers' ]" routerLinkActive="btn-primary-color">Certified Workers ({{ (verifiedCount)}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/workers/pending-certificate' ]" routerLinkActive="btn-primary-color">New Certificate Requests ({{ (pendingCertificateCount)}})</a>
      </li>
      <!-- <li class="nav-item add-new-btn">
          <a class="nav-link btn-primary-color" [routerLink]="[ '/drivers/new' ]">Add New Driver</a>
        </li> -->
    </ul>
  </div>
</div>

<router-outlet></router-outlet>