@import './../../../../assets/styles/base.scss';
.wrapper-stats {
    margin: auto;
    width: 89.2%;
}

.dashboard {
    display: flex;
    margin: 20px 0px 10px 5px;
}

.job-report {
    display: flex;
    flex-wrap: wrap;
}

.job-report .jobs {
    background-color: #fff;
    flex: 1 0 20%;
    margin: 5px;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.job-report .jobs .report-img {
    // display: inline-block;
    // width: 30%;
    margin-right: 25px;
}

.job-report .jobs .report-text {
    // display: inline-block;
    // width: 70%
}

.job-report .jobs .report-img img {
    width: 75px;
}

.report-count {
    font-family: 'ubuntuMedium';
    font-size: 24px;
}

.report-label {
    color: #777777bd;
    font-size: 16px;
    margin-bottom: 5px;
}

mat-card {
    width: 100%;
}

//  Search filters month and dates
.dashboard-search-dropdown {
    display: flex;
    flex-direction: row-reverse;
}

.dates-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    left: 0 !important;
    padding: 0 !important;
    max-height: 350px;
    overflow-y: scroll;
}

.weekly-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    padding: 0 !important;
    width: 150px;
    min-width: 100px !important;
    left: -45px !important;
}

.dates-dd-parent .dropdown-item,
.weekly-dd-parent .dropdown-item {
    padding: .25rem 1rem !important;
    font-size: 14px;
}

.weekly-dd-parent .btn,
.dates-dd-parent .btn,
.weekly-dd-parent .btn,
.dates-dd-parent .btn :active,
.weekly-dd-parent .btn,
.dates-dd-parent .btn :focus,
.weekly-dd-parent .btn,
.dates-dd-parent .btn :hover {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 14px;
    border-radius: 0.6rem;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdown-toggle::after {
    margin-left: 1.255em !important;
}

.circle-progress {
    text-align: center;
} // vertical-bar-charts
.vertical-bar-charts {
    height: 425px;
}

.no-records-found {
    position: absolute;
    top: 50%;
    left: 50%
}

// vertical-bar-charts ends 
//  progress bar
.no-val-feeback {
    text-align: center;
    padding: 35px 0;
}

.sales-percentage {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sales-percentage .left-perc {
    border-right: 1px solid #e5e5e5;
}

.sales-percentage .left-perc,
.sales-percentage .right-perc {
    padding: 15px 30px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.sales-percentage .positive {
    color: #2BBA81;
    font-size: 12px;
}

.sales-percentage .negative {
    color: #cd0000;
    font-size: 12px;
}

.customer-feedback {
    height: 472px;
}

.ht-100p {
    height: 100%;
}
.DatesOuter{
    justify-content: flex-end;
    margin-right: 0px;
}
.staticCalanderOuter{
    display: flex;

}
.staticCalander{
    font-size: 25px;
    /* margin-left: 20px; */
    position: relative;
    right: -30px;
    padding-top: 3px;
    color: $primary-color;
}
.customCalendar{
    padding-left: 2.5rem;
}

@media only screen and (max-width: 1280px) {
    .vertical-bar-charts {
        overflow-x: scroll;
    }
}