<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="wrapper-stats">

  <div class="dashboard">

    <div class="title">
      <h4>Dashboard</h4>
    </div>

    <div class="ml-auto">
      <div class="dashboard-search-dropdown">

        <!-- <div class="d-inline-block weekly-dd-parent" ngbDropdown>
          <button class="btn" id="weekly-dropdown" ngbDropdownToggle>{{selectedYear}}</button>
          <div ngbDropdownMenu aria-labelledby="weekly-dropdown">
            <span class="dropdown-item" *ngFor="let year of yearArr" (click)="selectYear(year)">{{year}}</span>
          </div>
        </div> -->

        <!-- month dropdown -->
        <!-- <div class="d-inline-block dates-dd-parent mr-2" ngbDropdown>
          <button class="btn" id="dates-dropdown" ngbDropdownToggle>{{selectedMonth.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dates-dropdown">
            <span class="dropdown-item" *ngFor="let month of monthsArr" (click)="selectMonth(month)">{{month.name}}</span>
          </div>
        </div> -->

        <div class="DatesOuter row">
          <!--<input class="search-input" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search...">-->
          <!-- start date -->
          <div class="form-group col-md-5 no-pd-lt staticCalanderOuter">
              <i class="icon ion-md-calendar staticCalander"></i> 
            <input [matDatepicker]="pickerStart" placeholder="Select Start Date" class="form-control customCalendar" [(ngModel)]="model.startDate" [max]="todaydate"
              name="startDate" #startDate="ngModel" (focus)="_openCalendar(pickerStart)" (click)="_openCalendar(pickerStart, 'startDate')">
            <mat-datepicker #pickerStart="matDatepicker" (closed)="_closeCalendar($event, 'startDate')"></mat-datepicker>
          </div>
          <!-- end date -->
          <div class="form-group col-md-5 staticCalanderOuter">
              <i class="icon ion-md-calendar staticCalander"></i>
            <input [matDatepicker]="pickerEnd" placeholder="Select End Date" class="form-control customCalendar" [(ngModel)]="model.endDate" [max]="todaydate"
              (focus)="_openCalendar(pickerEnd)" (click)="_openCalendar(pickerEnd, 'endDate')" name="endDate" #endDate="ngModel">
            <mat-datepicker #pickerEnd="matDatepicker" (closed)="_closeCalendar($event, 'endDate')"></mat-datepicker>
          </div>
          <div>
      <a *ngIf="localStorage?.userType == 'Admin'" class="btn btn-primary-color export-btn" (click)="exportAsXLSX()">Export</a>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="job-report">

    <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_total_earning.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{ globals.defaultCurrency +  ' ' + dashboardStats?.respObj.totalEarnings}}</div>
        <div class="report-label">Total Revenue</div>
      </div>
    </div>

    <!-- <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_payable_drivers.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.payableToWorker}}</div>
        <div class="report-label">Payable to Workers</div>
      </div>
    </div> -->

    <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_profit.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{ globals.defaultCurrency +  ' ' + dashboardStats?.respObj.profit.toFixed(2)}}</div>
        <div class="report-label">Earning</div>
      </div>
    </div>

    <!-- <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_profit.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.cashEarnings}}</div>
        <div class="report-label">Cash Earnings</div>
      </div>
    </div> -->

    <!-- second row -->
    <div (click)="clickListener(1, null)" class="jobs" style="cursor: pointer;">
      <div class="report-img">
        <img src="../../../../assets/images/icon_total_jobs.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.totalJobs}}</div>
        <div class="report-label">Total Jobs</div>
      </div>
    </div>

    <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_jobs_completed.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.completedJobs}}</div>
        <div class="report-label">Jobs Completed</div>
      </div>
    </div>


    <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/in_progress.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.inProgressJobs}}</div>
        <div class="report-label">InProgress Jobs</div>
      </div>
    </div>

    <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_jobs_cancelled.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.cancelledJobs}}</div>
        <div class="report-label">Cancelled</div>
      </div>
    </div>

    <!-- <div class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/icon_profit.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.cardEarnings}}</div>
        <div class="report-label">Card Earnings</div>
      </div>
    </div> -->

    <div (click)="clickListener(2, null)" style="cursor: pointer;" class="jobs">
      <div class="report-img">
        <img src="../../../../assets/images/Worker.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.totalWorkers}}</div>
        <div class="report-label">Total Workers</div>
      </div>
    </div>

    <div (click)="clickListener(3, null)" class="jobs" style="cursor: pointer;">
      <div class="report-img">
        <img src="../../../../assets/images/Customer.png" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{dashboardStats?.respObj.totalCustomer}}</div>
        <div class="report-label">Total Customers</div>
      </div>
    </div>

    <div  (click)="clickListener(4, job)" class="jobs" *ngFor="let job of dashboardStats?.perServiceEarnings" style="cursor: pointer;">
      <div class="report-img">
        <img [src]="job.serviceImage" alt="job">
      </div>
      <div class="report-text">
        <div class="report-count">{{ globals.defaultCurrency +  ' ' + job.earnings}}</div>
        <div class="report-label">{{job.serviceName}}</div>
      </div>
    </div>

  </div>

  <div class="col-md-12 card-container">
    <div class="col-md-8 custom-card">
      <mat-card class="db">
        <div class="vertical-bar-charts position-relative">
          <h6 class="font-bold">Sales Overview</h6>
          <ngx-d3-bar [colorScheme]="colorScheme" [results]="chartsData" *ngIf="chartsData.length>0"></ngx-d3-bar>
          <h6 class="no-records-found" *ngIf="chartsData.length===0">No Records Found</h6>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4 custom-card no-padding">
      <div class="customer-feedback">
        <mat-card class="ht-100p db">
          <h6 class="font-bold">Customer Feedback</h6>
          <div>
            <h6 class="no-val-feeback font-bold">{{dashboardStats?.respObj.totalCustomerRatings}}</h6>
          </div>

          <div class="circle-progress">
            <circle-progress [percent]="dashboardStats?.respObj.positiveRating" [radius]="60" [space]="-10" [outerStrokeWidth]="10" [outerStrokeColor]="'#3866de'"
              [innerStrokeColor]="'#e7e8ea'" [imageSrc]="arrowImage" [showBackground]="false" [showImage]="true" [imageHeight]="30"
              [imageWidth]="30" [innerStrokeWidth]="10" [animateTitle]="false" [showImage]="true" [animationDuration]="1000"
              [showUnits]="false" [showBackground]="false" [clockwise]="false" [startFromZero]="false"></circle-progress>
          </div>

          <div class="sales-percentage">
            <div class="left-perc">
              <div class="text-center">{{convertToInt(dashboardStats?.respObj.positiveRating)}} %</div>
              <div class="positive">
                <i class="icon ion-md-thumbs-up"></i> Positive</div>
              <div class="positive">Rating ≥ 3</div>
            </div>
            <div class="right-perc">
              <div class="text-center">{{convertToInt(dashboardStats?.respObj.negativeRating)}} %</div>
              <div class="negative">
                <i class="icon ion-md-thumbs-down"></i> Negative</div>
              <div class="negative">Rating
                < 3</div>
              </div>
            </div>
        </mat-card>
        </div>
      </div>
    </div>

  </div>