<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="table-container">
    <div class="title">Services</div>
    <div class="clear-both"> </div>
    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- icon Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.serviceImage" alt="icon"></td>
      </ng-container>

      <!-- serviceName Column -->
      <ng-container matColumnDef="serviceName">
        <th mat-header-cell *matHeaderCellDef>Service Name</th>
        <td mat-cell *matCellDef="let row">{{row.serviceName || 'N/A'}}</td>
      </ng-container>

      <!-- serviceDescription Column -->
      <ng-container matColumnDef="serviceDescription">
        <th mat-header-cell *matHeaderCellDef>Service Description</th>
        <td mat-cell *matCellDef="let row">{{row.serviceDescription || 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef>Order</th>
        <td mat-cell *matCellDef="let row">{{row.order || 0}}</td>
      </ng-container>


      <!-- serviceDescription Column -->
      <ng-container matColumnDef="isArchive">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.isArchive ? 'InActive' : 'Active' }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef > <span *ngIf="localStorage?.configurations == 3">Action</span></th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button class="btn btn-light has-icon"  *ngIf="localStorage?.configurations == 3" [routerLink]="[ '/services/edit', row._id]" md-raised-button><i class="icon ion-md-create"></i></button>
          <!-- <button class="btn btn-light has-icon" (click)="deleteService(row._id)" md-raised-button><i class="icon ion-md-trash"></i></button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>
