<div class="sub-nav">
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/workers/edit/profile-details' ]"  [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        1. Profile Details
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/workers/edit/edit-services']" [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        2. Edit Services
      </a>
    </li>
    <!-- <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/workers/edit/Id-doc']" [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        3. Identity Document
      </a>
    </li> -->
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/workers/edit/certificate-doc' ]" [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        4. Service Certificates</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/workers/edit/portfolio' ]" [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        5. Portfolio</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/workers/edit/personal' ]" [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        6. Edit Bank Info</a>
    </li>
    <!-- <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/workers/edit/languages' ]" [queryParams]="{ workerId: workerId, from:comingFrom}" routerLinkActive="btn-primary-color">
        6. Edit Languages</a>
    </li> -->
  </ul>
</div>


<router-outlet></router-outlet>