// @import './../../../../assets/styles/base.scss';

@import '../../../../../assets/styles/base.scss';

.sub-title {
  color: #9F9E9F;
  margin-bottom: 30px;
}

.sub-nav ul.navbar-nav li.nav-item.add-new-btn a.nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sub-nav {
  padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 0.5rem;
}

label {
  color: #9F9E9F;
}

input {
  border-radius: 10px;
  font-size: 14px;
}

.phonecode {
  position: absolute;
  top: 37px;
  left: 12px;
}

.phoneNumber {
  padding-left: 45px
}

// dropdowns

.vo-dd-parent .dropdown-menu.show,
.manufacturer-dd-parent .dropdown-menu.show,
.vt-dd-parent .dropdown-menu.show,
.modelName-dd-parent .dropdown-menu.show, 
.bank-dd-parent .dropdown-menu.show, 
.exp-icn-dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  padding: 0 !important;
  width: 100%;
  /* min-width: 100px !important; */
  left: 0px !important;
  max-height: 350px;
  overflow-y: scroll;
}

.vo-dd-parent .dropdown-item,
.manufacturer-dd-parent .dropdown-item,
.vt-dd-parent .dropdown-item,
.modelName-dd-parent .dropdown-item, 
.bank-dd-parent .dropdown-item, 
.exp-icn-dd-parent .dropdown-item {
  padding: .25rem 1rem !important;
}

.vo-dd-parent .btn,
.manufacturer-dd-parent .btn,
.vt-dd-parent .btn,
.modelName-dd-parent .btn, 
.bank-dd-parent .btn, 
.exp-icn-dd-parent .btn {
  box-shadow: none !important;
  outline: none;
  border-color: #DDDDDD;
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: white;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 12px; // only for this view
  padding-right: 12px; // only for this view 
  margin-bottom: 1rem // only for this view
}

.vo-dd-parent .dropdown-toggle::after,
.manufacturer-dd-parent .dropdown-toggle::after,
.vt-dd-parent .dropdown-toggle::after,
.modelName-dd-parent .dropdown-toggle::after, 
.bank-dd-parent .dropdown-toggle::after, 
.exp-icn-dd-parent .dropdown-toggle::after {
  margin-left: unset !important;
  float: right;
  margin-top: 7px;
}


.dropdown-toggle::after {
  margin-left: 1.255em !important;
}

// dropddowns ends here
// checkbox
::ng-deep .mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}

::ng-deep .mat-checkbox-label {
  font-size: 12px !important;
}

// checkbox ends here

// images
#vehicle-info .images-label, 
#my-kad .images-label,
#license .images-label {
  font-size: 12px;
  color: rgba(0,0,0,.87)
}

#vehicle-info .images-child {
  margin-top: 45px;
}
// images ends here

// preview
.details-table tr th {
  width: 31%;
}

.identity-docs .wrap-image {
  display: inline-block;
  margin-right: 25px;
}

.identity-docs .wrap-image img {
  width: 170px;
  height: 170px;
  border-radius: 0.6rem;
  border: 1px solid #DDDDDD;
}

@media only screen and (max-width: 1200px) {
  .identity-docs .wrap-image {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}
// preview ends here

.inactiveLink {
  pointer-events: none !important;
  cursor: default;
  // background-color: white !important;
}