<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">Commission Settings</div>
      <div class="title">
        <button class="btn btn-primary-color " (click)="commissionAction('Add', '')">Add</button>
      </div>


      <div class="row plr-15">
        <!-- form fields -->
        <div class="col-md-12 no-padding">

          <table mat-table [dataSource]="commissionsArray" class="responsive-table">
            <ng-container matColumnDef="range">
              <th mat-header-cell *matHeaderCellDef class="comm-table-head">Range</th>
              <td mat-cell *matCellDef="let row" class="comm-table-val">{{row?.minRange}} - {{row?.maxRange}}</td>
            </ng-container>
            <ng-container matColumnDef="commission">
              <th mat-header-cell *matHeaderCellDef class="comm-table-head">Commission %</th>
              <td mat-cell *matCellDef="let row" class="comm-table-val">{{row?.commissionPercentage}}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row; let i =index" class="cursor-pointer">
                <img src="../../../../assets/images/edit-blue.png" alt="edit icon" class="cursor-pointer mr-2"
                  loading="lazy" (click)="commissionAction('Edit', row)">
                <img src="../../../../assets/images/trash-icon.png" alt="block icon" class="cursor-pointer"
                  loading="lazy" (click)="updateCommission(i,row)">
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="commissionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: commissionColumns;"></tr>
          </table>

          <mat-toolbar class="toolbar" *ngIf="commissionsArray && commissionsArray.length === 0">
            <span>No Records Found.</span>
          </mat-toolbar>

          <!-- <div class="col-md-12 no-padding mt-3" *ngIf="localStorage?.configurations == 3">
            <button class="btn btn-primary-color save-btn" [disabled]="!model.workerCommissionPercentage || isDisabled"
              (click)="updateCommission()">Save</button>
          </div> -->
          <!-- <div class="col-md-12 no-padding mt-3" *ngIf="localStorage?.configurations == 3">
            <button class="btn btn-primary-color save-btn">Save</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</mat-card>