@import './../../../../assets/styles/base.scss';
// Generic form settings || i have removed the useless divs and wrapper etc
.title {
    font-size: 20px;
    margin-bottom: 20px;
}

// generic settings ends here
.comm-text {
    width: 20%;
}

.comm-input {
    width: 20%;
}

.comm-empty {
    width: 55%
}

.comm-actions {
    width: 5%;
}

table tr {
    border-bottom: 1px solid #F2F4F8;
}

table tr td {
    padding: 15px 0;
}

.color-label {
    color: $label-color
}

.driver-input {
    width: 80%;
}