<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="row row-auto">

  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item" (click)="changeType(1)">
        <a class="nav-link btn-light-color" [routerLink]="[ '/map/active']" routerLinkActive="btn-primary-color">Active
          workers ({{countWorkers?.activeSP || 0}})</a>
      </li>

      <li class="nav-item" (click)="changeType(2)">
        <a class="nav-link btn-light-color" [routerLink]="[ '/map/inactive']"
          routerLinkActive="btn-primary-color">Online workers ({{countWorkers?.onlineSp || 0}})</a>
      </li>

      <li class="nav-item" (click)="changeType(3)">
        <a class="nav-link btn-light-color" [routerLink]="[ '/map/offline']"
          routerLinkActive="btn-primary-color">Offline workers ({{countWorkers?.offlineSp || 0}})</a>
      </li>

      <li class="nav-item" (click)="changeType(4)">
        <a class="nav-link btn-light-color" [routerLink]="[ '/map/worker']"
          routerLinkActive="btn-primary-color">Workers ({{countWorkers?.totalWorkers || 0}})</a>
      </li>

    </ul>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12 pr-0">

    <!-- map active Workers -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReady($event)">
      <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="marker"> </agm-marker>
      <agm-marker *ngFor="let i of workersList" [latitude]="i.latitude" [longitude]="i.longitude" [iconUrl]="i.image"
        (markerClick)="markerClicked($event,i,total)">
      </agm-marker>
    </agm-map>

  </div>

  <div class="col-lg-3 col-md-3 col-sm-12 pl-0 white-bg">
    <div class="workers-with-job">
      <span class="span-title" *ngIf="routeType==1">Workers with Job</span>
      <span class="span-title" *ngIf="routeType==2">Total Workers</span>


      <div *ngIf="routeType == 2 || routeType == 3 || routeType == 4" class="d-inline-block vt-dd-parent" ngbDropdown>
        <button style="margin-bottom: 10px;" class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{jobFilterText?.serviceName}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let job of jobType" (click)="filter(job)">{{job.serviceName}}</button>
        </div>
      </div>


      <div *ngIf="routeType==1">
        <div id="loc{{i}}" class="row mb-3" *ngFor="let item of workersList; let i = index"
          (click)="showDriverInfo(item,i)" [ngClass]="{'bg-color-highlight': item?.isClicked}" #total>
          <div class="col-md-1 pr-0 number">
            <span>{{i + 1}}.</span>
          </div>

          <div class="col-md-2 pl-0 image pr-0">
            <img class="user-image" src="{{item.profileImage || globals.defaultImage}}">
          </div>

          <div class="col-md-9" id="offer-time-info">
            <div>
              <span class="job-title">{{item.name}}</span>
              <span class="offers mr-5">Online</span>
            </div>
            <div class="info">
              <span>Job Id: </span>{{item.JobIdIdentifier}}
            </div>

            <div class="info">{{item.service}} . Active
              <img *ngIf="!item?.isClicked" class="nav-image mr-3" src="../../../../assets/images/icon_next.svg"
                (click)="viewJob(item._id)">
              <img *ngIf="item?.isClicked" class="nav-image mr-3" src="../../../../assets/images/icon_next_white.svg"
                (click)="viewJob(item._id)">
            </div>
            <div class="info">{{item.distanceAway}} Away</div>
          </div>
        </div>

      </div>

      <div *ngIf="routeType==2">
        <div id="loc{{i}}" class="row mb-3" *ngFor="let item of workersList; let i = index"
          (click)="showDriverInfo(item,i)" [ngClass]="{'bg-color-highlight': item?.isClicked}" #total>
          <div class="col-md-1 pr-0 number">
            <span>{{i + 1}}.</span>
          </div>

          <div class="col-md-2 pl-0 image pr-0">
            <img class="user-image" src="{{item.profileImage || globals.defaultImage}}">
          </div>

          <div class="col-md-9" id="offer-time-info">
            <div>
              <span class="job-title">{{item.firstName}} {{item.lastName}}</span>
              <span class="offers mr-5">{{item.isSpOnline? 'Online': 'offline'}}</span>
            </div>
            <!-- <div class="info"><span>Job Id: </span>{{item.JobIdIdentifier}}</div> -->

            <!-- <div class="info" >{{item.service}} . Active <img *ngIf="!item?.isClicked" class="nav-image mr-3" src="../../../../assets/images/icon_next.svg"
                    (click)="viewJob(item._id)">
                    <img *ngIf="item?.isClicked" class="nav-image mr-3" src="../../../../assets/images/icon_next_white.svg"
                    (click)="viewJob(item._id)">
                </div>
                <div class="info">{{item.distanceAway}} Away</div> -->
          </div>
        </div>

      </div>

      <div *ngIf="routeType==3">
        <div id="loc{{i}}" class="row mb-3" *ngFor="let item of workersList; let i = index"
          (click)="showDriverInfo(item,i)" [ngClass]="{'bg-color-highlight': item?.isClicked}" #total>
          <div class="col-md-1 pr-0 number">
            <span>{{i + 1}}.</span>
          </div>

          <div class="col-md-2 pl-0 image pr-0">
            <img class="user-image" src="{{item.profileImage || globals.defaultImage}}">
          </div>

          <div class="col-md-9" id="offer-time-info">
            <div>
              <span class="job-title">{{item.firstName}} {{item.lastName}}</span>
              <span class="offers mr-5">{{item.isSpOnline? 'Online': 'offline'}}</span>
            </div>
            <!-- <div class="info"><span>Job Id: </span>{{item.JobIdIdentifier}}</div> -->

            <!-- <div class="info" >{{item.service}} . Active <img *ngIf="!item?.isClicked" class="nav-image mr-3" src="../../../../assets/images/icon_next.svg"
                    (click)="viewJob(item._id)">
                    <img *ngIf="item?.isClicked" class="nav-image mr-3" src="../../../../assets/images/icon_next_white.svg"
                    (click)="viewJob(item._id)">
                </div>
                <div class="info">{{item.distanceAway}} Away</div> -->
          </div>
        </div>

      </div>

      <div *ngIf="routeType==4">
        <div id="loc{{i}}" class="row mb-3" *ngFor="let item of workersList; let i = index"
          (click)="showDriverInfo(item,i)" [ngClass]="{'bg-color-highlight': item?.isClicked}" #total>
          <div class="col-md-1 pr-0 number">
            <span>{{i + 1}}.</span>
          </div>

          <div class="col-md-2 pl-0 image pr-0">
            <img class="user-image" src="{{item.profileImage || globals.defaultImage}}">
          </div>

          <div class="col-md-9" id="offer-time-info">
            <div>
              <span class="job-title">{{item.companyName}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>