@import './../../../../assets/styles/base.scss';
.map-header {
    border-bottom: 1px solid #e1e1e1;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.map-heading {
    margin-bottom: 8px;
    font-size: 2rem;
}

.map-content {
    padding: 0 15px 0 0;
    font-size: 14px;
}

.map-content form * {
    font-family: $label-color
}

agm-map {
    height: 85vh;
}

.info-window {
    width: 450px;
    position: absolute;
    left: 16.5%;
    z-index: 1;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: .6rem;
    top: 17%;
}
.row-auto{
    margin: auto;
}

.user-image {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-left: 7px;
}
.bg-color-highlight * {
    background-color: $primary-color !important;
    color: #fff !important
}
.nav-image {
    width: 20px;
    float: right;
    margin-top: -7px;
    cursor: pointer;
    background-color: white;
}

.location-company {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding-top: 5px;
}

.left-side {
    display: inline-block;
    width: 26%;
    color: $label-color
}

.right-side {
    display: inline-block;
    width: 74%
}

.offers {
    float: right;
    color: $label-color;
    font-size: 12px;
}

.job-title {
    font-family: 'ubuntuMedium';
}

.info {
    color: $label-color;
    font-size: 14px;
}

.white-bg {
    background-color: #FFFF;
    height: 85vh;
    overflow-y: scroll;
}

.workers-with-job {
    background-color: #FFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.span-title {
    font-family: 'ubuntuMedium';
    padding-bottom: 10px;
    display: block;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    align-items: center;
}