<h2 style="font-size: 24px;">Reviews</h2>

<div *ngIf="ratingsFound && ratingsFound.length > 0; else noData">

<div class="card1" *ngFor="let item of ratingsFound;">
  <div class="imageDiv">
    <img class="image" [src]="item?.userProfileImage || globals.defaultImage" alt="Girl in a jacket" width="50"
      height="50" />
  </div>
  <div class="header">
    <div>
      <p class="spName">{{item.userName}}</p>
      <ngb-rating class="rating" [max]='5' [(rate)]="item.userRated" [readonly]="true"></ngb-rating>
      <p class="review">{{item.userReview}}</p>
    </div>
    <div class="date">
      <p>{{item.time}}</p>
    </div>
  </div>

</div>

</div>
<ng-template #noData>
  <div class="no-Data-Found">
    <img src="../../../../assets/images/No_Reviews.svg" alt="job" width="250px" height="250px">
    <h3 class="no-data">No Reviews Yet</h3>
  </div>
</ng-template>
