<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/users' ]">Listing</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/users/user-activity' ]"
          routerLinkActive="btn-primary-color">User Activity</a>
      </li>

    </ul>
  </div>
</div>
<mat-card>
  <div class="table-container">
    <!-- <div class="title">
      <a class="btn btn-primary-color export-btn" (click)="exportAsXLSX()">Export</a>
    </div> -->

    <div class="clear-both"> </div>
    <table class="mt-4" matSort mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)">

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="Mobile Number">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="Step Completed">
        <th mat-header-cell *matHeaderCellDef>Step Completed</th>
        <td mat-cell *matCellDef="let row">{{row.stepCompleted}}</td>
      </ng-container>

      <ng-container matColumnDef="Service">
        <th mat-header-cell *matHeaderCellDef>Service</th>
        <td mat-cell *matCellDef="let row">{{row.slug}}</td>
      </ng-container>

      <ng-container matColumnDef="dateTime">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Date & Time</th>
        <td mat-cell *matCellDef="let row">{{(row.createdAt | dateTimeFormatIsoPipe ) || 'N/A'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>