@import './../../../../assets/styles/base.scss';
.status-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.status-radio-group .status-radio-button {
    margin: 5px;
}

.title {
    font-size: 20px;
    margin-bottom: 25px;
}