<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="fluid-container">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/banks']">Back</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">Add New Bank</div>
      <div class="row plr-15">

        <form #bankForm="ngForm" class="col-md-8">

          <!-- form fields -->
          <div class="row">

            <!-- bank name -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="name">Bank Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="e.g HSBC Bank"
                [(ngModel)]="model.name" #name="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Bank Name is required!</div>
              </div>
            </div>

            <!-- status -->
            <div class="form-group col-md-12 no-pd-lt">
              <div class="statusLabel mb-3">Status</div>
              <div>
                <mat-radio-group class="status-radio-group" name="status" [(ngModel)]="model.status">
                  <mat-radio-button class="status-radio-button" value="0" [checked]='true'>Active</mat-radio-button>
                  <mat-radio-button class="status-radio-button" value="1">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="bankForm.invalid">Save</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>