<div class="image-preview-container" *ngIf="previewImage">
  <div class="image-wrapper">
    <img class="close-btn" (click)="closePreview()" src="assets/images/button-close.svg">
    <img [src]="previewImageUrl">
  </div>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" *ngIf="workerType=='new'"
          [routerLink]="[ '/workers/new-requests']">Back</a>
        <a class="nav-link btn-dark-color btn-back" *ngIf="workerType=='current'"
          [routerLink]="[ '/workers/listing']">Back</a>
      </li>
      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color" *ngIf="workerType=='current' && previewData.spProfile?.isVerifiedByAdmin"
          (click)="viewJobHistory()">View Job History</a>
        <a class="nav-link btn-primary-color"
          *ngIf="workerType=='current' && localStorage?.workers == 3 && previewData.spProfile?.isVerifiedByAdmin && localStorage?.userType == 'Admin'"
          href="{{exportDataURL}}">Export Worker Profile Data</a>
        <!-- <a class="nav-link btn-primary-color" *ngIf="localStorage?.workers == 3" (click)="update()">Delete Worker</a> -->
      </li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper-content">

    <!-- jobs -->
    <div class="col-md-4 card-container">
      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon">
            <img class="customImageTop" src="assets/images/total-jobs-icon.png">
          </div>
          <div class="card-number">{{previewData?.jobsObj?.totalJobs}}</div>
          <div class="card-text">Total Jobs</div>
        </mat-card>
      </div>
      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon">
            <img class="customImageTop" src="assets/images/past-jobs-icon.png">
          </div>
          <div class="card-number">{{previewData?.jobsObj?.completedJobs}}</div>
          <div class="card-text">Past Jobs</div>
        </mat-card>
      </div>
      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon">
            <img class="customImageTop" src="assets/images/schedule-jobs-icon.png">
          </div>
          <div class="card-number">{{previewData?.jobsObj?.pendingJobs}}</div>
          <div class="card-text">Pending Jobs</div>
        </mat-card>
      </div>

      <!-- Driver Profile -->
      <div class="col-md-12 custom-card" *ngIf="previewData.spProfile">
        <mat-card>
          <div class="title">Worker Profile</div>
          <!-- <a class="btn btn-dark-color">Export</a> -->
          <table class="text-center profile-table" *ngIf="previewData.spProfile">
            <tr>
              <td colspan="2" class="text-center">
                <img [src]="previewData.spProfile?.profileImage || globals.defaultImage" alt="">
              </td>
            </tr>
            <!-- <tr>
              <div class="left-side">Id</div>
              <div class="right-side">{{previewData?.spProfile?.id || 'N/A'}}</div>
            </tr> -->
            <tr>
              <div class="left-side">First Name</div>
              <div class="right-side">{{(previewData?.spProfile?.firstName || 'N/A')}}
              </div>
            </tr>
            <tr>
              <div class="left-side">Last Name</div>
              <div class="right-side">{{(previewData?.spProfile?.lastName || 'N/A')}}
              </div>
            </tr>
            <!-- <tr>
              <div class="left-side">Job</div>
              <div class="right-side">{{(previewData?.spProfile?.services || 'N/A')}}
              </div>
            </tr> -->
            <tr>
              <div class="left-side">Mobile Number</div>
              <div class="right-side">{{(previewData?.spProfile?.phone || 'N/A')}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobile" (click)="Enablegdpr('mobile')">
                  <span appGdpr *ngIf="showData.mobile" [dataModel]="{requestField:'phone', id:spId, userType:'sp'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </div>
            </tr>
            <tr>
              <div class="left-side">Email Address</div>
              <div class="right-side">{{previewData?.spProfile?.email || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.email" (click)="Enablegdpr('email')">
                  <span appGdpr *ngIf="showData.email" [dataModel]="{requestField:'email', id:spId, userType:'sp'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </div>
            </tr>
            <!-- <tr>
              <div class="left-side">{{localStorage.regionId === 3 ? 'KTP
                (Kartu Tanda Penduduk)' : 'MyKad'}}</div>
              <div class="right-side">

                <a *ngIf="previewData?.driverData?.myKadUrl" [href]="previewData?.driverData?.myKadUrl" target="_blank">Click
                  Here</a>

                <div *ngIf="!previewData?.driverData?.myKadUrl">N/A</div>
              </div>
            </tr> -->
            <tr>
              <div class="left-side">Rating</div>
              <div class="right-side">
                {{(previewData.spProfile?.avgRating ? previewData.spProfile?.avgRating : 'N/A') || 'N/A'}}</div>
            </tr>
            <tr *ngIf="previewData.spProfile?.isVerifiedByAdmin">
              <div class="left-side">Commission</div>
              <div class="right-side">{{previewData.spProfile?.commissionPercentage}}%</div>
            </tr>
            <tr>
              <div class="left-side">Joining Date</div>
              <div class="right-side">{{(previewData.spProfile?.createdAt | dateFormatIsoPipe) || 'N/A'}}</div>
            </tr>
            <!-- <tr>
              <div class="left-side">Last Active</div>
              <div class="right-side">{{(previewData.driverData?.lastActiveDate | dateFormatIsoPipe) || 'N/A'}}</div>
            </tr>
            <tr *ngIf="previewData.driverData?.isAdminVerified">
              <div class="left-side">Account Verified Date</div>
              <div class="right-side">{{(previewData.driverData?.isAdminVerifiedDate |
                dateFormatIsoPipe) || 'N/A'}}</div>
            </tr>
            <tr *ngIf="previewData.driverData?.isBlocked">
              <div class="left-side">Account Blocked Date</div>
              <div class="right-side">{{(previewData.driverData?.isBlockedDate |
                dateFormatIsoPipe) || 'N/A'}}</div>
            </tr> -->
            <tr>
              <div class="left-side">Profile Status</div>
              <div class="right-side"
                *ngIf="previewData.spProfile?.isVerifiedByAdmin && !previewData.spProfile?.isRejectedByAdmin">Verified
              </div>
              <div class="right-side"
                *ngIf="!previewData.spProfile?.isVerifiedByAdmin && !previewData.spProfile?.isRejectedByAdmin">
                Unverified</div>
              <div class="right-side" *ngIf="previewData.spProfile?.isRejectedByAdmin">Rejected</div>
              <!-- <div class="right-side" *ngIf="previewData.driverData?.isAdminVerified && !previewData.driverData?.isAdminRejected && !previewData.driverData?.isBlocked">Verified</div>
              <div class="right-side" *ngIf="!previewData.driverData?.isAdminRejected && !previewData.driverData?.isAdminVerified && !previewData.driverData?.isBlocked">New
                Request</div> -->
            </tr>

            <tr *ngIf="previewData.spProfile?.isVerifiedByAdmin">
              <div class="left-side">Account Status</div>
              <div class="right-side" *ngIf="!previewData.spProfile?.isBlocked">Active</div>
              <div class="right-side" *ngIf="previewData.spProfile?.isBlocked">Blocked</div>
            </tr>

            <tr *ngIf="previewData.spProfile?.isBlocked">
              <div style="vertical-align: top;" class="left-side">Blocking Reason</div>
              <div class="right-side">{{previewData.spProfile?.reason ? previewData.spProfile?.reason : 'N/A'}}</div>
            </tr>

          </table>

          <div class="driver-actions" [ngClass]="{'rejected-driver': previewData.driverData?.isAdminRejected}">

            <!-- block unblock -->
            <div class="btn-profile width-45 mr-1" *ngIf="previewData.spProfile?.isVerifiedByAdmin">
              <!-- <a class="btn btn-dark-color width-100perc" *ngIf="localStorage?.workers == 3"
                (click)="userStatusUpdate(previewData?.spProfile?.isBlocked)">{{blockDriverText}}</a> -->

              <a class="btn btn-dark-color width-100perc"
                *ngIf="localStorage?.workers == 3 && previewData?.spProfile?.isBlocked"
                (click)="userStatusUpdate(previewData?.spProfile?.isBlocked)">{{'Un-Block Worker'}}</a>
              <a class="btn btn-dark-color width-100perc"
                *ngIf="localStorage?.workers == 3 && !previewData?.spProfile?.isBlocked"
                (click)="blockUserDial()">{{'Block User'}}</a>

            </div>

            <!-- reject -->
            <div class="width-45 btn-profile"
              *ngIf="!previewData.spProfile?.isVerifiedByAdmin && !previewData.spProfile?.isRejectedByAdmin && localStorage?.workers == 3">
              <a class="btn btn-dark-color width-100perc" (click)="isReject=!isReject">Reject</a>
            </div>

            <!-- if rejected or if neither rejected no verified : show approve -->
            <div class="btn-profile width-45 mr-1 ml-1"
              *ngIf="!previewData.spProfile?.isVerifiedByAdmin && !previewData.spProfile?.isRejectedByAdmin && localStorage?.workers == 3">
              <a class="btn btn-primary-color width-100perc" (click)="commisionDial()">Approve</a>
            </div>

            <!-- if suspended : show approve-->
            <!-- <div class="btn-profile width-45 mr-1" *ngIf="previewData.spProfile?.isSuspended">
              <a class="btn btn-primary-color width-100perc" (click)="approveSuspended()">Approve</a>
            </div> -->

            <!-- edit driver -->
            <div class="btn-profile width-45 mr-1">
              <a class="btn btn-primary-color width-100perc" *ngIf="localStorage?.workers == 3"
                (click)="editWorker()">Edit Worker</a>
            </div>

            <div class="btn-profile width-45 mr-1">
              <a class="btn btn-primary-color width-100perc" *ngIf="localStorage?.workers == 3"
                (click)="feedbackDial()">Feedback</a>
            </div>

            <!-- locate driver -->
            <!-- <div class="btn-profile width-45 mr-1">
              <a class="btn btn-primary-color width-100perc" (click)="showLocation()" [scrollTo]="'#place1'"
                [scrollDuration]="1000" [scrollOffset]="800">Locate Driver</a>
            </div> -->
          </div>

          <div class="profile-actions" *ngIf="isReject && localStorage?.workers == 3">
            <form #form="ngForm">
              <div class="form-group">
                <label for="rejectionReason">Rejection Reason</label>
                <textarea rows="4" cols="50" required id="rejectionReason" [(ngModel)]="rejectionReason"
                  name="rejectionReasonModel" #rejectionReasonModel="ngModel" class="form-control"
                  placeholder="Enter Rejection Reason" rows="6"></textarea>

                <div class="form-control-feedback globar-error-text"
                  *ngIf="rejectionReasonModel.touched && rejectionReasonModel.invalid">
                  <div *ngIf="rejectionReasonModel.errors.required">Rejection reason is required</div>
                </div>
              </div>
              <div class="col-md-4 btn-profile no-padding">
                <a class="btn btn-dark-color" [ngClass]="{'inactiveLink': form.invalid}" (click)="reject()">Confirm</a>
              </div>
            </form>
          </div>

        </mat-card>
      </div>
    </div>

    <!-- Service Details -->
    <!-- <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Services</div>
          <div>
            <div class="row margin0" *ngFor="let service of previewData?.spProfile?.services;trackBy: trackByFn">
              <div class="row width-100perc">
                <div class="col-sm-1 imageFlex">
                  <img [src]="service?.serviceId?.serviceImage" alt="icon">
                </div>
                <div class="col-sm-10">
                  <div class="col-sm-6 leftSide">{{service?.serviceId?.serviceName}}</div>
                  <div class="col-sm-6 rightSide">€{{service?.serviceHourlyRate | number:'1.2-2' || 'N/A'}}/hr</div>
                  <div class="col-sm-12 bottomSide"> {{service?.serviceId?.serviceDescription}}</div>
                  <hr class="customHr">
                </div>

              </div>

            </div>
          </div>

        </mat-card>
      </div>
    </div> -->

    <!-- Verification docs -->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <!-- <div class="title">Documents</div> -->
          <!-- Identity docs -->
          <div class="identity-docs">
            <!-- first row -->

            <!-- <div class="row">
              <div class="col-sm-3 bottomMargin">
                <div class="labelOuter">
                  <label>ID Card Front Image</label>
                  <a *ngIf="previewData?.verification?.identityFront"
                    (click)="previewImageViewer(previewData?.verification?.identityFront)" class="eyeImage">
                    <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.IdImage" (click)="Enablegdpr('IdImage')">
                      <span appGdpr *ngIf="showData.IdImage"
                        [dataModel]="{requestField:'identityVerificationDocuments', id:spId, userType:'sp'}"
                        (returnedData)="GotGDPRDATA($event)"></span>
                    </div>
                  </a>
                </div>
                <div>
                  <img class="driver-profile-images no-image blurImg" *ngIf="!previewData.verification?.identityFront">
                  <img class="driver-profile-images blurImg" *ngIf="previewData.verification?.identityFront"
                    [src]="previewData.verification?.identityFront">
                </div>
              </div>
            </div> -->

            <div *ngIf="previewData?.spProfile?.portfolio?.length > 0">
              <div class="title">Portfolio</div>

              <div class="row">
                <div *ngFor="let images of previewData.spProfile.portfolio;trackBy: trackByFn" class="col-sm-3">
                  <div class="labelOuter">
                    <a *ngIf="images.url" (click)="previewImageViewer(images.url)" class="eyeImage">
                      <i class="icon ion-md-eye eyeIcon"></i>
                    </a>
                  </div>
                  <div>
                    <img class="driver-profile-images no-image blurImg" *ngIf="!images.url && images.type == 0">
                    <img class="driver-profile-images blurImg" *ngIf="images.url && images.type == 0"
                      [src]="images.url">

                    <video class="driver-profile-images" controls *ngIf="images.type == 1">
                      <source [src]="images.url" type="video/mp4">
                      <!-- <source src="movie.ogg" type="video/ogg">-->
                      Your browser does not support the video tag.
                    </video>

                  </div>

                </div>
              </div>
            </div>

            <div *ngIf="previewData?.docs?.length > 0">
              <div class="title">Certificates</div>
              <!-- <label>ID Card Front Image</label> -->

              <!-- second row -->
              <div class="row">
                <!-- <div class="col-sm-12 docsOuter"> -->
                <div *ngFor="let images of previewData.docs;trackBy: trackByFn" class="col-sm-3">
                  <div class="labelOuter">
                    <label>{{images.professionalDocsTitle}}</label>
                    <a *ngIf="images.professionalDocsFront" (click)="previewImageViewer(images.professionalDocsFront)"
                      class="eyeImage">
                      <i class="icon ion-md-eye eyeIcon"></i>
                    </a>
                  </div>
                  <div>
                    <img class="driver-profile-images no-image blurImg" *ngIf="!images.professionalDocsFront">
                    <img class="driver-profile-images blurImg" *ngIf="images.professionalDocsFront"
                      [src]="images.professionalDocsFront">

                    <!-- </div> -->
                  </div>

                </div>
              </div>

              <a class="btn btn-primary-color width-50perc" *ngIf="!previewData.spProfile.certificateApproved"
                (click)="verifyCertificate()">Approve Certificate</a>
            </div>
          </div>

        </mat-card>
      </div>
    </div>

    <!-- Bank Information -->
    <!-- <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Bank Information</div>
          <table class="text-center details-table">
            <tr>
              <th>Bank Name</th>
              <td class="text-capitalize">{{previewData.bankInfo?.bankName || 'N/A'}}</td>
            </tr>
            <tr>
              <th>Account Holder's Name</th>
              <td>{{previewData.bankInfo?.accountHolderName || 'N/A'}}</td>
            </tr>
            <tr>
              <th>Bank Account Number</th>
              <td>{{previewData.bankInfo?.bankIbnNumber || 'N/A'}}
                  <div class="icon ion-md-eye eyeIconBank" *ngIf="showEye.bank" (click)="Enablegdpr('bank')">
                      <span appGdpr *ngIf="showData.bank" [dataModel]="{requestField:'bankInfo', id:spId, userType:'sp'}" (returnedData)="GotGDPRDATA($event)"></span>
                    </div>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
    </div> -->

    <!-- Account Details -->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Account Details</div>
          <table class="text-center details-table">
            <tr>
              <th>Terms & Conditions version</th>
              <td class="text-capitalize">{{previewData.spProfile?.termAndConditionCurrentVersion || 'N/A'}}</td>
            </tr>
            <tr>
              <th>Privacy Policy version</th>
              <td class="text-capitalize">{{previewData.spProfile?.privacyPolicyCurrentVersion || 'N/A'}}</td>
            </tr>
            <tr>
              <th>Languages</th>
              <td class="">
                <div class="row">
                  <div class="col-sm-4" *ngFor="let languages of previewData?.spProfile?.languages;trackBy: trackByFn">
                    {{languages?.languageId?.label || 'N/A'}} ({{languages?.proficiencyId?.label || 'N/A'}})
                  </div>
                </div>
              </td>
              <!-- <td  *ngFor="let languages of previewData.spProfile.languages;trackBy: trackByFn" >{{languages.proficiencyId.label || 'N/A'}}</td> -->
            </tr>
          </table>
        </mat-card>
      </div>
    </div>


    <!-- locate driver -->
    <!-- <div id="place1">
      <div class="col-md-8 card-container pull-right" *ngIf="locateDriver">
        <div class="col-md-12 custom-card">
          <mat-card>
            <agm-map [latitude]="previewData?.driverData?.latitude" [longitude]="previewData?.driverData?.longitude"
              [zoom]="zoom">
              <agm-marker [latitude]="previewData?.driverData?.latitude" [longitude]="previewData?.driverData?.longitude"
                (markerClick)="clickedMarker(infowindow)">
                <agm-info-window #infowindow>
                  {{previewData?.driverData?.firstName + ' ' +
                  previewData?.driverData?.lastName}}

                  <br>

                  {{previewData?.driverData?.phoneNumberPrefix + ' ' +
                  previewData?.driverData?.phoneNumber}}
                  <br>

                  {{previewData.driverData?.lastActiveDate | dateTimeFormatIsoPipe}}
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </mat-card>
        </div>
      </div>
    </div> -->
  </div>
</div>