@import './../../../../assets/styles/base.scss';
.wrapper .wrapper-content mat-card .title {
    // float: left;
    width: 50%;
}

mat-card a.btn {
    font-size: 14px;
    color: $white;
    float: right;
    border-radius: 0.6rem;
    margin-top: 5px;
}

textarea textarea:active,
textarea:focus,
textarea:hover {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 12px;
}

.sub-nav {
    padding: 0 5.5%;
}

.btn-profile a {
    padding: 10px 15px;
    font-size: 14px;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

.rejected-driver {
    display: flex;
    justify-content: center;
}
.eyeIconBank{
    font-size: 18px;
    margin-right: 1rem;
    margin-left: 6rem;
    color: #3866de;
    display: initial;
    cursor: pointer;
}
// driver profile left side
.left-side {
    display: inline-block;
    padding-right: 20px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
}

// driver profile right side
.right-side {
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all; // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

a {
    color: #cd0000
}

.details-table tr td {
    padding: 8px 0;
}
.details-table tr th {
   text-align: left;
}

.driver-profile-img-td {
    width: 25%;
}

.driver-profile-images {
    width: 170px !important;
    height: 170px !important;
    border-radius: .6rem !important;
}

//Image popup
.view-image {
    width: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #cd0000 !important;
    cursor: pointer;
}

.image-preview-container {
    position: fixed;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 999;
    margin: auto;
    min-height: 100%;
  }
  .image-wrapper {
    width: 1024px;
    margin: auto;
    padding: 60px 0;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .image-wrapper img {
    float: left;
    width: auto;
    height: 88vh;
    max-width: 54vw;
  }
  
  .image-wrapper img.close-btn {
    width: 25px;
    position: absolute;
    right: -35px;
    z-index: 9999;
    cursor: pointer;
    height: 20px;
  }
  
.driver-actions {
    display: flex;
    justify-content: space-around;
}

.width-45 {
    width: 45%;
}

.driver-profile-img-td span,
.driver-profile-img-td-last span,
    {
    display: block;
    width: 170px;
    height: 35px;
}

textarea.form-control {
    height: auto !important;
}

agm-map {
    width: 100%;
    height: 25vh;
}
.leftSide{
    color: #777777;
    font-weight: normal;
    padding: 10px 5px 5px;
    font-weight: bold;
}
.bottomSide{
    font-weight: normal;
    padding: 0px 10px 10px 5px;
}
.customHr{
    border-bottom: 1px solid #F2F4F8;
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: none;
    width: 100%;
}
.docsOuter{
    display: flex;
}
.bottomMargin{
    margin-bottom: 3rem;
}
.labelOuter{
    width: 12rem;
}
.customImageTop{
    border-radius: unset !important;
    border: none !important;
    width: auto !important;
}
.rightSide{
    padding: 10px 5px 5px;
}
.imageFlex{
    justify-content: center;
    text-align: center;
    align-self: center;
}
.margin0{
    margin-left: 0px;
}