@import './../../../../../assets/styles/base.scss';

input {
  border-radius: 10px;
}

label {
  color: #9F9E9F;
}

mat-card {
  width: 89.2%;
}

.title {
  margin-top: 12px;
  font-family: "ubuntuBold";
  font-size: 16px;
}

.plr-10 {
  padding-left: 15px;
  padding-right: 15px;
}

.sub-title {
  color: #9F9E9F;
  margin-bottom: 30px;
}

.file-upload span {
  height: 30px;
}

.next-btn {
  border-radius: 0.6rem;
  padding: 10px 15px; // width: 100%;
  width: 180px;
}

.vo-dd-parent .dropdown-menu.show,
.manufacturer-dd-parent .dropdown-menu.show,
.vt-dd-parent .dropdown-menu.show,
.modelName-dd-parent .dropdown-menu.show, 
.bank-dd-parent .dropdown-menu.show, 
.exp-icn-dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  padding: 0 !important;
  width: 100%;
  /* min-width: 100px !important; */
  left: 0px !important;
  max-height: 350px;
  overflow-y: scroll;
}

.vo-dd-parent .dropdown-item,
.manufacturer-dd-parent .dropdown-item,
.vt-dd-parent .dropdown-item,
.modelName-dd-parent .dropdown-item, 
.bank-dd-parent .dropdown-item, 
.exp-icn-dd-parent .dropdown-item {
  padding: .25rem 1rem !important;
}

.vo-dd-parent .btn,
.manufacturer-dd-parent .btn,
.vt-dd-parent .btn,
.modelName-dd-parent .btn, 
.bank-dd-parent .btn, 
.exp-icn-dd-parent .btn {
  box-shadow: none !important;
  outline: none;
  border-color: #DDDDDD;
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: white;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 12px; // only for this view
  padding-right: 12px; // only for this view 
  // margin-bottom: 1rem // only for this view
}

.vo-dd-parent .dropdown-toggle::after,
.manufacturer-dd-parent .dropdown-toggle::after,
.vt-dd-parent .dropdown-toggle::after,
.modelName-dd-parent .dropdown-toggle::after, 
.bank-dd-parent .dropdown-toggle::after, 
.exp-icn-dd-parent .dropdown-toggle::after {
  margin-left: unset !important;
  float: right;
  margin-top: 7px;
}


.dropdown-toggle::after {
  margin-left: 1.255em !important;
}
