<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>

  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">6. Bank Information</div>
      <div class="sub-title">Enter worker's bank account details.</div>
      <div class="row plr-10">
        <form #form="ngForm" class="col-md-12">
          <!-- form fields -->
          <div class="row">
            <!-- Bank Holder's Name -->
            <div class="form-group col-md-4 mr-3">

              <label for="bankHolder">Bank Holder's Name</label>

              <input autocomplete="off" (blur)="checkIfOnlySpaces('bankHolder')" required type="text" class="form-control" [ngClass]="{'error-border': bankHolder.touched && bankHolder.invalid}"
                name="bankHolder" #bankHolder="ngModel" [(ngModel)]="model.bankHolder" placeholder="Enter Bank Holder's Name"
                onKeyPress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode === 8  || event.which=== 8 || event.charCode === 32)">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="bankHolder.touched && bankHolder.invalid">
                {{bankHolder.errors.required ? 'Bank holder name is required.' : ''}}
              </div>

            </div>

            <!-- Bank Account Number -->
            <div class="form-group col-md-4 no-pd-lt">

              <label for="bankACNo">Bank Account Number</label>

              <input autocomplete="off" required type="text" class="form-control" [ngClass]="{'error-border': bankAccNo.touched && bankAccNo.invalid}"
                name="bankAccNo" #bankAccNo="ngModel" [(ngModel)]="model.bankAccNo" placeholder="Enter Bank Account Number"
                (keydown)="onKeydown($event)">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="bankAccNo.touched && bankAccNo.invalid">
                {{bankAccNo.errors.required ? 'Bank account number is required.' : ''}}
              </div>
            </div>
            <!-- Bank Routing Number -->
            <div class="form-group col-md-4 ">

              <label for="bankRoutNo">Sort Code</label>

              <input autocomplete="off" required type="text" class="form-control" [ngClass]="{'error-border': bankRoutNo.touched && bankRoutNo.invalid}"
                name="bankRoutNo" #bankRoutNo="ngModel" [(ngModel)]="model.bankRoutingNo" placeholder="Enter Sort Code"
                (keydown)="onKeydown($event)">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="bankRoutNo.touched && bankRoutNo.invalid">
                {{bankRoutNo.errors.required ? 'Bank account number is required.' : ''}}
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button [disabled]="form.invalid " (click)="submit()" class="btn btn-primary-color next-btn">{{buttonText}}</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>