<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link btn-light-color"
          [ngClass]="{' btn-primary-color': router.url === '/jobs/listing' && hideButton===0 }"
          (click)=changeListing(0)>Listing</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-light-color" [ngClass]="{' btn-primary-color':hideButton===3 }"
          (click)=changeListing(3)>In
          Progress
          ( {{previeDataFromServer?.jobsCount?.inProgress}} )</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-light-color" [ngClass]="{' btn-primary-color':hideButton===1 }"
          (click)=changeListing(1)>Open
          Jobs
          ( {{previeDataFromServer?.jobsCount?.pendingJobs}} )</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <div class="table-container">

    <div class="row">
      <div class="col-md-12">
        <div class="title">Jobs Listing</div>
      </div>
    </div>

    <!-- export all drivers -->
    <div class="title main">
      <div *ngIf="localStorage?.userType == 'Admin'">
        <a class="btn btn-primary-color export-btn" (click)="exportAsXLSX()">Export</a>
      </div>
      <div class="">

        <!-- <i class="icon ion-md-calendar staticCalander"></i>  -->
        <input [matDatepicker]="pickerStart" placeholder="Select Start Date" class="form-control customCalendar"
          [(ngModel)]="model.startDate" [max]="todaydate" name="startDate" #startDate="ngModel"
          (focus)="_openCalendar(pickerStart)" (click)="_openCalendar(pickerStart, 'startDate')">
        <mat-datepicker #pickerStart="matDatepicker" (closed)="_closeCalendar($event, 'startDate')"></mat-datepicker>

      </div>

      <div class="">
        <!-- <i class="icon ion-md-calendar staticCalander"></i> -->
        <input [matDatepicker]="pickerEnd" placeholder="Select End Date" class="form-control customCalendar"
          [(ngModel)]="model.endDate" [max]="todaydate" (focus)="_openCalendar(pickerEnd)"
          (click)="_openCalendar(pickerEnd, 'endDate')" name="endDate" #endDate="ngModel">
        <mat-datepicker #pickerEnd="matDatepicker" (closed)="_closeCalendar($event, 'endDate')"></mat-datepicker>
      </div>

    </div>


    <div class="driver-search">
      <div class="mr-2">
        <input class="search-input" type="text" #input placeholder="Search...">
      </div>
      <div class="d-inline-block vt-dd-parent" ngbDropdown *ngIf="hideButton===0">
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of jobStatusText"
            (click)="filter(status, 1)">{{status.name}}</button>
        </div>
      </div>
      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{jobFilterText?.serviceName}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let job of jobType"
            (click)="filterJob(job,1)">{{job.serviceName}}</button>
        </div>
      </div>


    </div>

    <!-- <div class="table-filters">
          </div> -->
    <div class="clear-both"> </div>
    <table class="mt-4" (matSortChange)="sortData($event)" mat-table matSort [dataSource]="dataSource">

      <!-- jobId Column -->
      <ng-container matColumnDef="jobId">
        <th mat-header-cell *matHeaderCellDef>Jobd Id</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{row.jobId || 'N/A'}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let row">{{row.user || 'N/A'}}</td>
      </ng-container>

      <!-- worker Column -->
      <ng-container matColumnDef="worker">
        <th mat-header-cell *matHeaderCellDef>Worker</th>
        <td mat-cell *matCellDef="let row">{{row.worker || 'N/A'}}</td>
      </ng-container>

      <!-- jobHrs Column -->
      <!-- <ng-container matColumnDef="jobHrs">
        <th mat-header-cell *matHeaderCellDef>Job Hours</th>
        <td mat-cell *matCellDef="let row">{{row.jobHours || 'N/A'}}</td>
      </ng-container> -->

      <!-- paid Column -->
      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef>Paid</th>
        <td mat-cell *matCellDef="let row">{{row.amount || 'N/A'}}</td>
      </ng-container>

      <!-- job Column -->
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef>Job</th>
        <td mat-cell *matCellDef="let row">{{row.jobService || 'N/A'}} {{row.isJobFixed ? ' (Fixed)' : ''}}</td>
      </ng-container>

      <!-- Address Column  -->
      <ng-container matColumnDef="jobAddress">
        <th mat-header-cell *matHeaderCellDef>Job Address</th>
        <td mat-cell *matCellDef="let row">{{row.address || 'N/A'}}</td>
      </ng-container>


      <ng-container matColumnDef="bidsCount">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Bids</th>
        <td mat-cell *matCellDef="let row">{{row.isJobFixed ? 'N/A' : (row.bidsCount || 0)}}</td>
      </ng-container>

      <!-- date time Column  -->
      <ng-container matColumnDef="dateTime">
        <th mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>Date & Time</th>
        <td mat-cell *matCellDef="let row">{{(row.date*1000) | dateTimeFormatIsoPipe }}</td>
      </ng-container>

      <!-- status Column  -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.statusText || 'N/A'}}</td>
      </ng-container>


      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button class="btn btn-light has-icon" [routerLink]="[ '/jobs/job-detail',row._id, 'jobListing' ]"
            md-raised-button><i class="icon ion-md-eye"></i></button>
          <button [disabled]="row.status == 1? false: true" class="btn btn-light has-icon"
            [routerLink]="[ '/jobs/job-edit',row._id, 'jobListing' ]" md-raised-button><i
              class="icon ion-md-create"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>