<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/workers/profile/current', this.workerId]">Back</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light" [ngClass]="{'btn-primary-color': packageType===1}" (click)="listPackages('active')">Active Jobs ({{packagesData?.jobsCount?.currentJobs}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light" [ngClass]="{'btn-primary-color': packageType===2}" (click)="listPackages('past')">Past Jobs ({{packagesData?.jobsCount?.pastJobs}})</a>
      </li>
      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color" *ngIf="localStorage?.workers == 3" href="{{exportDataURL}}">Worker Profile Jobs Data</a>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    <div class="col-md-4 card-container">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Worker Profile</div>
          <table class="text-center profile-table">
            <tr>
              <td colspan="2" class="text-center">
                <img [src]="packagesData?.spProfile?.profileImage || globals.defaultImage">
              </td>
            </tr>
            <!-- <tr>
              <div class="left-side">Id</div>
              <div class="right-side">{{packagesData?.spProfile?.spProfileId || 'N/A' }}</div>
            </tr> -->
            <tr>
              <div class="left-side">Name</div>
              <div class="right-side">{{packagesData?.spProfile?.name || 'N/A' }}</div>
            </tr>
            <tr>
              <div class="left-side">Mobile Number</div>
              <div class="right-side">{{packagesData?.spProfile?.phone || 'N/A' }}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobile" (click)="Enablegdpr('mobile')">
                  <span appGdpr *ngIf="showData.mobile" [dataModel]="{requestField:'phone', id:workerId, userType:'sp'}" (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </div>
            </tr>
            <tr>
              <div class="left-side">Email Address</div>
              <div class="right-side">{{packagesData?.spProfile?.email || 'N/A' }}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.email" (click)="Enablegdpr('email')">
                  <span appGdpr *ngIf="showData.email" [dataModel]="{requestField:'email', id:workerId, userType:'sp'}" (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </div>
            </tr>
          </table>
        </mat-card>
      </div>
    </div>

    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="table-container">
            <div class="title">Jobs</div>
            <div class="table-filters mt-5">
              <input class="search-input" type="text" #input placeholder="Search by job id...">
            </div>
            <div class="clear-both"> </div>
            <table class="mt-4" mat-table [dataSource]="dataSource">

              <!-- Id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="id-td">Id</th>
                <td mat-cell *matCellDef="let row;">{{row.jobId}}</td>
              </ng-container>

              <!-- Delivery Column -->
              <ng-container matColumnDef="jobHours">
                <th mat-header-cell *matHeaderCellDef class="delivery-pts-td">Job Hours</th>
                <td mat-cell *matCellDef="let row">{{row.jobHours}}</td>
              </ng-container>

              <!-- Address Column -->
              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>User</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
              </ng-container>

              <!-- Address Column 2 -->
              <ng-container matColumnDef="jaddress">
                <th mat-header-cell *matHeaderCellDef>Job Address</th>
                <td mat-cell *matCellDef="let row">{{row.address}}</td>
              </ng-container>

              <!-- amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef class="amount-td">Worker Earning</th>
                <td mat-cell *matCellDef="let row">
                  <b>{{globals.defaultCurrency}} </b>{{row.amount}}</td>
              </ng-container>
              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="amount-td">Date</th>
                <td mat-cell *matCellDef="let row">{{((row.date*1000) | date : 'MMM dd, yyyy h:mm a') || 'N/A'}}</td>
              </ng-container>

              <!-- status Column  -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let row">{{row.statusText || 'N/A'}}</td>
              </ng-container>


              <!-- Actions Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                  <a class="btn btn-light has-icon" [routerLink]="[ '/workers/job-detail',row._id,workerId]">
                    <i class="icon ion-md-eye"></i>
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
              <span>No Records Found.</span>
            </mat-toolbar>

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>