@import './../../../../assets/styles/base.scss';
.sub-nav {
    padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

.search-input {
    width: 50%;
}

// driver profile left side
.left-side {
    display: inline-block;
    padding-right: 20px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
}

// driver profile right side
.right-side {
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

.id-td {
    width: 10%
}

.delivery-pts-td {
    width: 15%
}

.amount-td {
    width: 15%
}

