@import './../../../../assets/styles/base.scss';
.title {
    font-size: 20px;
    margin-top: unset;
}

.driver-search {
    display: flex;
    flex-direction: row-reverse;
}

.status-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    left: 0 !important;
    padding: 0 !important;
    max-height: 350px;
    overflow-y: scroll;
}

.vt-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    padding: 0 !important;
    min-width: 100px !important;
    left: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
}

.status-dd-parent .dropdown-item,
.vt-dd-parent .dropdown-item {
    padding: .25rem 1rem !important;
}

.vt-dd-parent .btn,
.status-dd-parent .btn,
.vt-dd-parent .btn,
.status-dd-parent .btn :active,
.vt-dd-parent .btn,
.status-dd-parent .btn :focus,
.vt-dd-parent .btn,
.status-dd-parent .btn :hover {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 14px;
    border-radius: 0.6rem;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdown-toggle::after {
    margin-left: 2.255em !important;
}

.search-input {
    width: 100%;
}

.bank-name-td {
    width: 15%
}

.bank-desc-td {
    width: 15%
}

.bank-status-td {
    width: 72%
}