<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color" [routerLink]="[ '/banks/add' ]">Add New Bank</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <div class="table-container">
    <div class="title">Bank Listing</div>

    <div class="driver-search">

      <div class="mr-2">
        <input class="search-input" type="text" #input placeholder="Search...">
      </div>

      <div class="d-inline-block status-dd-parent mr-2" ngbDropdown>
        <button class="btn text-capitalize" id="status-dropdown" ngbDropdownToggle>{{statusFilterText}}</button>
        <div ngbDropdownMenu aria-labelledby="status-dropdown">
          <span class="dropdown-item" (click)="filterByStatus({ name: 'Active', isArchive: 0 })">Active</span>
          <span class="dropdown-item" (click)="filterByStatus({ name: 'Inactive', isArchive: 1 })">Inactive</span>
        </div>
      </div>

    </div>


    <div class="clear-both"> </div>

    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- Bank Name Column -->
      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef>Bank Name</th>
        <td mat-cell *matCellDef="let row" class="bank-name-td">{{row.bankName}}</td>
      </ng-container>


      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row" class="bank-status-td">{{row.isArchive === true ? 'Inactive' : 'Active'}}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <a [routerLink]="[ '/banks/edit', 1]">
            <button class="btn btn-light has-icon" md-raised-button><i class="icon ion-md-create"></i></button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource?.length === 0">
      <span>No Records Found.</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>

  </div>
</mat-card>