<!-- Modified by Usman I 6NOV2018 -->
<div class="password-reset">
  <div class="inner-container">
    <mat-card>
      <div class="row">
        <div class="col-md-12 title">Reset Password</div>
        <div class="col-md-12 sub-title">Enter new password for your account.</div>
        <div class="col-md-12 form-container">

          <form #resetPassForm="ngForm">
            <!-- new password -->
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter New Password" [(ngModel)]="model.password" name="password"
                #password="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required">Password is required!</div>
              </div>

            </div>

            <!-- confirm password -->
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword"
                [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div *ngIf="confirmPassword.errors.required">Confirm Password is required!</div>
              </div>

            </div>

            <!-- reset password -->
            <div class="form-group">
              <button class="btn btn-primary-color reset-password" [disabled]="resetPassForm.invalid || !model.password || !model.confirmPassword"
                (click)="resetPassword(resetPassForm)">Reset Password</button>
            </div>
          </form>
          <!-- back to login -->
          <div class="form-group back-to-login text-center">
            <a [routerLink]="[ '/' ]">Back to Login?</a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>