@import '../../../../assets/styles/base.scss';
mat-card {
    padding: 40px;
    width: 50%;
}

.password-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.password-reset .inner-container {
    width: 50%;
}

mat-card .title {
    font-family: "ubuntuBold";
    font-size: 24px;
    text-align: center;
}

label {
    color: $label-color;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    color: $label-color;
    margin-top: 10px;
}

.form-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reset-password {
    width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    box-shadow: none !important;
    outline: none;
    border-radius: 0.6rem;
    padding: 10px 15px;
    margin-top: 15px;
}

.back-to-login a {
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
    width: 100%;
}
@media (max-width: $breakpoint-medium) {

    .password-reset .inner-container {
        width: 100%;
    }
    }