@import '../../../../assets/styles/base.scss';

.sub-nav {
    padding: 0 5.5%;
}
.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

mat-card {
    width: 89.5%;
}