<div class="fluid-container">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item" [routerLink]="[ '/services']" *ngIf="(router.url.indexOf('/services/add') == -1) && (router.url.indexOf('/services/edit') == -1)">
        <a class="nav-link btn-light-color" [ngClass]="{'btn-primary-color': router.url === '/services'}">Services</a>
      </li>

      <li class="nav-item" [routerLink]="[ '/commission']" *ngIf="(router.url.indexOf('/services/add') == -1) && (router.url.indexOf('/services/edit') == -1)">
        <a class="nav-link btn-light-color" [ngClass]="{'btn-primary-color': router.url === '/commission'}">Commission</a>
      </li>

      <li class="nav-item" [routerLink]="[ '/reasons']" *ngIf="(router.url.indexOf('/services/add') == -1) && (router.url.indexOf('/services/edit') == -1)">
        <a class="nav-link btn-light-color" [ngClass]="{'btn-primary-color': router.url === '/reasons'}">Reasons</a>
      </li>

      <li class="nav-item" [routerLink]="[ '/service-charges']" *ngIf="(router.url.indexOf('/services/add') == -1) && (router.url.indexOf('/services/edit') == -1)">
        <a class="nav-link btn-light-color" [ngClass]="{'btn-primary-color': router.url === '/service-charges'}">Service
          Charges</a>
      </li>

      <li class="nav-item" *ngIf="router.url.indexOf('/services/add') != -1 || router.url.indexOf('/services/edit') != -1"
        [routerLink]="[ '/services']">
        <a class="nav-link btn-dark-color btn-back">Back</a>
      </li>

      <li class="nav-item add-new-btn" *ngIf="router.url === '/services'&& localStorage?.configurations == 3" [routerLink]="[ '/services/add']">
        <a class="nav-link btn-primary-color">Add New Service</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
