@import './../../../..//assets/styles/base.scss';

agm-map {
  width: 100%;
  height: 30vh;
}

#job-location .location,
#job-schedule .location {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "ubuntuBold";
}

#job-location .address,
#job-schedule .address {
  color: #777777;
}

.wrapper .wrapper-content mat-card .title {
  padding-bottom: 8px;
}

.delivery-color {
  color: $primary-color;
}

.delivery-photo {
  color: $primary-color;
  margin-left: 5px;
}

.delivery-photo:hover {
  text-decoration: none;
}

.delivery-color:hover {
  text-decoration: none;
}

.added-item-image {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50px;
  margin: unset !important;
}

.item-name {
  margin-bottom: 6px;
  font-family: $ff-bold;
  color: rgba(0, 0, 0, .87);
  width: 100%;
}

.item-size-quantity {
  position: relative;
}

.item-size-quantity span {
  margin-right: 10px;
}

.item-size-quantity span:first-child:after {
  content: '.';
  font-size: 24px;
  position: absolute;
  top: -14px; // left: 38%;
}

.left-side {
  display: inline-block;
  padding-right: 20px;
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  color: #777777;
}

.right-side {
  display: inline-block;
  padding-left: 20px;
  width: 50%;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  word-break: break-all; // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

.drop-off-items {
  padding-bottom: 10px;
}

.dropoff-pkg-items {
  margin-left: 15px;
  border-top: 1px solid #F2F4F8;
  padding: 10px 0px;
}

.dropoff-pkg-items:last-child {
  border-bottom: 1px solid #F2F4F8;
}

.item-size-quantity {
  font-family: "ubuntuRegular" !important;
  color: #9F9E9F;
}

.td-item-img {
  width: 8%;
  text-align: left !important;
}

.td-item-desc {
  text-align: left !important
}

.panel-title {
  font-family: 'ubuntuRegular' !important;
  color: #777777;
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}

.panel-description {
  display: inline-block;
  padding-left: 30px;
  width: 50%;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#price-breakdown {
  // border-top: 1px solid #F2F4F8;
}

.unblock-drop-off {
  float: right;
}

.unblock-drop-off a {
  padding: 8px;
  font-family: $ff-regular;
  border-radius: 0.3rem;
}

/**************************************************** offers **************************************************/

.offers-drivers {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}

.offers-drivers-img img {
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50px;
  margin-top: 6px;
}

.accept-driver {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0.3rem;
}

.assign-drivers-info {
  float: right;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
}

/**************************************************** offers **************************************************/

.description span {
  display: block;
  font-family: 'ubuntuBold';
  margin-bottom: 5px;
}

.eyeIcon {
  padding: 0px 5px;
  border-radius: 0.6rem;
  background-color: $body-bg-color
}

.btn-dark-color {
  color: $white !important
}
.lastTr{
  border-bottom: none;
}
.view-detail-text {
  text-align: center !important;
  padding: 10px 0;
  text-decoration: underline !important;
  display: block;
  cursor: pointer;
}

.driver-profile-images {
  width: 170px !important;
  height: 170px !important;
  border-radius: .6rem !important;
}

.image-preview-container {
  position: fixed;
  width: 100%;
  display: flex;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 999;
  margin: auto;
  min-height: 100%;
}
.image-wrapper {
  width: 1024px;
  margin: auto;
  padding: 60px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.image-wrapper img {
  float: left;
  width: auto;
  height: 88vh;
  max-width: 54vw;
}
.image-wrapper img.close-btn {
  width: 25px;
  position: absolute;
  right: -35px;
  z-index: 9999;
  cursor: pointer;
  height: 20px;
}
.remove-image{
  position: absolute;
  right: 0;
  top: 0;
  color:#d04a41;
  padding: 4px;
}