<div class="image-preview-container" *ngIf="previewImage">
  <div class="image-wrapper">
    <img class="close-btn" (click)="closePreview()" src="assets/images/button-close.svg">
    <img [src]="previewImageUrl">
  </div>
</div>
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/jobs']">Back</a>
      </li>

      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color" (click)="editJob()">Save</a>
      </li>

    </ul>
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    <div class="col-md-4 card-container">

      <!---------------------------------------------------------------------------- Price breakdown------------------------------------------------------------>

      <div class="col-md-12 custom-card">

        <mat-card>
          <table class="profile-table">

            <tr>
              <div class="left-side">Job Id</div>
              <div class="right-side font-bold">{{jobDetails?.JobIdIdentifier}}</div>
            </tr>

            <tr>
              <div class="left-side">Job</div>
              <div class="right-side  font-bold">{{jobDetails?.service?.serviceId?.serviceName}}</div>
            </tr>

            <tr>
              <div class="left-side">Job Status</div>
              <div class="right-side font-bold">{{jobStatus}}</div>
            </tr>

            <tr>
              <div class="left-side">Job Distance</div>
              <div class="right-side font-bold">{{jobDetails?.distance}} km</div>
            </tr>

            <tr>
              <div class="left-side">Total Bids</div>
              <div class="right-side font-bold">{{jobDetails?.totalBids}}</div>
            </tr>

          </table>

          <mat-expansion-panel id="price-breakdown">

            <!-- header panel -->
            <mat-expansion-panel-header>
              <span class="panel-title">Price Breakdown</span>
              <span class="panel-description font-bold">{{globals.defaultCurrency + ' ' +
                jobDetails.jobAmount.actualAmountCharge}}</span>
            </mat-expansion-panel-header>

            <!-- table -->
            <table class="profile-table">

              <!-- <tr>
                <td class="left-side">Service Charges</td>
                <td class="right-side">
                  {{globals.defaultCurrency + ' ' +jobDetails.jobAmount.serviceCharges}}</td>
              </tr> -->
              <tr>
                <td class="left-side">VAT Charges</td>
                <td class="right-side">
                  {{globals.defaultCurrency + ' ' +jobDetails.jobAmount.vatCharges}}</td>
              </tr>

              <!-- <tr>
                <td class="left-side">Distance Charges</td>
                <td class="right-side">0</td>
              </tr> -->

              <tr>
                <td class="left-side">{{jobDetails.serviceName}} job ({{globals.defaultCurrency}}{{
                  jobDetails.jobAmount.jobAmount.toFixed(2)}} {{!jobDetails.isJobDurationKnown ? ')' : '/hr)'}}
                  {{!jobDetails.isJobDurationKnown ? '' : 'x' + jobDetails.jobActualHours + ':'
                  + jobDetails.jobActualMinutes + 'hr' }}</td>
                <td class="right-side">{{globals.defaultCurrency + ' ' + jobDetails.jobAmount.jobAmount.toFixed(2)}}
                </td>
              </tr>

              <tr>
                <td class="left-side">Discount Charges</td>
                <td class="right-side">
                  {{globals.defaultCurrency + ' ' +jobDetails?.jobAmount?.promoCodeDiscount.toFixed(2)}}</td>
              </tr>

              <tr>
                <td class="left-side">EaseFix Amount</td>
                <td class="right-side">
                  {{globals.defaultCurrency + ' ' +jobDetails?.jobAmount?.easeFixAmountCharged.toFixed(2)}}</td>
              </tr>

              <tr *ngIf="jobDetails?.jobAmount?.totalLineItemAmount >0">
                <mat-expansion-panel id="units-breakdown">
                  <!-- header panel -->
                  <mat-expansion-panel-header>
                    <span class="panel-title">Line Items Amount</span>
                    <span class="panel-description font-bold">{{globals.defaultCurrency + ' ' +
                      (jobDetails?.jobAmount?.totalLineItemAmount | number : '1.2-2')}}</span>
                  </mat-expansion-panel-header>
                  <table>
                    <tr class="lastTr" *ngFor="let lineItem of jobDetails?.lineItems">
                      <td class="left-side">{{lineItem.itemName}}
                        {{globals.defaultCurrency + ' ' +(lineItem.itemPrice)}} x {{lineItem.itemQuantity}}</td>
                      <td class="right-side">
                        {{globals.defaultCurrency + ' ' + (lineItem.itemPrice * lineItem.itemQuantity)}}
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </tr>
              <tr>
                <a class="cursor-pointer view-detail-text"
                  *ngIf="jobDetails?.realItems && jobDetails?.realItems.length > 0"
                  (click)="openDialogDetails(jobDetails?.realItems)">View Details</a>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-card>
      </div>

      <!---------------------------------------------------------------------------- Worker Profile -------------------------------------------------------------->

      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">{{assignedWorker ? 'Assigned Worker' : 'Worker Profile'}}</div>
          <table class="profile-table">

            <tr>
              <td colspan="2" class="text-center">
                <img [src]="globals.defaultImage">
              </td>
            </tr>

            <tr>
              <div class="left-side">Name</div>
              <td class="right-side">
                {{jobDetails && jobDetails.spData && jobDetails.spData.spProfileId &&
                jobDetails.spData.spProfileId.firstName || 'N/A'}}
                {{jobDetails && jobDetails.spData && jobDetails.spData.spProfileId &&
                jobDetails.spData.spProfileId.lastName}}
              </td>
            </tr>

            <tr>
              <div class="left-side">Job</div>
              <div class="right-side">{{jobDetails?.service?.serviceId?.serviceName || 'N/A'}}</div>
            </tr>

            <tr>
              <div class="left-side">Mobile Number</div>
              <td class="right-side">
                {{ jobDetails && jobDetails.spData && jobDetails.spData.spProfileId &&
                jobDetails.spData.spProfileId.phonePreFix || ''}}
                {{ jobDetails && jobDetails.spData && jobDetails.spData.spProfileId &&
                jobDetails.spData.spProfileId.phoneNumber || ''}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobile" (click)="Enablegdpr('mobile')">
                  <span appGdpr *ngIf="showData.mobile"
                    [dataModel]="{requestField:'phone', id:jobDetails.spData.spProfileId._id, userType:'sp'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </td>
            </tr>

            <tr>
              <div class="left-side">Email Address</div>
              <td class="right-side">
                {{jobDetails && jobDetails.spData && jobDetails.spData.spProfileId &&
                jobDetails.spData.spProfileId.email || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.email" (click)="Enablegdpr('email')">
                  <span appGdpr *ngIf="showData.email"
                    [dataModel]="{requestField:'email',id:jobDetails.spData.spProfileId._id, userType:'sp'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </td>
            </tr>

          </table>
        </mat-card>
      </div>


      <!---------------------------------------------------------------------------- User Profile -------------------------------------------------------------->

      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">{{'User Profile'}}</div>
          <table class="profile-table">

            <tr>
              <td colspan="2" class="text-center">
                <img [src]="globals.defaultImage">
              </td>
            </tr>

            <tr>
              <div class="left-side">Name</div>
              <td class="right-side">
                {{jobDetails && jobDetails.userData && jobDetails.userData.userProfileId &&
                jobDetails.userData.userProfileId.firstName || 'N/A'}}
                {{jobDetails && jobDetails.userData && jobDetails.userData.userProfileId &&
                jobDetails.userData.userProfileId.lastName}}
              </td>
            </tr>


            <tr>
              <div class="left-side">Mobile Number</div>
              <td class="right-side">
                {{ jobDetails && jobDetails.userData && jobDetails.userData.userProfileId &&
                jobDetails.userData.userProfileId.phonePreFix || ''}}
                {{ jobDetails && jobDetails.userData && jobDetails.userData.userProfileId &&
                jobDetails.userData.userProfileId.phoneNumber || ''}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.userMobile" (click)="EnablegdprUser('mobile')">
                  <span appGdpr *ngIf="showData.userMobile"
                    [dataModel]="{requestField:'phone', id:jobDetails.userData.userProfileId._id, userType:'user'}"
                    (returnedData)="GotGDPRDATAUSER($event)"></span>
                </div>
              </td>
            </tr>

            <tr>
              <div class="left-side">Email Address</div>
              <td class="right-side">
                {{jobDetails && jobDetails.userData && jobDetails.userData.userProfileId &&
                jobDetails.userData.userProfileId.email || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.userEmail" (click)="EnablegdprUser('email')">
                  <span appGdpr *ngIf="showData.userEmail"
                    [dataModel]="{requestField:'email',id:jobDetails.userData.userProfileId._id, userType:'user'}"
                    (returnedData)="GotGDPRDATAUSER($event)"></span>
                </div>
              </td>
            </tr>

          </table>
        </mat-card>
      </div>
      <!-- Cancellation Reasons -->
      <div class="col-md-12 custom-card" *ngIf="jobDetails?.cancellationReason">
        <mat-card>
          <div class="title">Cancellation Reasons</div>
          <table class="profile-table">
            <tr>
              <td class="">{{jobDetails?.cancellationReason.reason || 'N/A'}}</td>
            </tr>
          </table>
        </mat-card>
      </div>

    </div>

    <!---------------------------------------------------------------------------- Job Location ---------------------------------------------------------------->

    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 form-group custom-card" id="job-location">
        <mat-card>
          <div class="title">Job Location </div>
          <input class="form-control" style="width: 100% !important; height: 75% !important; padding: 5px !;" required
            [options]="{
            types: [],
            componentRestrictions: { country: 'UK' }
            }" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"
            [(ngModel)]="jobDetails.jobAddress.primaryAddress" />
        </mat-card>
      </div>
    </div>

    <!---------------------------------------------------------------------------- Job Schedule ---------------------------------------------------------------->

    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card" id="job-schedule">
        <mat-card>
          <div class="title">Job Schedule</div>
          <div class="location">
            {{'Start Time: ' }}{{ jobDetails.jobStartTime && ( jobDetails.jobStartTime*1000 | dateTimeFormatIsoPipe) ||
            'N/A'}}
          </div>
          <div class="location">
            {{'End Time: ' }}{{ jobDetails.jobEndTime && ( jobDetails.jobEndTime*1000 | dateTimeFormatIsoPipe) ||
            'N/A'}}
          </div>

          <!-- <div class="address">Job Assigned {{jobDetails.scheduledAt}}</div> -->
        </mat-card>
      </div>
    </div>

    <!---------------------------------------------------------------------------- Description ----------------------------------------------------------------->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Job Description</div>

          <div class="description mb-3">
            <span>Description:</span>
            <textarea style="word-wrap: break-word !important; height: 100% !important;" class="form-control"
              [(ngModel)]="jobDetails.workDescription" type="text" name="input" rows="4" cols="50">
              </textarea>
          </div>

          <!-- <div class="description">
            <span *ngIf="jobDetails.specialInstruction">Instruction:</span>
            {{jobDetails.specialInstruction}}
          </div> -->
        </mat-card>
      </div>
    </div>



    <!------------------------------------------------------------------------------ media ----------------------------------------------------------------------->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title pb-3">Media</div>
          <div class="row">
            <div *ngFor="let images of jobDetails.media; let i = index;" class=" col-sm-3">
              <div class="labelOuter">
                <a *ngIf="images.url" (click)="previewImageViewer(images.url)" class="eyeImage">
                  <i class="icon ion-md-eye eyeIcon"></i>
                </a>
                <a *ngIf="images.url" (click)="deleteImage($event,imageData, i)" class="eyeImage">
                  <i class="material-icons remove-image">delete</i>
                </a>
              </div>
              <div>
                <img class="driver-profile-images no-image blurImg" *ngIf="!images.url && images.type == 0">
                <img class="driver-profile-images blurImg" *ngIf="images.url && images.type == 0" [src]="images.url">

                <video class="driver-profile-images" controls *ngIf="images.type == 1">
                  <source [src]="images.url" type="video/mp4">
                  Your browser does not support the video tag.
                </video>

              </div>

            </div>

            <!-- new Media -->
            <div class="file-upload">
              <div class="labelOuter">
                <a class="eyeImage">
                  <i class="icon ion-md-eye eyeIcon" style="background-color: white; color: white;"></i>
                </a>
              </div>
              <label for="mediaUpload" class="file-upload-label">
                <div class="images-child"
                  style="width: 170px; height: 170px; margin-top: 10px; margin-bottom: 20px; margin-left: 50px;">
                  <p>Upload</p>
                </div>
              </label>
              <input id="mediaUpload" type='file' (change)="uploadPackageImage($event.target.files)"
                accept="video/mp4,image/*" class="file-upload-input" name="file-upload">
            </div>

          </div>
        </mat-card>
      </div>
    </div>

  </div>
</div>