<div class="card1">
  <div class="imageDiv">
    <img class="image" src="{{reqData?.profileImage || globals.defaultImage}}" alt="Girl in a jacket" width="50"
      height="50" />
  </div>
  <div class="header">
    <div>
      <p class="spName">{{reqData.name}}</p>
      <p class="review">{{reqData.service}}</p>
      <p class="review">{{reqData.jobId}}</p>
      <p class="review">{{reqData.distance}}</p>
      <p *ngIf="reqData.routeType != 1 && reqData.routeType != 4" class="review">Rating: {{reqData.rating}}</p>
      <p *ngIf="reqData.routeType == 4" class="review">Phone Number: {{reqData.phoneNumber}}</p>

    </div>
    <div class="date">
      <p *ngIf="reqData.routeType != 4">{{reqData.status}}</p>
    </div>
  </div>

</div>