.card1 {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    align-self: center;
    gap:10px;
    p {
        margin: 0 !important;
    }
    margin-bottom: 10px;
    min-width: 500px;
  }

  .image {
    border-radius: 50%;
  }
  .spName {
    font-weight: bold;
  }
  
  .review {
    font-size: 10px;
    color: rgb(86, 86, 86);
    width: 100%;
    word-break: break-word;
  }

  .header{
    flex: 90%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
  }
  
  ngb-rating {
    color: #ebac0e !important;
}

.imageDiv{
  flex: 10%;
}

.date{
  flex-shrink: 0;
}

.date p {
  color: rgb(150, 146, 146);
  font-size: 10px;
}

.no-data {
  color: #263238;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}