<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link btn-primary-color">Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link no-link">Total Users ({{totalUsers}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link no-link" [routerLink]="[ '/users/user-activity' ]">User Activity</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/users' ]" routerLinkActive="btn-primary-color">Listing</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/users/user-activity' ]" routerLinkActive="btn-primary-color">User Activity</a>
      </li>

    </ul>
  </div>
</div>
<mat-card>
  <div class="table-container">
    <div *ngIf="localStorage?.userType == 'Admin'" class="title">
      <a class="btn btn-primary-color export-btn" (click)="exportAsXLSX()">Export</a>
    </div>
    <div class="driver-search">
      <!--<input class="search-input" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search...">-->
      <div class="mr-2">
        <input class="searchUser search-input" type="text" #input placeholder="Search...">
      </div>
      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of jobStatusText"
            (click)="filter(status)">{{status.name}}</button>
        </div>
      </div>
    </div>
    <div class="clear-both"> </div>
    <table class="mt-4" matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource">

      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row"><img
            src="{{row.profileImage || 'https://ondemandstartup.s3.us-west-2.amazonaws.com/generalImageDirectory/1540898836287-profile-avatar.png'}}">
        </td>
      </ng-container>

      <!-- Driver Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name || row.companyName}}</td>
      </ng-container>

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="Mobile Number">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let row">{{row.phone}}</td>
      </ng-container>

      <!-- Email Address -->
      <ng-container matColumnDef="Email Address">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let row">{{row.email || 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="totalJobSort">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Total Jobs</th>
        <td mat-cell *matCellDef="let row">{{row.jobsCount || 0}}</td>
      </ng-container>

      <ng-container matColumnDef="activeJobSort">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Active Jobs</th>
        <td mat-cell *matCellDef="let row">{{row.activeJobsCount || 0}}</td>
      </ng-container>
      <!-- Device Type Column -->
      <!-- <ng-container matColumnDef="Device Type">
        <th mat-header-cell *matHeaderCellDef>Device Type</th>
        <td mat-cell *matCellDef="let row">{{(row.deviceType | uppercase) || 'N/A'}}</td>
      </ng-container> -->

      <!-- joining date Column -->
      <ng-container matColumnDef="joining">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Joining date</th>
        <td mat-cell *matCellDef="let row">{{(row.createdAt | dateTimeFormatIsoPipe ) || 'N/A'}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status ? 'Blocked' : 'Active'}}</td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let row">{{row.avgRating}}</td>
      </ng-container>

      <ng-container matColumnDef="refree">
        <th mat-header-cell *matHeaderCellDef>Referee</th>
        <td mat-cell *matCellDef="let row">{{row.refreeName || 'N/A'}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <a class="btn btn-light has-icon" [routerLink]="[ './profile', row._id ]"><i class="icon ion-md-eye"></i></a>
          <!--<button class="btn btn-light has-icon" md-raised-button><i class="icon ion-md-create"></i></button>-->
          <!--<button class="btn btn-light has-icon" md-raised-button><i class="icon ion-md-trash"></i></button>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>