@import '../../../../assets/styles/base.scss';

mat-card {
    width: 89.5%;
}
.sub-nav ul.navbar-nav li.nav-item a.nav-link.no-link {
    cursor: default;
}

.sub-nav {
    padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

.toolbar {
    justify-content: center;
    background: $white;
  }


  .driver-search {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .status-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    left: 0 !important;
    padding: 0 !important;
    max-height: 350px;
    overflow-y: scroll;
  }
  
  .vt-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    padding: 0 !important;
    min-width: 100px !important;
    left: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
  }
  
  .status-dd-parent .dropdown-item,
  .vt-dd-parent .dropdown-item {
    padding: .25rem 1rem !important;
  }
  
  
  .vt-dd-parent .btn,
  .status-dd-parent .btn,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :active,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :focus,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :hover {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 14px;
    border-radius: 0.6rem;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px
  
  }
  
  .dropdown-toggle::after {
    margin-right: 5px !important;
  }
  .searchUser{
      width: 100%;
  }