<div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  
  <div class="fluid-container">
    <div class="sub-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn-dark-color btn-back" (click)="back()">Back</a>
        </li>
      </ul>
    </div>
  </div>
  
  <mat-card>
    <div class="row width-100perc">
      <div class="col-md-12">
        <div class="title">{{disabledBit=='false' ? 'Edit Privacy Policy' : 'Privacy Policy'}}</div>
        <!-- <div class="title" *ngIf="!disabled">Terms & Condition</div> -->
        <div class="row plr-15">
  
          <form #editTc="ngForm" class="col-md-12">
  
            <!-- form fields -->
            <div class="row">
  
              <!-- Text -->
              <div class="col-md-12 no-pd-lt">
                <label for="description">Text</label>
                <textarea rows="15" cols="150" [ngClass]="{'error-border': description.touched && description.invalid}" required
                  [(ngModel)]="model.description" name="description" #description="ngModel" [disabled]="disabledBit" class="form-control" placeholder="Description"
                  ></textarea>

                <textarea rows="15" cols="150" [ngClass]="{'error-border': descriptionET.touched && descriptionET.invalid}" required
                          [(ngModel)]="model.descriptionET" name="descriptionET" #descriptionET="ngModel" [disabled]="disabledBit" class="form-control margining-top" placeholder="Description Estonian"
                ></textarea>

                <textarea rows="15" cols="150" [ngClass]="{'error-border': descriptionRU.touched && descriptionRU.invalid}" required
                          [(ngModel)]="model.descriptionRU" name="descriptionRU" #descriptionRU="ngModel" [disabled]="disabledBit" class="form-control margining-top" placeholder="Description Russian"
                ></textarea>

                <div class="form-control-feedback globar-error-text" *ngIf="description.touched && description.invalid">
                  <div *ngIf="description.errors.required">Terms and Condition is required</div>
                </div>
              </div>
  
              <!-- save btn -->
              <div class="col-md-12 no-padding mt-3" *ngIf="disabledBit === 'false' && localStorage?.privacyPolicy == 3">
                <button [disabled]="form.invalid" (click)="saveTc(form)" class="btn btn-primary-color save-btn">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card>
