<div class="image-preview-container" *ngIf="previewImage" appGdpr [dataModel]="{requestField:'Image', id:spId, userType:'sp'}" (returnedData)="GotGDPRDATA($event)">
  <div class="image-wrapper">
    <img class="close-btn" (click)="closePreview()" src="assets/images/button-close.svg">
    <img [src]="previewImageUrl">
  </div>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">4. Service Certificates</div>
      <div class="sub-title">Please add/edit Service Certificates.</div>
      <div class="row plr-10">

        <form #form="ngForm" class="">

          <!-- form fields -->
          <div class="customedFlexedRow">

            <!-- file uplaod -->
            <div class="form-group" *ngFor="let imageData of model; let i = index;">
              
              <div class="file-upload">
                <label for="profile_upload-{{i}}" class="file-upload-label">
                  <div class="images-child" *ngIf="!imageData.professionalDocsFront">
                    <p>Upload Worker's Service Certificates (Required)</p>
                  </div>
                  <div class="images-child imgView" *ngIf="imageData.professionalDocsFront">
                    <img class="preview-img blurImg" [src]="imageData.professionalDocsFront">
                    <a (click)="deleteImage($event,imageData, i)">
                      <i class="material-icons remove-image">delete</i>
                    </a>
                  </div>
                </label>
                <input id="profile_upload-{{i}}" type='file' (change)="uploadPackageImage($event.target.files,'old',i)" accept="image/*" class="file-upload-input"
                  name="file-upload-{{i}}">
                  <input id="title{{i}}" class="oldDocTitle" type="text" [(ngModel)]="imageData.professionalDocsTitle" name="professionalDocsTitle-{{i}}" >
              </div>
              <a *ngIf="imageData.professionalDocsFront" 
                (click)="previewImageViewer(imageData.professionalDocsFront)" class="view-image">View Image</a>
              <p class="img-upload-at" *ngIf="imageData.professionalDocsFront && imageData.profileImageUpdatedDate">Uploaded at: {{model.profileImageUpdatedDate | date: 'medium'}}</p>
            </div>
            <!-- new image -->
            <div class="file-upload">
              <label for="profile_upload_new" class="file-upload-label">
                <div class="images-child">
                  <p>Upload new Worker's Service Certificates</p>
                </div>
              </label>
              <input id="profile_upload_new" type='file' (change)="uploadPackageImage($event.target.files,'new','last')" accept="image/*"
                class="file-upload-input" name="file-upload">
                <input type="text" class="newDocTitle" id="newTitle" name="newTitle" placeholder="Enter title..." [(ngModel)]="newTitle">
    
                  <!-- <input type="text" class="newDocTitle" id="title" name="newTitle" placeholder="Enter title...." [(ngModel)]="newTitle"
                  #title="ngModel" required>
                <div class="form-control-feedback globar-error-text" *ngIf="title.invalid">
                  <div *ngIf="title.errors.required">Title is required!</div>
                </div> -->
            </div>
            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="form.invalid || !this.model" (click)="submit()">{{buttonText}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>