<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/referral' ]">Back</a>
      </li>

    </ul>
  </div>
</div>

<!-- Created By Usman Iqbal -->

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">Referral Settings</div>
      <div class="row plr-10 form-container">

        <form #addEditReferral="ngForm" class="col-md-8">

          <!-- User fields -->
          <div class="row">

            <div class="col-md-12 sub-title">User</div>

            <!-- Min Jobs to avail referral discount -->
            <div class="form-group col-md-5">
              <label for="minUserJobToAvail">Min Jobs to avail referral discount</label>
              <input type="text" class="form-control" id="minUserJobToAvail" name="minUserJobToAvail"
                placeholder="Min Jobs to avail referral discount" [(ngModel)]="model.minUserJobToAvail" #minUserJobToAvail="ngModel"
                autocomplete="off" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="minUserJobToAvail.touched && minUserJobToAvail.invalid">
                <div *ngIf="minUserJobToAvail.errors.required">Min Jobs to avail referral discount is required!</div>
              </div>
            </div>

            <!-- Per Referral Amount -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="packageName">Per Referral Amount</label>
              <span class="currency-text">{{globals.defaultCurrency}}</span>
              <input type="text" class="form-control currency-input" id="userReferralAmount" name="userReferralAmount"
                placeholder="Per Referral Amount" [(ngModel)]="model.userReferralAmount" #userReferralAmount="ngModel"
                autocomplete="off" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="userReferralAmount.touched && userReferralAmount.invalid">
                <div *ngIf="userReferralAmount.errors.required">Per Referral Amount is required!</div>
              </div>
            </div>

            <!-- Status -->
            <!-- <div class="form-group no-padding mt-3">
              <div>
                <mat-radio-group class="status-radio-group" name="status" [(ngModel)]="model.status">
                  <mat-radio-button class="status-radio-button" value="1" [checked]='true'>Enable</mat-radio-button>
                  <mat-radio-button class="status-radio-button" value="0">Disable</mat-radio-button>
                </mat-radio-group>
              </div>
            </div> -->
          </div>

          <!-- Worer fields -->
          <div class="row">

            <div class="col-md-12 sub-title">Worker</div>

            <!-- Min Jobs to avail referral discount -->
            <div class="form-group col-md-5">
              <label for="packageName">Min Jobs to avail referral discount</label>
              <input type="text" class="form-control" id="minSpJobToAvail" name="minSpJobToAvail"
                placeholder="Min Jobs to avail referral discount" [(ngModel)]="model.minSpJobToAvail" #minSpJobToAvail="ngModel"
                autocomplete="off" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="minSpJobToAvail.touched && minSpJobToAvail.invalid">
                <div *ngIf="minSpJobToAvail.errors.required">Min Jobs to avail referral discount is required!</div>
              </div>
            </div>

            <!-- Per Referral Amount -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="packageName">Per Referral Amount</label>
              <span class="currency-text">{{globals.defaultCurrency}}</span>
              <input type="text" class="form-control currency-input" id="spReferralAmount" name="spReferralAmount"
                placeholder="Per Referral Amount" [(ngModel)]="model.spReferralAmount" #spReferralAmount="ngModel"
                autocomplete="off" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="spReferralAmount.touched && spReferralAmount.invalid">
                <div *ngIf="spReferralAmount.errors.required">Per Referral Amount is required!</div>
              </div>
            </div>

            <!-- Status -->
            <!-- <div class="form-group no-padding mt-3">
              <div>
                <mat-radio-group class="status-radio-group" name="status" [(ngModel)]="model.status">
                  <mat-radio-button class="status-radio-button" value="1" [checked]='true'>Enable</mat-radio-button>
                  <mat-radio-button class="status-radio-button" value="0">Disable</mat-radio-button>
                </mat-radio-group>
              </div>
            </div> -->
          </div>

          <div class="col-md-12 no-padding mt-3">
            <button class="btn btn-primary-color save-btn" [disabled]="addEditReferral.invalid"
              (click)="Save(addEditReferral)">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>