@import './../../../../assets/styles/base.scss';
// generic settings ends here
.status-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.status-radio-group .status-radio-button {
    margin: 5px;
}

.statusLabel {
    color: rgba(0, 0, 0, .87);
    font-family: 'ubuntuBold';
}

.title {
    font-size: 20px
}

.sub-title {
    font-size: 16px;
    font-family: 'ubuntuBold';
}