@import '../../../../assets/styles/base.scss';

label {
    color:$label-color
}

.title {
    font-size: 20px;
    margin-bottom: 25px;
}

.urp {
    margin-top: 15px;
    font-family: "ubuntuBold";
    font-size: 16px;
    margin-bottom: 15px;
}

.permission {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    font-size: 18px;
    vertical-align: middle;
}