<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">Profile</div>
      <div class="row plr-15">

        <form #updateProfileForm="ngForm" class="col-md-8">
          <!-- form fields -->
          <div class="row">

            <!-- First Name -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="name">First Name</label>
              <input autocomplete="off" type="text" class="form-control" id="name" name="name" placeholder="First Name" [(ngModel)]="model.name"
                #name="ngModel" (blur)="checkIfOnlySpaces('name')" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">First Name is required!</div>
              </div>
            </div>


            <!-- Last Name -->
            <div class="form-group col-md-5">
              <label for="lastName">Last Name</label>
              <input autocomplete="off" type="text" class="form-control pl-45" id="lastName" placeholder="Last Name" name="lastName" [(ngModel)]="model.lastName"
                #lastName="ngModel" (blur)="checkIfOnlySpaces('lastName')" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="lastName.touched && lastName.invalid">
                <div *ngIf="lastName.errors.required">Last Name is required!</div>
              </div>
            </div>

            <!-- New Password -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="password">New Password</label>
              <input autocomplete="off" type="password" class="form-control pl-45" id="password" placeholder="New Password" name="password"
                [(ngModel)]="model.password" #password="ngModel">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required">New Password is required!</div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group col-md-5">
              <label for="confirmPassword">Confirm Password</label>
              <input autocomplete="off" type="password" class="form-control pl-45" id="confirmPassword" placeholder="Confirm Password"
                name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div *ngIf="confirmPassword.errors.required">Confirm Password is required!</div>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="mobileNumber">Phone Number</label>
              <input type="text" class="form-control" id="mobileNumber" placeholder="Phone Number" name="mobileNumber" [(ngModel)]="model.mobileNumber"
                #mobileNumber="ngModel" (blur)="checkIfOnlySpaces('mobileNumber')" autocomplete="off" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="mobileNumber.touched && mobileNumber.invalid">
                <div *ngIf="mobileNumber.errors.required">Phone Number is required!</div>
              </div>
            </div>

            <!-- email -->
            <div class="col-md-12 no-pd-lt">
              <label for="email">Email</label>
              <p>{{this.localStorage.email ? this.localStorage.email : 'N/A'}}</p>
            </div>

            <!-- user role permission -->
            <div class="col-md-6 field no-padding">
              <div class="profile-permission">
                <div class="urp">User Role Permissions</div>
                <div class="permission" *ngIf="localStorage.dashboard !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.dashboard ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Dashboard</span>
                </div>

                <div class="permission" *ngIf="localStorage.map !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.map ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Map</span>
                </div>

                <div class="permission" *ngIf="localStorage.workers !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.workers ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Workers</span>
                </div>

                <div class="permission" *ngIf="localStorage.users !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.users ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Users</span>
                </div>

                <div class="permission" *ngIf="localStorage.jobs !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.jobs ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Jobs</span>
                </div>

                <div class="permission" *ngIf="localStorage.promoCodes !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.promoCodes ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Promo Codes</span>
                </div>

                <div class="permission" *ngIf="localStorage.configurations !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.configurations ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Configurations</span>
                </div>

                <div class="permission" *ngIf="localStorage.referrals !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.referrals ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Referral Management</span>
                </div>

                <div class="permission" *ngIf="localStorage.rolesAndSecurity !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.rolesAndSecurity ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Roles and Security</span>
                </div>

                <!-- <div class="permission" *ngIf="localStorage.viewBanks !== 0">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.viewBanks ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Banks</span>
                </div> -->

                <div class="permission" *ngIf="localStorage.payouts !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.payouts ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Payouts</span>
                </div>

                <div class="permission" *ngIf="localStorage.notifications !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.notifications ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Notification</span>
                </div>

                <div class="permission" *ngIf="localStorage.privacyPolicy !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.privacyPolicy ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Privacy Policy</span>
                </div>
                <div class="permission" *ngIf="localStorage.termsAndConditions !== 1">
                  <span class="icon-tick">
                    <i class="icon bold-red mr-3" [ngClass]="localStorage.termsAndConditions ? 'ion-md-checkmark': 'ion-md-close'"></i>
                    Terms & Conditions</span>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-12 no-padding mt-3">
            <button class="btn btn-primary-color save-btn" [disabled]="updateProfileForm.invalid" (click)="updateProfile(updateProfileForm)">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>