<div class="image-preview-container" *ngIf="previewImage" appGdpr
  [dataModel]="{requestField:'Image', id:spId, userType:'sp'}" (returnedData)="GotGDPRDATA($event)">
  <div class="image-wrapper">
    <img class="close-btn" (click)="closePreview()" src="assets/images/button-close.svg">
    <img [src]="previewImageUrl">
  </div>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">5. Portfolio</div>
      <div class="sub-title">Please add/edit Portfolio.</div>
      <div class="row plr-10">

        <form #form="ngForm" class="">

          <!-- form fields -->
          <div class="customedFlexedRow">

            <!-- file uplaod -->
            <div class="form-group " *ngFor="let imageData of model; let i=index">
              <div class="file-upload">
                <label for="profile_upload" class="file-upload-label">
                  <div class="images-child" *ngIf="!imageData.url">
                    <p>Upload Worker's Portfolio (Required)</p>
                  </div>
                  <div class="images-child imgView" *ngIf="imageData.url">
                    <img *ngIf="imageData.url && imageData.type == 0" class="preview-img blurImg" [src]="imageData.url">
                    <a (click)="deleteImage($event,imageData, i)">
                      <i class="material-icons remove-image">delete</i>
                    </a>
                    <video class="preview-img" controls *ngIf="imageData.type == 1">
                      <source [src]="imageData.url" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </label>
                <input id="profile_upload" type='file' (change)="uploadPackageImage($event.target.files,'old',i)"
                  accept="image/*,video/*" class="file-upload-input" name="file-upload">
              </div>
              <a *ngIf="imageData.url && imageData.type == 0" (click)="previewImageViewer(imageData.url)"
                class="view-image">View Image</a>
              <p class="img-upload-at" *ngIf="imageData.url && imageData.profileImageUpdatedDate">Uploaded at:
                {{model.profileImageUpdatedDate | date: 'medium'}}</p>
            </div>
            <!-- new image -->
            <div class="file-upload">
              <label for="profile_upload_new" class="file-upload-label">
                <div class="images-child">
                  <p>Upload new Worker's Portfolio</p>
                </div>
              </label>
              <input id="profile_upload_new" type='file' (change)="uploadPackageImage($event.target.files,'new','last')"
                accept="image/*,video/*" class="file-upload-input" name="file-upload">
            </div>
            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="form.invalid || !this.model"
                (click)="submit()">{{buttonText}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
