<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>

  <div class="table-container">

    <!--   
      <div class="driver-search">
  
        <div class="mr-2">
          <input class="search-input" #input type="text" placeholder="Search...">
        </div>
  
        <div class="d-inline-block vt-dd-parent" ngbDropdown>
          <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
          <div ngbDropdownMenu aria-labelledby="vt-dropdown">
              <button class="dropdown-item" (click)="changeType(2)">All</button>
              <button class="dropdown-item" (click)="changeType(1)">Completed</button>
              <button class="dropdown-item" (click)="changeType(0)">Incomplete</button>
            </div>
        </div>
  
      </div> -->
    <div class="driver-search">

      <div class="mr-2">
        <input class="search-input" type="text" #input placeholder="Search...">
      </div>
      <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{jobFilterText?.serviceName}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let job of jobType" (click)="filter(job,1)">{{job.serviceName}}</button>
        </div>
      </div>
      <!-- <div class="d-inline-block vt-dd-parent" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <button class="dropdown-item" *ngFor="let status of jobStatusText" (click)="filter(status,2)">{{status.name}}</button>
        </div>
      </div> -->
    </div>

    <!-- <div class="table-filters">
        </div> -->
    <div class="clear-both"> </div>
    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- id Column -->

      <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let row"> {{row.spId}} </td>
        </ng-container> -->

      <!-- Time Column -->
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let row">{{(row.time | date : 'MMM dd, yyyy h:mm a') || 'N/A'}}</td>
      </ng-container>

      <!-- Photo Column -->
      <ng-container matColumnDef="Photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.profileImage || globals.defaultImage">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name || 'N/A'}}</td>
      </ng-container>

      <!-- Job Column -->
      <ng-container matColumnDef="Job">
        <th mat-header-cell *matHeaderCellDef>Job</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.job?.serviceId?.serviceName">{{row.job?.serviceId?.serviceName || 'N/A'}}</span>
        </td>
      </ng-container>

      <!-- Id Card Column -->
      
      <!-- <ng-container matColumnDef="spId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.spId || 'N/A'}}</td>
      </ng-container> -->

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.phone">{{row.phone || 'N/A'}}</span>
          <!-- <span *ngIf="!row.phoneNumberPrefix || !row.phoneNumber">N/A</span> -->
        </td>
      </ng-container>

      <!-- Email Address -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let row">{{row.email || 'N/A'}}</td>
      </ng-container>

      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.statusText || 'N/A'}}</span>
        </td>
      </ng-container>

      <!-- Actions Column -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <a class="btn btn-light" [routerLink]="[ '/workers/profile','new' , row?._id ]">Review</a>
          <!-- <a class="btn btn-light" *ngIf="row.isSignupCompleted===0" [routerLink]="[ '/drivers/profile', row.spId ]">Review</a> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" (page)="pagination($event)"></mat-paginator>
  </div>
</mat-card>