<div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  
  <mat-card>
    <div class="table-container">
      <div class="title">Privacy Policy(Workers)</div>
      <div class="clear-both"> </div>
  
      <table class="mt-4" mat-table [dataSource]="dataSource?.privacyPolicyObj?.sp">
  
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>
  
        <!-- version Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef>Version #</th>
          <td mat-cell *matCellDef="let row">{{row.privacyPolicyVersion || 'N/A'}}</td>
        </ng-container>
  
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date/Time</th>
          <td mat-cell *matCellDef="let row">{{(row.privacyPolicyUpdatedTime | dateTimeFormatPipe ) || 'N/A'}}</td>
        </ng-container>
  
        <!-- text Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef class="wd-description">Text</th>
          <td mat-cell *matCellDef="let row">{{row.description.length > 500 ? row.description.substring(0,175) + '...' : row.description}}
          </td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
            <button class="btn btn-light has-icon" *ngIf=" row && row.privacyPolicyVersion === maxSp  && localStorage?.privacyPolicy == 3" [routerLink]="[ '/privacy-policy/edit' ,row._id,false,'sp' ]"
              md-raised-button>
              <i class="icon ion-md-create"></i>
            </button>
            <button class="btn btn-light has-icon" *ngIf=" row && row.privacyPolicyVersion != maxSp" [routerLink]="[ '/privacy-policy/edit' ,row._id,true,'sp' ]"
              md-raised-button>
              <i class="icon ion-md-eye"></i>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
        <span>No Records Found</span>
      </mat-toolbar>
  
      <!-- <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator> -->
    </div>
  </mat-card>
  
  <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <mat-card>
  
    <div class="table-container">
      <div class="title">Privacy Policy (Users)</div>
      <div class="clear-both"> </div>
  
      <table class="mt-4" mat-table [dataSource]="dataSource?.privacyPolicyObj?.users">
  
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>
  
        <!-- version Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef>Version #</th>
          <td mat-cell *matCellDef="let row">{{row.privacyPolicyVersion || 'N/A'}}</td>
        </ng-container>
  
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date/Time</th>
          <td mat-cell *matCellDef="let row">{{(row.privacyPolicyUpdatedTime | dateTimeFormatPipe ) || 'N/A'}}</td>
        </ng-container>
  
        <!-- text Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef class="wd-description">Text</th>
          <td mat-cell *matCellDef="let row">{{row.description.length > 500 ? row.description.substring(0,175) + '...' : row.description}}
          </td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
            <button *ngIf=" row && row.privacyPolicyVersion === maxUsers && localStorage?.privacyPolicy == 3" class="btn btn-light has-icon" [routerLink]="[ '/privacy-policy/edit' ,row._id ,false,'user' ]"
              md-raised-button>
              <i class="icon ion-md-create"></i>
            </button>
            <button *ngIf=" row && row.privacyPolicyVersion != maxUsers" class="btn btn-light has-icon" [routerLink]="[ '/privacy-policy/edit' ,row._id ,true,'user' ]"
            md-raised-button>
            <i class="icon ion-md-eye"></i>
          </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
        <span>No Records Found</span>
      </mat-toolbar>
  
      <mat-paginator [length]="resultsLength" style="visibility: hidden;" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
    </div>
  </mat-card>