<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color"  *ngIf="localStorage?.promoCodes == 3" [routerLink]="[ '/promocodes/add' ]">Add Voucher</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <div class="table-container">
    <div class="title">Vouchers</div>
    <div class="clear-both"> </div>

    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Voucher Name</th>
        <td mat-cell *matCellDef="let row">{{row.promoCodeName || 'N/A'}}</td>
      </ng-container>

      <!-- Driver Column -->
      <!-- <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Promocode</th>
        <td mat-cell *matCellDef="let row">{{row.code || 'N/A'}}</td>
      </ng-container> -->

      <!-- Delivery Column -->
      <!-- <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row">{{row.type === 1 ? 'Fixed' : 'Percentage' || 'N/A'}}</td>
      </ng-container> -->

      <!-- Amount Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let row">{{row.percentage || 'N/A'}}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let row">{{(row.startDate*1000 | dateFormatIsoPipe) || 'N/A'}}</td>
      </ng-container>

      <!-- Address Column 2 -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let row">{{(row.expiryDate*1000 | dateFormatIsoPipe) || 'N/A'}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef><span *ngIf="localStorage?.promoCodes == 3">Action</span></th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button  *ngIf="localStorage?.promoCodes == 3" class="btn btn-light has-icon" [routerLink]="[ '/promocodes/edit' ,row._id ]" md-raised-button><i class="icon ion-md-create"></i></button>
          <button  *ngIf="localStorage?.promoCodes == 3" class="btn btn-light has-icon" (click)="deleteService(row._id)" md-raised-button><i class="icon ion-md-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>
