<div class="row">
  <div class="col-sm-12">
    <span class="ratingLabel">Commission</span>
  </div>
  <div class="col-sm-12">
    <form #form="ngForm">
      <div class="form-group">
        <label for="commission col-sm-6 ">Set commission percentage</label>
        <input autocomplete="on" required type="text" class="form-control col-sm-4 inputCustom" [ngClass]="{'error-border': commission.touched && commission.invalid}"
          #commission="ngModel" name="commission" [(ngModel)]="model.commission" [disabled]="disabled" placeholder="0">
        <!-- errors -->
        <div class="form-control-feedback globar-error-text" *ngIf="commission.touched && commission.invalid">
          <div *ngIf="commission.errors.required">percentage required!</div>
        </div>
      </div>
    </form>
    <div class="form-group">
      <mat-checkbox class="" name="terms" [(ngModel)]="model.terms" (change)="somethingChanged(model.terms)"  [disableRipple]="true">
        <span>
          Set default commission percentage
        </span>
      </mat-checkbox>
    </div>

    <div class="form-group buttonOuter row">
      <button class="btn btn-primary-color next-btn col-md-5" [disabled]="form.invalid" (click)="Approve(model)">Approve</button>
      <button class="btn next-btn col-md-5" (click)="onNoClick()">Cancel</button>
    </div>
    <!-- <div class="cancellationText">* {{cancellationText}}</div> -->
  </div>

</div>