<div class="row">

  <div class="col-sm-12">

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Blocking Reason</mat-label>
        <textarea matInput class="reasonText" type="text" placeholder="Reason for blocking..."
          [(ngModel)]="model.blockText" name="blockText" required></textarea>
      </mat-form-field>

      <!-- <input type="text" class="form-control reasonText" id="blockText" name="blockText" placeholder="Enter your email address" [(ngModel)]="model.blockText"
        #blockText="ngModel" required> -->

    </form>

    <div class="form-group buttonOuter row">
      <button class="btn btn-primary-color block-btn col-md-5" (click)="userStatusUpdate()">Block</button>
      <button class="btn block-btn col-md-5" (click)="onNoClick()">Cancel</button>
    </div>
  </div>

</div>
