<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">6. Languages</div>
      <div class="sub-title">Please edit languages.</div>
      <div class="row plr-10 table-outer">
        <table>
          <!-- Top labels -->
          <!-- <tr class="header-table">
                  <th class="empty-th"></th>
                  <th class="color-grey" *ngFor="let vehicleType of vehicleTypes">
                    {{vehicleType.name}}
                  </th>
                  <th class="empty-th"></th>
                </tr> -->
          <!-- Top labels end -->
          <tr class="header-table" *ngFor="let item of previeDataFromServer; let i = index">
            <!-- <ng-container>
                <td class="sizes-input">
                  <img class="ImageService" [src]="item.serviceId.profileImage || globals.defaultImage">
                </td>
              </ng-container> -->
            <ng-container>
              <td class="sizes-input">
                <span *ngIf="item.disabled">{{item?.languageId?.label}}</span>
                <div class="form-group position-relative mr-2" *ngIf="!item.disabled">
                  <div class="d-inline-block vt-dd-parent" ngbDropdown>
                    <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{item?.newLanguageName?.label}}</button>
                    <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                      <button class="dropdown-item" *ngFor="let lang of allLanguages let j=index;" (click)="filter(i,lang,1)">{{lang.label}}</button>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container>
              <td class="sizes-input">
                <span *ngIf="item.disabled">{{item?.proficiencyId?.label}}</span>
                <div class="form-group position-relative mr-2" *ngIf="!item.disabled">
                  <div class="d-inline-block vt-dd-parent" ngbDropdown>
                    <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{item?.newProficiencyFilterText?.label}}</button>
                    <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                      <button class="dropdown-item" *ngFor="let langLvl of languagesLevel" (click)="filter(i,langLvl,2)">{{langLvl.label}}</button>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <!-- <ng-container>
              <td class="mpc-input">
                <span *ngIf="item.disabled">{{item.serviceHourlyRate}}</span>
                <div class="form-group position-relative mr-2" *ngIf="!item.disabled">
                  <input type="number" class="form-control" id="sameSize" name="sameSize" placeholder="Enter Hourly Rate" [(ngModel)]="item.serviceHourlyRate"
                    #sameSizeText="ngModel" required>
                </div>
              </td>
            </ng-container> -->

            <td class="mpc-actions">
              <button class="btn btn-light has-icon" *ngIf="item.disabled" [disabled]="disableOverAll" (click)="enableEdit(i,item)">
                <i class="icon ion-md-create"></i>
              </button>
              <button class="btn btn-primary-color has-icon" *ngIf="!item.disabled" [disabled]="(!item.newProficiencyFilterText._id)" (click)="saveSettings(i,item,j)">
                <i class="icon ion-md-checkmark"></i>
              </button>
              <button class="btn btn-light has-icon" (click)="deleteService(i,item,j)" md-raised-button><i class="icon ion-md-trash"></i></button>
            </td>
          </tr>
          <tr>
            <td>
              <span class="addItem"  *ngIf="allLanguages.length>0 && !disableOverAll" (click)=addNew()>+ Add Language</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 no-padding mt-3">
          <button class="btn btn-primary-color save-btn" [disabled]="disbaleButton" (click)=goBackToList() >Submit</button>
        </div>
    </div>
  </div>
</mat-card>