@import './../../../../../assets/styles/base.scss';
mat-card {
    width: 89.5%;
}

input {
    border-radius: 10px;
}

.next-btn {
    border-radius: 0.6rem;
    padding: 10px 15px; // width: 100%;
    width: 180px;
}

.header-table {
    border-bottom: 1px solid #f2f4f8;
}

.title {
    margin-top: 12px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "ubuntuBold";
}

.form-group {
    margin-bottom: unset !important;
}

.mpc-label {
    width: 15%;
    text-align: left !important;

}

.mpc-input {
    // width: 10%;
}

.mpc-empty{
    width: 70%;
}

.mpc-actions {
    // width: 5%;
    float: right;
}

.sameStateMaxDistance,
.expressDistanceDiscount,
.scheduleDistanceDiscount,
.moq-input {
    padding-left: 45px;
}

.sameStateMaxDistanceLabel,
.expressDistanceDiscountLabel,
.scheduleDistanceDiscountLabel,
.moqLabel {
    position: absolute;
    top: 12px;
    left: 15px;
}

.form-control:disabled,
.form-control[readonly] {
    border: none !important;
    background-color: unset !important;
}

table tr th {
    padding: 20px 0px;
    font-family: 'ubuntuRegular';
    color: #9F9E9F;
    font-weight: unset;
    min-width: 170px;
    text-align: center;
}

table tr td {
    padding: 20px 0px;
    // border-bottom: 1px solid #f2f4f8;
    font-family: 'ubuntuRegular';
    text-align: center;
}


.side-label-td {
    width: 15%;
    text-align: left !important;
}

.action-td {
    // width: 5%;
    float: right;
}

.set-max-dp{
    margin-top: 15px;
}

.color-grey {
    color: #9F9E9F;
}

.sizes-input {
    width: 15%;
    text-align: left !important;

}

.w-15perc-ta-l {
    width: 15%;
    text-align: left !important;
}

.empty-th {
    min-width: unset !important;
}

.w-15perc-ta-c{
    width: 15%;
    text-align: center !important;
}

.globar-error-text {
    position: absolute;
}
.ImageService{
    border-radius: 50px;
    width: 55px;
    margin: auto;
}
.vt-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    padding: 0 !important;
    min-width: 100px !important;
    left: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
  }
  
  .status-dd-parent .dropdown-item,
  .vt-dd-parent .dropdown-item {
    padding: .25rem 1rem !important;
  }
  
  
  .vt-dd-parent .btn,
  .status-dd-parent .btn,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :active,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :focus,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :hover {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 14px;
    border-radius: 0.6rem;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    border: solid 1px #DDDDDD;
    width: 100%;
  
  }
  
  .dropdown-toggle::after {
    margin-right: 5px !important;
  }
  .table-outer{
    padding: 0 24px 16px;
  }
  .addItem{
    display: block;
    text-align: left;
    font-family: ubuntuBold;
    cursor: pointer;
    color: $primary-color;
  }