<div class="fluid-container no-padding no-margin">
  <div class="row no-padding no-margin">
    <div class="col-md-7 col-lg-8 no-padding imageOuter">
      <div class="login-img">
        <img class="brand-logo" src="assets/images/Vertical.svg" alt="">
      </div>
    </div>
    <div class="col-md-5 col-lg-4 red-bg loginFormOuter">
      <div class="loginFormWrapper">
        <div class="login-content">
          <!-- main login form -->
          <div *ngIf="!show2FA">
          <div class="welcome-text">
            <h1 class="mainHead">Welcome!</h1>
            <span>Login to your Admin Panel</span>
          </div>
          <div class="form-container">
            <form #loginForm="ngForm">
              <!-- email -->
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" [(ngModel)]="model.email"
                  #email="ngModel" required>

                <!-- errors -->
                <div class="form-control-feedback globar-error-text" *ngIf="email.touched && email.invalid">
                  <div *ngIf="email.errors.required">Email is required!</div>
                </div>
              </div>
              <!-- password -->
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" [(ngModel)]="model.password"
                  #password="ngModel" required>

                <!-- errors -->
                <div class="form-control-feedback globar-error-text" *ngIf="password.touched && password.invalid">
                  <div *ngIf="password.errors.required">Password is required!</div>
                </div>
              </div>
              <!-- login button -->
              <div class="form-group">
                <button class="btn btn-primary-color login" [disabled]="loginForm.invalid" (click)="login()">Log In
                </button>
              </div>
            </form>
            <!-- <div class="form-group link">
            <a [routerLink]="[ '/password/forgot' ]">Forgot Password?</a>
          </div> -->
          </div>
          </div>
          <!-- 2FA authentication form -->
          <div *ngIf="show2FA">
            <h1 class="mainHead">2-Factor Authentication</h1>
            <p>
              You have <span>2FA</span> enabled on this account. Please enter 4 digit code sent to your register number to complete login Process
            </p>
            <form #loginForm2="ngForm">
                <!-- 2FACode -->
                <div class="form-group">
                  <!-- <label for="2FACode">2FA Code</label> -->
                  <input type="text" class="form-control" id="FACode" name="FACode" placeholder="Enter 2FA code" [(ngModel)]="model.code"
                    #FACode="ngModel" required>
  
                  <!-- errors -->
                  <div class="form-control-feedback globar-error-text" *ngIf="FACode.touched && FACode.invalid">
                    <div *ngIf="FACode.errors.required">2FA Code is required!</div>
                  </div>
                </div>
                <!-- login button -->
                <div class="form-group">
                  <button class="btn btn-primary-color login" [disabled]="loginForm2.invalid" (click)="login2Fa()">Log In
                  </button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
