@import '../../../assets/styles/base.scss';
.no-margin {
    margin-left: 0;
    margin-right: 0;
}
h1 {
    font-size: 1.6rem;
    font-family: ubuntuMedium;
    margin-bottom: 0;
}
 span , .form-group label {
    font-size: 14px;
}
.welcome-text {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

// .form-group input,
// .form-group input:hover,
// .form-group input:active,
// .form-group input:focus
//  {
//     color: #ffffff;
//     font-size: 14px;
//     box-shadow: none !important;
//     border: 1px solid #ffffff;
//     outline: none;
//     border-radius: 0.6rem;
//     padding: 1.2rem 0.75rem;
// }

.form-group button {
    width: 100%;
    font-size: 14px;
    box-shadow: none !important;
    outline: none;
    border-radius: 0.6rem;
    margin-top: 13px;
}
.link {
    text-align: center;
    float: left;
    width: 100%;
}
.form-group a {
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    color:  $primary-color;
    cursor: pointer;
}
.login-content {
    margin-top: 10rem;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.login-img {
    float: left;
    width: 100%;
    height: 100vh;
}
.login-img img {
    float: left;
    width: 100%;
    height: 100vh;
}
.red-bg {
    // padding: 0 !important;
    background-color: #ffffff;
    // vertical-align: middle;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
.red-bg * , .form-group label {
    color: rgb(110, 113, 115);
}

.dark-bg {
    background-color: #2c2c2c
}
.mainHead{
    color:#000000 !important;
}

.brand-logo {
    width: 250px !important;
    height: 170px !important;
    position: absolute;
    left: 40%;
    top: 36%;
}

.form-control , input {
    background-color: transparent !important;
}

::placeholder {
    color: #ffffff;
}

.login {
    background-color: $primary-color !important;
    color: #ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

///////////////////////////////////////////////////////////////////// Removing yellow background ///////////////////////////////////////////////////////////

@-webkit-keyframes autofill {

    to {
        color: #ffffff ;
        background: $primary-color;;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

///////////////////////////////////////////////////////////////////// Removing yellow background ends ///////////////////////////////////////////////////////////

///mixins
.imageOuter{
    display: block;
}
.loginFormWrapper{
    display: block;
}
@media (max-width: $breakpoint-medium) {
  .imageOuter{
      display: none;
  }
  .loginFormOuter{
      height: 100vh;
  }
  .loginFormWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }
  .login-content{
    margin-top: 0;
  }
}