@import './../../../../assets/styles/base.scss';
input {
    border-radius: 10px;
}

.payout-modal {
    text-align: center;
}

.mat-dialog-actions {
    justify-content: space-around;
}

.btn {
    width: 49%;
}