<div class="payout-modal">
  <h1 mat-dialog-title>Confirmation</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to proceed?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="btn btn-dark-color">Cancel</button>
    <button mat-button [mat-dialog-close]="data" class="btn btn-primary-color" cdkFocusInitial>Pay</button>
  </div>
</div>