<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">2.Services</div>
      <div class="sub-title">Please add/edit services.</div>
      <div class="row plr-10 table-outer">
        <table>
          <!-- Top labels -->
          <!-- <tr class="header-table">
                <th class="empty-th"></th>
                <th class="color-grey" *ngFor="let vehicleType of vehicleTypes">
                  {{vehicleType.name}}
                </th>
                <th class="empty-th"></th>
              </tr> -->
          <!-- Top labels end -->
          <tr class="header-table" *ngFor="let item of previeDataFromServer; let i = index">
            <!-- <ng-container>
              <td class="sizes-input">
                <img class="ImageService" [src]="item.serviceId.profileImage || globals.defaultImage">
              </td>
            </ng-container> -->
            <ng-container>
              <td class="sizes-input">
                <span *ngIf="item.disabled">{{item?.serviceId?.serviceName}}</span>
                <div class="form-group position-relative mr-2" *ngIf="!item.disabled">
                  <div class="d-inline-block vt-dd-parent" ngbDropdown>
                    <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{item?.newServiceName?.serviceName}}</button>
                    <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                      <button class="dropdown-item" *ngFor="let job of jobType let j=index;" (click)="filter(i,job)">{{job.serviceName}}</button>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- <ng-container>
              <td class="mpc-input">
                <span *ngIf="item.disabled" class="hourlyRate">{{item.serviceHourlyRate | number:'1.2-2'}}</span>
                <div class="form-group position-relative mr-2 col-md-4" *ngIf="!item.disabled">
                  <input type="number" class="form-control" id="sameSize" name="sameSize" placeholder="Enter Hourly Rate" [(ngModel)]="item.serviceHourlyRate"
                    #sameSizeText="ngModel" required>
                </div>
              </td>
            </ng-container> -->

            <td class="mpc-actions"> 
              <button class="btn btn-light has-icon" *ngIf="item.disabled" [disabled]="disableOverAll" (click)="enableEdit(i,item.serviceId)">
                <i class="icon ion-md-create"></i>
              </button>
              <button class="btn btn-primary-color has-icon" *ngIf="!item.disabled"  (click)="saveSettings(i,item)">
                <i class="icon ion-md-checkmark"></i>
              </button>
              <button class="btn btn-light has-icon" (click)="deleteService(i,item,j)" md-raised-button><i class="icon ion-md-trash"></i></button>
            </td>
          </tr>
          <tr>
            <td>
              <span class="addItem"  *ngIf="jobType.length>0 && !disableOverAll"  (click)=addNew() >+ Add Service</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 no-padding mt-3">
          <button class="btn btn-primary-color save-btn" (click)="submit()">Next</button>
        </div>
    </div>
  </div>
</mat-card>