<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>


<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/payouts']">Back</a>
      </li>
      <li class="nav-item">
          <a class="nav-link no-link"> Referral Bonus Amount ({{payoutDetails.referralBonus }})</a>
        </li>

      <li class="nav-item mg-lt-auto" *ngIf="payoutDetails.status === 2">
        <a class="nav-link btn-primary-color btn-back"  *ngIf="this.payoutDetails.status!=1" (click)="openDialog(true)">Pay</a>
        <!-- <a class="nav-link btn-primary-color btn-back"  *ngIf="localStorage?.payouts == 3" (click)="openDialog(true)">Pay</a> -->
      </li>

    </ul>
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    <div class="col-md-4 card-container">

      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon"><i class="icon ion-md-time"></i></div>
          <div class="card-number">{{payoutDetails.totalJobCount}}</div>
          <div class="card-text">Total Jobs</div>
        </mat-card>
      </div>

      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon"><i class="icon ion-md-time"></i></div>
          <div class="card-number">{{payoutDetails.totalJobsEarnings | number : '1.2-2'}}</div>
          <div class="card-text">Total Job Amount</div>
        </mat-card>
      </div>

      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon"><i class="icon ion-md-time"></i></div>
          <div class="card-number">{{payoutDetails.totalSpEarning | number : '1.2-2'}}</div>
          <div class="card-text">Total Worker Earning</div>
        </mat-card>
      </div>

      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Worker Profile</div>
          <table class="text-center profile-table">

            <tr>
              <td colspan="2" class="text-center">
                <img [src]="payoutDetails.spProfileId && payoutDetails.spProfileId.profileImage || globals.defaultImage">
              </td>
            </tr>

            <tr>
              <div class="left-side">Name</div>
              <div class="right-side">{{payoutDetails.spProfileId && payoutDetails.spProfileId.firstName + payoutDetails.spProfileId && payoutDetails.spProfileId.lastName ||
                'N/A' }}</div>
            </tr>

            <tr>
              <div class="left-side">Mobile Number</div>
              <div class="right-side">{{payoutDetails.spProfileId && payoutDetails.spProfileId.phonePreFix}}
                {{payoutDetails.spProfileId && payoutDetails.spProfileId.phoneNumber || 'N/A' }}</div>
            </tr>

            <tr>
              <div class="left-side">Email Address</div>
              <div class="right-side">{{payoutDetails.spProfileId && payoutDetails.spProfileId.email || 'N/A' }}</div>
            </tr>

          </table>

          <div class="driver-actions mt-2">
            <!-- view workers -->
            <div class="btn-profile width-45">
              <a class="btn btn-primary-color width-100perc" (click)="viewProfile(payoutDetails.spProfileId && payoutDetails.spProfileId._id)">View
                Profile</a>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="table-container">
            <div class="title">Transaction Details
            </div>

            <div class="clear-both"> </div>

            <table class="mt-4" mat-table [dataSource]="dataSource">

              <!-- jobId Column -->
              <ng-container matColumnDef="jobId">
                <th mat-header-cell *matHeaderCellDef>JobId</th>
                <td mat-cell *matCellDef="let row;"> {{row.jobId || 'N/A'}} </td>
              </ng-container>

              <!-- jobCost Column -->
              <ng-container matColumnDef="jobCost">
                <th mat-header-cell *matHeaderCellDef>Job Cost</th>
                <td mat-cell *matCellDef="let row">{{globals.defaultCurrency}} {{row.jobCost}}</td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="spEarning">
                <th mat-header-cell *matHeaderCellDef>Worker Earning</th>
                <td mat-cell *matCellDef="let row">{{globals.defaultCurrency}} {{row.spEarning}}
                </td>
              </ng-container>

              <!-- Address Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef class="wd-td-pickUp-drop">Address</th>
                <td mat-cell *matCellDef="let row">{{row?.address || 'N/A'}}</td>
              </ng-container>


              <!-- Date Column -->
              <ng-container matColumnDef="jobTime">
                <th mat-header-cell *matHeaderCellDef>Date & Time</th>
                <td mat-cell *matCellDef="let row">{{row.jobTime | dateFormatPipe}}</td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                  <a (click)="viewJob(row._id)">
                    <button class="btn btn-light has-icon" md-raised-button><i class="icon ion-md-eye"></i></button></a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
              <span>No Records Found.</span>
            </mat-toolbar>

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
            </mat-paginator>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
