@import '../../../../assets/styles/base.scss';
mat-card a.btn {
    font-size: 14px;
    color: $white;
    float: right;
    border-radius: 0.6rem;
    margin-top: 5px;
}

// driver profile left side
.left-side {
    display: inline-block;
    padding-right: 20px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
}

// driver profile right side
.right-side {
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all; // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

.id-td {
    width: 10%
}

.delivery-pts-td {
    width: 80%
}

.toolbar {
    justify-content: center;
    background: $white;
}

.driver-actions {
    display: flex;
    justify-content: space-around;
}

.width-45 {
    width: 45%;
}

.btn-profile a {
    padding: 10px 15px;
    font-size: 14px;
}

.wd-td-pickUp-drop {
    width: 35%;
}

.mg-lt-auto {
    margin-left: auto;
}