<div class="image-preview-container" *ngIf="previewImage">
  <div class="image-wrapper">
    <img class="close-btn" (click)="closePreview()" src="assets/images/button-close.svg">
    <img [src]="previewImageUrl">
  </div>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">3. Identity Document</div>
      <div class="sub-title">Please edit Identity Document.</div>
      <div class="row plr-10">

        <form #form="ngForm" class="col-md-8">

          <!-- form fields -->
          <div class="row">

            <!-- file uplaod -->
            <div class="form-group col-md-12 no-pd-lt">
              <div class="file-upload">
                <label for="profile_upload" class="file-upload-label">
                  <div class="images-child" *ngIf="!model.imageString">
                    <p>Upload Worker's Identity Document (Required)</p>
                  </div>
                  <div class="images-child" *ngIf="model.imageString">
                    <img class="preview-img blurImg" [src]="model.imageString">
                  </div>
                </label>
                <input id="profile_upload" type='file' (change)="uploadPackageImage($event.target.files)" accept="image/*" class="file-upload-input"
                  name="file-upload">
              </div>
              <a *ngIf="model.imageString" (click)="previewImageViewer(model.imageString)" class="view-image">View Image</a>
              <p class="img-upload-at" *ngIf="model.imageString && model.profileImageUpdatedDate">Uploaded at: {{model.profileImageUpdatedDate | date: 'medium'}}</p>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="form.invalid || !model.imageString" (click)="submit()">{{buttonText}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>