@import './../../../../../assets/styles/base.scss';

input {
  border-radius: 10px;
}

label {
  color: #9F9E9F;
}

mat-card {
  width: 89.2%;
}

.title {
  margin-top: 12px;
  font-family: "ubuntuBold";
  font-size: 16px;
  margin-bottom: 10px;
}

.plr-10 {
  padding-left: 15px;
  padding-right: 15px;
}

.save-btn {
  border-radius: 0.6rem;
  padding: 10px 15px; // width: 100%;
  width: 180px;
}

.sub-title {
  color: #9F9E9F;
  margin-bottom: 30px;
}

//Image popup
.view-image {
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #cd0000 !important;
  cursor: pointer;
  margin-top: 10px;
}

.image-preview-container {
  position: fixed;
  width: 100%;
  display: flex;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 999;
  margin: auto;
  min-height: 100%;
}
.image-wrapper {
  width: 1024px;
  margin: auto;
  padding: 60px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.image-wrapper img {
  float: left;
  width: auto;
  height: 88vh;
  max-width: 54vw;
}

.image-wrapper img.close-btn {
  width: 25px;
  position: absolute;
  right: -35px;
  z-index: 9999;
  cursor: pointer;
  height: 20px;
}
