<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/users']">Back</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light" [ngClass]="{'btn-primary-color': packageType===1}"
          (click)="changeTypeOfPackage('active')">Active Jobs ({{packagesData?.jobsCount?.activeJobs || 0}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-light" [ngClass]="{'btn-primary-color': packageType===2}"
          (click)="changeTypeOfPackage('past')">Past Jobs ({{packagesData?.jobsCount?.pastJobs || 0}})</a>
      </li>
      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color" [ngClass]="{'disable-anchor': !enableBtn}"
          *ngIf="exportUserJobs && localStorage?.users == 3 && localStorage?.userType == 'Admin'"
          href="{{exportUserJobs}}">Export User Jobs</a>
        <!-- <a class="nav-link btn-primary-color" *ngIf="exportUserJobs && localStorage?.users == 3"
          (click)="update()">Delete User</a> -->
      </li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper-content">
    <div class="col-md-4 card-container">
      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon">
            <img class="customImageTop" src="assets/images/total-jobs-icon.png">
          </div>
          <div class="card-number">{{packagesData?.jobsCount?.totalJobs}}</div>
          <div class="card-text">Total Jobs</div>
        </mat-card>
      </div>
      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon">
            <img class="customImageTop" src="assets/images/icon_jobs_cancelled.png">
          </div>
          <div class="card-number">{{packagesData?.jobsCount?.cancelledJobs}}</div>
          <div class="card-text">Cancelled Jobs</div>
        </mat-card>
      </div>
      <div class="col-md-4 custom-card">
        <mat-card>
          <div class="card-icon">
            <img class="customImageTop" src="assets/images/schedule-jobs-icon.png">
          </div>
          <div class="card-number">{{packagesData?.jobsCount?.activeJobs}}</div>
          <div class="card-text">Active Jobs</div>
        </mat-card>
      </div>
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">User Profile</div>
          <table class="text-center profile-table">
            <tr>
              <td colspan="2" class="text-center">
                <img [src]="packagesData?.userProfile?.profileImage || globals.defaultImage">
              </td>
            </tr>
            <!-- <tr>
              <div class="left-side">Id</div>
              <div class="right-side">{{packagesData?.userProfile?.userProfileId || 'N/A'}}</div>
            </tr> -->
            <tr>
              <div class="left-side">Name</div>
              <div class="right-side">
                {{packagesData?.userProfile?.name || packagesData?.userDetails?.companyName || 'N/A'}}
              </div>
            </tr>
            <tr>
              <div class="left-side">Mobile Number</div>
              <div class="right-side">{{packagesData?.userProfile?.phone || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobile" (click)="Enablegdpr('mobile')">
                  <span appGdpr *ngIf="showData.mobile" [dataModel]="{requestField:'phone', id:userId, userType:'user'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </div>
            </tr>
            <tr>
              <div class="left-side">Email Address</div>
              <div class="right-side">{{packagesData?.userProfile?.email || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.email" (click)="Enablegdpr('email')">
                  <span appGdpr *ngIf="showData.email" [dataModel]="{requestField:'email', id:userId, userType:'user'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </div>
            </tr>
            <tr>
              <div class="left-side">Rating</div>
              <div class="right-side">{{(packagesData?.userProfile?.avgRating).toFixed(2)}}</div>
            </tr>
            <tr>
              <div class="left-side">Joining Date</div>
              <div class="right-side">{{(packagesData?.userProfile?.joiningDate | date: 'dd-MM-yyyy') || 'N/A'}}</div>
            </tr>
            <tr>
              <div class="left-side">Profile Status</div>
              <div class="right-side">{{packagesData?.userProfile?.status ? 'Blocked' : 'Active'}}</div>
            </tr>
            <tr *ngIf="packagesData?.userProfile?.status">
              <div style="vertical-align: top;" class="left-side">Blocking Reason</div>
              <div class="right-side">{{packagesData?.userProfile?.reason ? packagesData.userProfile.reason : 'N/A'}}
              </div>
            </tr>
            <tr>
              <div class="left-side">Total Referral Commission</div>
              <div class="right-side">{{globals.defaultCurrency + packagesData?.jobsCount?.totalCommissionFromReferrals}}</div>
            </tr>
          </table>
          <div class="profile-actions">
            <!-- <div class="col-md-2 btn-profile">
            </div> -->
            <div class="col-md-6 btn-profile">
              <a class="btn btn-dark-color" *ngIf="localStorage?.users == 3 && packagesData?.userProfile?.status"
                (click)="userStatusUpdate(packagesData?.userProfile?.status)">{{'Un-Block User'}}</a>
              <a class="btn btn-dark-color" *ngIf="localStorage?.users == 3 && !packagesData?.userProfile?.status"
                (click)="blockUserDial()">{{'Block User'}}</a>

            </div>
            <div class="col-md-6 btn-profile">
              <a class="btn btn-primary-color" *ngIf="exportUserDataURL && localStorage?.users == 3 && localStorage?.userType == 'Admin'"
                href="{{exportUserDataURL}}">Export User Data</a>
            </div>
            <div class="col-md-6 btn-profile feedback">
              <a class="btn btn-primary-color" (click)="feedbackDial()">Feedback</a>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <ng-template [ngIf]="true">
      <div class="col-md-8 card-container pull-right">
        <div class="col-md-12 custom-card">
          <mat-card>
            <div class="table-container">
              <div class="title">{{typeOfPackage===0 ? 'Past' : 'Active'}} Jobs</div>
              <!-- <div class="table-filters mt-5">
                <div class="mr-2">
                  <input class="search-input" type="text" #input placeholder="Search...">
                </div>
                <div class="d-inline-block vt-dd-parent" ngbDropdown >
                  <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
                  <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                    <button class="dropdown-item" *ngFor="let status of jobStatusText" (click)="filter(status)">{{status.name}}</button>
                  </div>
                </div>
              </div> -->

              <div class="">
                <div class="mr-2">
                  <input class="search-input" type="text" #input placeholder="Search...">
                </div>
                <!-- <div class="d-inline-block vt-dd-parent" ngbDropdown >
                  <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
                  <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                    <button class="dropdown-item" *ngFor="let status of jobStatusText" (click)="filter(status)">{{status.name}}</button>
                  </div>
                </div> -->
              </div>

              <div class="clear-both"></div>
              <table class="mt-4" mat-table [dataSource]="dataSource">

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="id-td">Id</th>
                  <td mat-cell *matCellDef="let row"> {{row.jobId}} </td>
                </ng-container>

                <!-- Delivery Column -->
                <ng-container matColumnDef="jobHours">
                  <th mat-header-cell *matHeaderCellDef class="delivery-pts-td">Job Hours</th>
                  <td mat-cell *matCellDef="let row">{{row.jobHours}}</td>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="job">
                  <th mat-header-cell *matHeaderCellDef>Job</th>
                  <td mat-cell *matCellDef="let row">{{row.jobService}}</td>
                </ng-container>

                <!-- Address Column 2 -->
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Job Address</th>
                  <td mat-cell *matCellDef="let row">{{row.address||'N/A'}}</td>
                </ng-container>

                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef class="amount-td">Amount Paid</th>
                  <td mat-cell *matCellDef="let row">
                    <b>{{globals.defaultCurrency}} </b>{{row.amount}}
                  </td>
                </ng-container>
                <!--  date Column -->
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let row">{{((row.date*1000) | date) || 'N/A'}}</td>
                </ng-container>

                <!--  Status Column -->
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let row">{{row.statusText || 'N/A'}}</td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                    <a class="btn btn-light has-icon" [routerLink]="[ '/users/package-detail', row._id]">
                      <i class="icon ion-md-eye"></i>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
                <span>No Records Found.</span>
              </mat-toolbar>

              <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
              </mat-paginator>

            </div>
          </mat-card>
        </div>
      </div>
    </ng-template>

  </div>
</div>