@import './../../../../assets/styles/base.scss';

.sub-nav {
    padding: 0 5.5%;
}

.btn-profile a {
    padding: 10px 15px;
    font-size: 14px;
}
.feedback {
  padding-top: 10px !important;
  font-size: 14px;
  width: 100%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

// driver profile left side
.left-side {
    display: inline-block;
    padding-right: 20px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  // driver profile right side
  .right-side {
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  .toolbar {
    justify-content: center;
    background: #FFFFFF;
  }

  .id-td {
    width: 10%
  }
  
  .delivery-pts-td{
    width: 15%
  }
  
  .amount-td {
    width: 15%
  }
  .customImageTop{
    border-radius: unset !important;
    border: none !important;
    width: auto !important;
}

.disable-anchor {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.status-dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  left: 0 !important;
  padding: 0 !important;
  max-height: 350px;
  overflow-y: scroll;
}

.vt-dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  padding: 0 !important;
  min-width: 100px !important;
  left: 0px !important;
  max-height: 350px;
  overflow-y: scroll;
}

.status-dd-parent .dropdown-item,
.vt-dd-parent .dropdown-item {
  padding: .25rem 1rem !important;
}


.vt-dd-parent .btn,
.status-dd-parent .btn,
.vt-dd-parent .btn,
.status-dd-parent .btn :active,
.vt-dd-parent .btn,
.status-dd-parent .btn :focus,
.vt-dd-parent .btn,
.status-dd-parent .btn :hover {
  box-shadow: none !important;
  outline: none;
  border-color: #DDDDDD;
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px

}

.dropdown-toggle::after {
  margin-right: 5px !important;
}

.job-filters{
  display: flex;
  flex-direction: row-reverse;
}