@import '../../../../assets/styles/base.scss';
.review {
    padding: 10px 15px !important;
}

.title {
    font-size: 20px
}
.search-input {
    float: right;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    width: 22%;
}