<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link btn-light-color" (click)="switchType('user')"  [ngClass]="{'btn-primary-color': tabactive==true }"
          routerLinkActive="btn-primary-color">Users</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-light-color" (click)="switchType('worker')" [ngClass]="{'btn-primary-color': tabactive==false }"
          routerLinkActive="btn-primary-color">Workers</a>
      </li>


      <li class="nav-item add-new-btn">
        <a class="nav-link btn-primary-color" [routerLink]="[ '/referral/edit', 0 ]">Referral Settings</a>
      </li>
    </ul>
  </div>
</div>


<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="table-container">
    <div class="title">Referral</div>
    <div class="driver-search">
        <!--<input class="search-input" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search...">-->
        <div class="mr-2">
          <input class="searchUser search-input" type="text" #input placeholder="Search...">
        </div>
        <!-- <div class="d-inline-block vt-dd-parent" ngbDropdown>
            <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
            <div ngbDropdownMenu aria-labelledby="vt-dropdown">
              <button class="dropdown-item" *ngFor="let status of jobStatusText" (click)="filter(status)">{{status.name}}</button>
            </div>
          </div> -->
      </div>
    <div class="clear-both"> </div>
    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.image" alt="image">
        </td>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="referredBy">
        <th mat-header-cell *matHeaderCellDef>Referred By</th>
        <td mat-cell *matCellDef="let row">{{row.referredBy || 'N/A'}}</td>
      </ng-container>

      <!-- referral Id Column -->
      <ng-container matColumnDef="referralId">
        <th mat-header-cell *matHeaderCellDef>Referral Id</th>
        <td mat-cell *matCellDef="let row">{{row.referralCode || 'N/A'}}</td>
      </ng-container>

      <!-- Referral Column -->
      <ng-container matColumnDef="referrals">
        <th mat-header-cell *matHeaderCellDef>Referral</th>
        <td mat-cell *matCellDef="let row">{{row.userReferred || 'N/A'}}</td>
      </ng-container>

      <!-- Referral earn Column -->
      <ng-container matColumnDef="referralsEarning">
        <th mat-header-cell *matHeaderCellDef>Referrals Earning</th>
        <td mat-cell *matCellDef="let row">{{row.amount || '0'}}</td>
      </ng-container>
      <!-- Total Jobs Column -->
      <ng-container matColumnDef="TotalJobs">
        <th mat-header-cell *matHeaderCellDef>Total Jobs</th>
        <td mat-cell *matCellDef="let row">{{row.totalJobs || '0'}}</td>
      </ng-container>
      <!-- Completed Jobs Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef>Completed jobs</th>
        <td mat-cell *matCellDef="let row">{{row.jobCompleted || '0'}}</td>
      </ng-container>
      <!-- pay status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Pay status</th>
        <td mat-cell *matCellDef="let row">{{row.isPaid? 'Paid': 'Pending' || 'N/A'}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button class="btn btn-light review" [routerLink]="[ '/referral/edit', 1]" md-raised-button>Review</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>