<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="row plr-15">


        <form #addEditService="ngForm" class="col-md-8">
          <!-- form fields -->
          <div class="row">

            <!-- Job Radius (Km) -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="jobRadiusInKm">Job Radius (Km)</label>
              <input type="number" class="form-control" id="jobRadiusInKm" [disabled]="disableInput" name="jobRadiusInKm" name="jobRadiusInKm" [(ngModel)]="model.jobRadiusInKm"
                #jobRadiusInKm="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="jobRadiusInKm.touched && jobRadiusInKm.invalid">
                <div *ngIf="jobRadiusInKm.errors.required">Job Radius (Km) is required!</div>
              </div>
            </div>

            <!-- offset -->
            <div class="col-md-2"></div>

            <!-- Service Charges -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="serviceCharges">Service Charges ({{globals.defaultCurrency}})</label>
              <input type="number" class="form-control" id="serviceCharges" [disabled]="disableInput" name="serviceCharges" name="serviceCharges" [(ngModel)]="model.serviceCharges"
                #serviceCharges="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="serviceCharges.touched && serviceCharges.invalid">
                <div *ngIf="serviceCharges.errors.required">Service Charges is required!</div>
              </div>
            </div>
            
            <!-- offset -->
            <div class="col-md-2"></div>

            <!-- Vat Feilds -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="vat">VAT (%)</label>
              <input type="number" class="form-control" [disabled]="disableInput" id="vat" name="vat"  [(ngModel)]="model.vat"
                #vat="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="vat.touched && vat.invalid">
                <div *ngIf="vat.errors.required">VAT required!</div>
              </div>
            </div>

            <!-- offset -->
            <div class="col-md-2"></div>
            <!-- Timeout -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="timeout">Timeout (minutes)</label>
              <input type="number" class="form-control" [disabled]="disableInput" id="timeout" name="timeout" [(ngModel)]="model.timeout"
                #timeout="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="timeout.touched && timeout.invalid">
                <div *ngIf="timeout.errors.required">TimeOut required!</div>
              </div>
            </div>

            <!-- offset -->
            <div class="col-md-2"></div>
            <!-- Timeout -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="jobCancellationAmount">Cancellation charges ({{globals.defaultCurrency}})</label>
              <input type="number" class="form-control" [disabled]="disableInput" id="jobCancellationAmount" name="jobCancellationAmount" [(ngModel)]="model.jobCancellationAmount"
                #jobCancellationAmount="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="jobCancellationAmount.touched && jobCancellationAmount.invalid">
                <div *ngIf="jobCancellationAmount.errors.required">jobCancellationAmount required!</div>
              </div>
            </div>


            <div class="col-md-2"></div>
            <!-- Referral -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="referralJobs">Jobs to give Referral Promo </label>
              <input type="number" class="form-control" [disabled]="disableInput" id="referralJobs" name="referralJobs" [(ngModel)]="model.referralJobs"
                #referralJobs="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="referralJobs.touched && referralJobs.invalid">
                <div *ngIf="referralJobs.errors.required">Jobs required!</div>
              </div>
            </div>



            <div class="col-md-2"></div>
            <!-- Referral -->
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="jobCancellationAmount">Referral Promo Percentage</label>
              <input type="number" class="form-control" [disabled]="disableInput" id="referralPercentage" name="referralPercentage" [(ngModel)]="model.referralPercentage"
                #referralPercentage="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="referralPercentage.touched && referralPercentage.invalid">
                <div *ngIf="referralPercentage.errors.required">Referral Percentage Required!</div>
              </div>
            </div>


            <div class="col-md-2"></div>
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="sendEmail">Send Email</label>
              <div>
                <mat-slide-toggle color="primary" id="sendEmail" name="sendEmail" [(ngModel)]="model.sendEmail"></mat-slide-toggle>

              </div>
            </div>


            <div class="col-md-2"></div>
            <div class="form-group mr-1 col-md-5 no-padding">
              <label for="sendEmail">Send Job Offer To Imported Workers</label>
              <div>
                <mat-slide-toggle color="primary" id="sendJob" name="sendJob" [(ngModel)]="model.sendJob"></mat-slide-toggle>

              </div>
            </div>

            <div class="col-md-12 no-padding mt-3" *ngIf="localStorage?.configurations == 3">
              <button class="btn btn-primary-color save-btn" [disabled]="addEditService.invalid" (click)="edit(addEditService)">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>