<div class="delete-modal">
  <h1 mat-dialog-title>Line Item Details</h1>
  <div mat-dialog-content>
    <table class="profile-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Commission</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of realItems">
          <td>{{item.itemName}}</td>
          <td>{{item.itemPrice}}</td>
          <td>{{item.itemQuantity}}</td>
          <td>{{item.commission}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="btn btn-dark-color">Cancel</button>
  </div>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->