.modal-heading {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.modal-desc {
    color: #979797;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.sub-heading {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.lblss {
    font-family: 'GT Walsheim Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.hr-style {
    margin-top: 1.5rem;
}

.txt-box {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px !important;
    height: 56px !important;
}

.right-space {
    margin-right: 10px;
}

.btns-group {
    text-align: right;
}

.signInCTA {
    background: #00B184;
    border-radius: 4px;
    //width: 100%;
    width: 162px;
    height: 56px;
    color: #FDFDFD;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'GT Walsheim Pro Light';
}

.cancel-btn {
    width: 100px;    
}

.price-sect {
    display: flex;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.col-40 {
    max-width: 59%;
    padding-right: 10px;
}

.col-20 {
    max-width: 20%;
}

.acc-select {
    border: 0.5px solid #EBEBEB;
    border-radius: 4px !important;
    height: 56px !important;
}

.val-box {
    padding-right: 30px;
}

.comm-type {
    position: relative;
    bottom: 40px;
    border-left: 1px solid #EBEBEB;
    padding-left: 4px; //7px;
    left: 85px;

    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

select {
    // background-image: url('../../../../assets/images/drop-ico.png') !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-position-x: right !important;
    background-position-x: 94% !important;
    -webkit-appearance: none;
}

@media screen and (max-width: 769px) {
    .custom-row {
        display: block;
    }

    .col-40,
    .col-20 {
        max-width: 100%;
    }

    .comm-type {
        left: 92%;
    }
}

@media screen and (max-width: 400px) {
    .comm-type {
        left: 88%;
    }
}

@media screen and (max-width: 400px) {
    .btns-group {
        text-align: revert;
    }

    .signInCTA {
        width: 100%;
    }

    .cancel-btn {
        margin-right: 0 !important;
        margin-bottom: 1rem;
    }
}