<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="modal-container">
  <div mat-dialog-content>
    <p class="modal-heading">{{btnTxt}} Commission</p>
    <hr class="hr-style">
    <div class="form-group">
      <p class="sub-heading">{{btnTxt}} range</p>
    </div>
    <div class="custom-row">
      <div class="col-40">
        <label class="lblss">Range</label>
        <div class="price-sect">
          <input type="text" class="form-control txt-box right-space" name="minRange" id="minRange"
            [(ngModel)]="model.minRange" autocomplete="off" placeholder="Minimum range" maxlength="10"
            oninput="this.value=this.value.replace(/[^0-9]/g,'');">
          <input type="text" class="form-control txt-box" name="maxRange" id="maxRange" [(ngModel)]="model.maxRange"
            autocomplete="off" placeholder="Maximum range" maxlength="10"
            oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        </div>
      </div>

      <div class="col-20">
        <label class="lblss">Commission</label>
        <input type="text" class="form-control txt-box val-box" name="commissionPercentage" id="commissionPercentage"
          [(ngModel)]="model.commissionPercentage" autocomplete="off" maxlength="5"
          oninput="this.commissionPercentage=this.commissionPercentage.replace(/[^0-9]/g,'');">
      </div>
    </div>

    <hr class="hr-style">
    <div class="form-group btns-group mt-4">
      <!-- <button type="button" class="btn btn-primary-color save-btn ml-auto signInCTA mr-2"
        (click)="addCommission('cancel')">Cancel</button> -->
      <button type="submit" class="btn btn-primary-color save-btn ml-auto signInCTA"
        (click)="addEditCommission('create')">{{btnTxt}}</button>
    </div>
  </div>
</div>