<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>


<mat-card>
  <div class="table-container">

    <div class="row">
      <div class="col-md-12">
        <div class="title">Payouts</div>
      </div>
    </div>

    <div class="driver-search">

      <div class="d-inline-block dates-dd-parent" ngbDropdown>
        <button class="btn" id="dates-dropdown" ngbDropdownToggle>{{selectedWeek.duration}}</button>

        <!-- weeks -->
        <div ngbDropdownMenu aria-labelledby="dates-dropdown">
          <span class="dropdown-item" *ngFor="let week of weeksArr" (click)="selectWeek(week)">{{week.duration}}</span>
        </div>
      </div>

      <!-- year -->
      <div class="d-inline-block vt-dd-parent mr-2" ngbDropdown>
        <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{selectedYear}}</button>
        <div ngbDropdownMenu aria-labelledby="vt-dropdown">
          <span class="dropdown-item" *ngFor="let year of years" (click)="selectYear(year.year)">{{year.year}}</span>
        </div>
      </div>
    </div>


    <div class="clear-both"> </div>

    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- Photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row"><img [src]="row.profileImage || globals.defaultImage"></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name || 'N/A'}}</td>
      </ng-container>


      <!-- Mobile Number Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.phoneNumberPrefix && row.phone">{{row.phoneNumberPrefix}}-{{row.phone}}</span>
          <span *ngIf="!row.phoneNumberPrefix || row.phone">{{row.phone}}</span>
        </td>
      </ng-container>

      <!-- Email Address -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let row">{{row.email || 'N/A'}}</td>
      </ng-container>

      <!-- earning Column -->
      <ng-container matColumnDef="earning">
        <th mat-header-cell *matHeaderCellDef>Earning</th>
        <td mat-cell *matCellDef="let row" class="text-capitalize">{{globals.defaultCurrency}} {{row.earning.toFixed(2)
          || 'N/A'}}</td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row" class="text-capitalize">
          {{row.status === 1 ? 'Paid' : 'Pending' }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <a class="btn btn-light has-icon" [routerLink]="[ 'payout-details', row._id ]"><i class="icon ion-md-eye"></i></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf="!dataSource?.length ||  dataSource && dataSource.length === 0">
      <span>No Records Found.</span>
    </mat-toolbar>


    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>
