@import '../../../../assets/styles/base.scss';

.driver-search {
    display: flex;
    flex-direction: row-reverse;
}

.dates-dd-parent .dropdown-menu.show,
.vt-dd-parent .dropdown-menu.show
 {
    margin-top: 5px !important;
    left: 0 !important;
    padding: 0 !important;
    max-height: 350px;
    overflow-y: scroll;
}

.dates-dd-parent .dropdown-item,
.vt-dd-parent .dropdown-item
 {
    padding: .25rem 1rem !important;
    font-size: 14px;
}

.dates-dd-parent .btn,
.dates-dd-parent .btn :active,
.dates-dd-parent .btn :focus,
.dates-dd-parent .btn :hover ,

.vt-dd-parent .btn,
.vt-dd-parent .btn :active,
.vt-dd-parent .btn :focus,
.vt-dd-parent .btn :hover 
{
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 14px;
    border-radius: 0.6rem;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
}

.dropdown-toggle::after {
    margin-right: 5px !important;
}

.dates-dd-parent .dropdown-toggle::after {
    margin-left: 1.255em !important;
}