@import './../../../../assets/styles/base.scss';
.sub-nav {
    padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

agm-map {
    width: 100%;
    height: 40vh;
}

.details-table.package-right tr {
    border-bottom: none;
    border-top: none;
    padding: 0 0;
}

.details-table.package-right tr td {
    padding: 2px 0;
    text-align: right;
    color: $label-color;
    font-family: 'ubuntuRegular' !important;
}

.details-table.package-right tr th {
    width: auto;
    text-align: left;
    padding: 2px 0;
}

.details-table.package-right tr:first-child {
    text-align: left;
    margin-top: 10px;
    font-family: $ff-bold;
}

.details-table.package-right tr:first-child th {
    color: rgba(0, 0, 0, .87);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.wrapper .wrapper-content mat-card .title {
    padding-bottom: 8px;
}

.delivery-color {
    color: $primary-color;
}

.delivery-photo {
    color: $primary-color;
    margin-left: 5px;
}

.delivery-photo:hover {
    text-decoration: none;
}

.delivery-color:hover {
    text-decoration: none;
}

.added-item-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50px;
    margin: unset !important;
}

.item-name {
    margin-bottom: 6px;
    font-family: $ff-bold;
    color: rgba(0, 0, 0, .87);
    width: 100%;
}

.item-size-quantity {
    position: relative;
}

.item-size-quantity span {
    margin-right: 10px;
}

.item-size-quantity span:first-child:after {
    content: '.';
    font-size: 24px;
    position: absolute;
    top: -14px; // left: 38%;
}

.left-side {
    display: inline-block;
    padding-right: 20px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
    color: #777777;
}

.right-side {
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

.drop-off-items {
    padding-bottom: 10px;
}

.dropoff-pkg-items {
    margin-left: 15px;
    border-top: 1px solid #F2F4F8;
    padding: 10px 0px;
}

.dropoff-pkg-items:last-child {
    border-bottom: 1px solid #F2F4F8;
}

.item-size-quantity {
    font-family: "ubuntuRegular" !important;
    color: $label-color
}

.td-item-img {
    width: 8%;
    text-align: left !important;
}

.td-item-desc {
    text-align: left !important
}

.panel-title {
    font-family: 'ubuntuRegular' !important;
    color: #777777;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
}

.panel-description {
    display: inline-block;
    padding-left: 30px;
    width: 50%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#price-breakdown {
    // border-top: 1px solid #F2F4F8;
}
.unblock-drop-off {
    float: right;
}
.unblock-drop-off a {
    padding: 8px;
    font-family: $ff-regular;
    border-radius: 0.3rem;
}
.topDiv{
    color: rgba(0, 0, 0, 0.87);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
    padding: 2px 0;
    font-family: "ubuntuBold";
}
.bottomDiv{
    color: #9F9E9F;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
    padding: 2px 0;
}
