<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/users/profile', model?.userData?.userProfileId._id]">Back</a>
      </li>
      <!-- <li class="nav-item add-new-btn" *ngIf="typeOfPackage==1">
        <a class="nav-link btn-primary-color">Cancel Job</a>
      </li> -->
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper-content">
    <div class="col-md-4 card-container">
      <div class="col-md-12 custom-card">
        <mat-card>
          <table class="profile-table">
            <tr>
              <div class="left-side">Job Id</div>
              <div class="right-side font-bold">{{model?.jobId || 'N/A'}}</div>
            </tr>
            <tr>
              <div class="left-side">Job</div>
              <div class="right-side font-bold">{{model?.service?.serviceId?.serviceName || 'N/A'}}</div>
            </tr>
            <tr>
              <div class="left-side">Job Status</div>
              <div class="right-side font-bold">{{model?.jobStatusText||'N/A'}}</div>
            </tr>
            <tr>
              <div class="left-side">Job Distance</div>
              <div class="right-side font-bold">{{(model?.distance + ' km')|| 'N/A'}} </div>
            </tr>
          </table>

          <mat-expansion-panel id="price-breakdown">
            <!-- header panel -->
            <mat-expansion-panel-header>
              <span class="panel-title">Price Breakdown</span>
              <span class="panel-description font-bold">{{globals.defaultCurrency + ' ' + (model?.jobAmount?.actualAmountCharge | number : '1.2-2')}}</span>
            </mat-expansion-panel-header>

            <!-- table -->
            <table class="profile-table">
              <tr>
                <td class="left-side">Service Charges</td>
                <td class="right-side">{{globals.defaultCurrency + ' ' + model?.jobAmount?.serviceCharges}}
                </td>
              </tr>

              <!-- <tr>
                    <td class="left-side">Per Kilometer</td>
                    <td class="right-side">{{ model?.packageDetail?.currency + ' ' +
                      model?.packageDetail?.costBreakDown?.chargesPerKM}}</td>
                  </tr> -->

              <tr>
                <td class="left-side">VAT Charges</td>
                <td class="right-side">{{globals.defaultCurrency + ' ' + model?.jobAmount?.vatCharges}}
                </td>
              </tr>
              <tr>
                <td class="left-side">{{model?.serviceName}} job ({{model?.serviceHourlyRate}}) x {{model?.jobActualHours+ ':' + model?.jobActualMinutes}}hr</td>
                <td class="right-side">{{globals.defaultCurrency + ' ' + model?.jobAmount?.jobAmount}}</td>
              </tr>
              <tr>
                <td class="left-side">Discount Charges</td>
                <td class="right-side">{{globals.defaultCurrency + ' ' + model?.jobAmount?.promoCodeDiscount}}
                </td>
              </tr>
              <tr *ngIf="model?.jobAmount?.totalLineItemAmount >0">
                <mat-expansion-panel id="units-breakdown">
                  <!-- header panel -->
                  <mat-expansion-panel-header>
                    <span class="panel-title">Line Items Amount</span>
                    <span class="panel-description font-bold">{{globals.defaultCurrency + ' ' + (model?.jobAmount?.totalLineItemAmount | number : '1.2-2')}}</span>
                  </mat-expansion-panel-header>
                  <table>
                    <tr *ngFor="let lineItem of model?.lineItems">
                      <td class="left-side">{{lineItem.itemName}} {{globals.defaultCurrency + ' ' +(lineItem.itemPrice)}} x {{lineItem.itemQuantity}}</td>
                      <td class="right-side">{{globals.defaultCurrency + ' ' +(lineItem.itemPrice * lineItem.itemQuantity)}}
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </tr>


            </table>
          </mat-expansion-panel>
        </mat-card>
      </div>

      <!-- User Profile -->
      <div class="col-md-12 custom-card" *ngIf="model?.userData?.userProfileId">
        <mat-card>
          <div class="title">User Profile</div>
          <table class="profile-table">
            <tr>
              <td colspan="2" class="text-center">
                <img [src]="model?.userData?.userProfileId?.profileImage || globals.defaultImage">
              </td>
            </tr>
            <!-- <tr>
                <div class="left-side">Id</div>
                <td class="right-side">{{model?.spDetails?.spAccount?.id || 'N/A'}}</td>
              </tr> -->
            <tr>
              <div class="left-side">Name</div>
              <td class="right-side">{{(model?.userData?.userProfileId?.firstName + " " + model?.userData?.userProfileId?.lastName) || 'N/A'}}</td>
            </tr>
            <tr>
              <div class="left-side">Mobile Number</div>
              <td class="right-side">{{model?.userData?.userProfileId?.phonePreFix}} {{model?.userData?.userProfileId?.phoneNumber || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobileUser" (click)="Enablegdpr('mobileUser','user')">
                  <span appGdpr *ngIf="showData.mobileUser" [dataModel]="{requestField:'phone',id:model.userData.userProfileId._id, userType:'user'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </td>
            </tr>
            <tr>
              <div class="left-side">Email Address</div>
              <td class="right-side">{{model?.userData?.userProfileId?.email || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.emailUser" (click)="Enablegdpr('emailUser','user')">
                  <span appGdpr *ngIf="showData.emailUser" [dataModel]="{requestField:'email', id:model.userData.userProfileId._id, userType:'user'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>

      <!-- Worker Profile -->
      <div class="col-md-12 custom-card" *ngIf="model?.spData?.spProfileId">
        <mat-card>
          <div class="title">Worker Profile</div>
          <table class="profile-table">
            <tr>
              <td colspan="2" class="text-center">
                <img [src]="model?.spData?.spProfileId?.profileImage || globals.defaultImage">
              </td>
            </tr>
            <!-- <tr>
                <div class="left-side">Id</div>
                <td class="right-side">{{model?.spData?.spProfileId?.id || 'N/A'}}</td>
              </tr> -->
            <tr>
              <div class="left-side">Name</div>
              <td class="right-side">{{model?.spData?.spProfileId?.firstName}} {{ model?.spData?.spProfileId?.lastName || 'N/A'}}</td>
            </tr>
            <tr>
              <div class="left-side">Mobile Number</div>
              <td class="right-side">{{model?.spData?.spProfileId?.phonePreFix}} {{model?.spData?.spProfileId?.phoneNumber || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.mobileWorker" (click)="Enablegdpr('mobileWorker','worker')">
                  <span appGdpr *ngIf="showData.mobileWorker" [dataModel]="{requestField:'phone',id:model.spData.spProfileId._id, userType:'sp'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </td>
            </tr>
            <tr>
              <div class="left-side">Email Address</div>
              <td class="right-side">{{model?.spData?.spProfileId?.email || 'N/A'}}
                <div class="icon ion-md-eye eyeIcon" *ngIf="showEye.emailWorker" (click)="Enablegdpr('emailWorker','worker')">
                  <span appGdpr *ngIf="showData.emailWorker" [dataModel]="{requestField:'email', id:model.spData.spProfileId._id, userType:'sp'}"
                    (returnedData)="GotGDPRDATA($event)"></span>
                </div>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>

      <!-- Cancellation Reasons -->
      <div class="col-md-12 custom-card" *ngIf="model?.cancellationReason">
        <mat-card>
          <div class="title">Cancellation Reasons</div>
          <table class="profile-table">
            <tr>
              <td class="">{{model?.cancellationReason.reason || 'N/A'}}</td>
            </tr>
          </table>
        </mat-card>
      </div>

    </div>



    <!-- Job Location Address -->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Job Location</div>
          <div class="topDiv">{{model?.jobAddress?.primaryAddress || 'N/A'}}</div>
          <div class="bottomDiv">{{model?.jobAddress?.city || 'N/A'}} ({{model?.jobAddress?.country || 'N/A'}})</div>
        </mat-card>
      </div>
    </div>

    <!-- Job Secdule -->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Job Schedule</div>
          <div class="topDiv">{{((model?.jobPostTime*1000)| date : 'MMM dd, yyyy h:mm a') || 'N/A'}}</div>
          <div class="bottomDiv">{{model?.scheduledAt}}</div>
        </mat-card>
      </div>
    </div>
    <!-- Job Description -->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Job Description</div>
          <div>
            <div class="topDiv">Description:</div>
            <div class="bottomDiv">{{model?.workDescription || 'N/A'}}</div>
          </div>
          <div>
            <div class="topDiv">Instructions:</div>
            <div class="bottomDiv">{{model?.specialInstruction || 'N/A'}}</div>
          </div>

        </mat-card>
      </div>
    </div>


    <!-- map -->
    <div class="col-md-8 card-container pull-right">
      <div class="col-md-12 custom-card">
        <mat-card>
          <div class="title">Map Route</div>
          <agm-map [latitude]="origin.latitude" [longitude]="origin.longitude" [zoom]="10">
            <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints" [renderOptions]="renderOptions" [markerOptions]="markerOptions"></agm-direction>
          </agm-map>
          <!-- [renderOptions]="renderOptions"
                  [markerOptions]="markerOptions" -->
        </mat-card>
      </div>
    </div>

  </div>
</div>