<div class="fluid-container">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/roles-security' ]">Back</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <div class="row width-100perc">
    <div class="col-md-12">
      <div class="title">{{typeOfForm}} Role</div>
      <div class="row plr-10">

        <form #roleForm="ngForm" class="col-md-8" autocomplete="off">

          <div class="row">
            <!-- first name -->
            <div class="form-group col-md-5 no-pd-lt">

              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your First Name" [(ngModel)]="model.firstName"
                #firstName="ngModel" (blur)="checkIfOnlySpaces('firstName')" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="firstName.touched && firstName.invalid">
                <div *ngIf="firstName.errors.required">First Name is required!</div>
              </div>
            </div>

            <!-- last name -->
            <div class="form-group col-md-5 mr-3">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your Last Name" [(ngModel)]="model.lastName"
                #lastName="ngModel" (blur)="checkIfOnlySpaces('lastName')" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="lastName.touched && lastName.invalid">
                <div *ngIf="lastName.errors.required">Last Name is required!</div>
              </div>
            </div>

            <!-- mobile number prefix -->
            <div class="form-group col-md-5 no-pd-lt vt-dd-parent" ngbDropdown>
              <label class="prefix" for="mobilePrefix">Mobile prefix</label>
              <button class="btn mr-2 align-left" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.countryCode}} {{statusFilterText?.name}}</button>
              <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                <button class="dropdown-item" *ngFor="let status of countryCodes" (click)="filter(status)">{{status.countryCode}} ( {{status.name}} )</button>
              </div>
            </div>

            <!-- MobileNumber -->
            <div class="form-group  col-md-5 mr-3">
              <label for="mobileNumber">Mobile Number</label>
              <!-- <span class="phonecode">+01</span> -->

              <input autocomplete="off" required type="text" class="form-control phoneNumber" [ngClass]="{'error-border': mobileNumber.touched && mobileNumber.invalid}"
                onKeyPress="if(this.value.length===12) return false; return ((event.charCode >= 48 && event.charCode <= 57))"
                #mobileNumber="ngModel" name="mobileNumber" [(ngModel)]="model.mobileNumber" placeholder="Enter Mobile Number">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="mobileNumber.touched && mobileNumber.invalid">
                {{mobileNumber.errors.required ? 'mobile number is required.' : ''}}
              </div>
            </div>

            <!-- email address -->
            <div class="form-group col-md-5 no-pd-lt">
              <label for="emailAddress">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" [(ngModel)]="model.email"
                #email="ngModel" [disabled]="typeOfForm==='Edit'" (blur)="checkIfOnlySpaces('email')" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required">Email Address is required!</div>
              </div>
            </div>

            <!-- password -->
            <div class="form-group col-md-5  no-pd-lt">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="model.password"
                #password="ngModel" (blur)="checkIfOnlySpaces('password')">

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required">Password is required!</div>
              </div>
            </div>

            <!-- permission -->
            <div class="col-md-12 no-padding">
              <div class="profile-permission">
                <div class="permissions-heading">Permissions</div>
                <div>
                  <h6>Dashboard</h6>
                  <mat-radio-group class="permission-radio-group" name="dashboard" [(ngModel)]="model.dashboard">
                    <mat-radio-button [checked]="model.dashboard === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.dashboard === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.dashboard === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Map</h6>
                  <mat-radio-group class="permission-radio-group" name="map" [(ngModel)]="model.map">
                    <mat-radio-button [checked]="model.map === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.map === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.map === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Workers</h6>
                  <mat-radio-group class="permission-radio-group" name="workers" [(ngModel)]="model.workers">
                    <mat-radio-button [checked]="model.workers === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.workers === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.workers === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Users</h6>
                  <mat-radio-group class="permission-radio-group" name="users" [(ngModel)]="model.users">
                    <mat-radio-button [checked]="model.users === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.users === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.users === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Jobs</h6>
                  <mat-radio-group class="permission-radio-group" name="jobs" [(ngModel)]="model.jobs">
                    <mat-radio-button [checked]="model.jobs === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.jobs === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.jobs === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <!-- <div>
                    <h6>Emergency</h6>
                    <mat-radio-group class="permission-radio-group" name="emergency" [(ngModel)]="model.viewEmergency">
                      <mat-radio-button [checked]="model.viewEmergency === 0" [value]="0">Don't show</mat-radio-button>
                      <mat-radio-button [checked]="model.viewEmergency === 1" [value]="1">Can View</mat-radio-button>
                      <mat-radio-button [checked]="model.viewEmergency === 2" [value]="2">Can Work On it</mat-radio-button>
                    </mat-radio-group>
                  </div>
  
                  <div>
                    <h6>Profile</h6>
                    <mat-radio-group class="permission-radio-group" name="profile" [(ngModel)]="model.viewProfile">
                      <mat-radio-button [checked]="model.viewProfile === 0" [value]="0">Don't show</mat-radio-button>
                      <mat-radio-button [checked]="model.viewProfile === 1" [value]="1">Can View</mat-radio-button>
                      <mat-radio-button [checked]="model.viewProfile === 2" [value]="2">Can Work On it</mat-radio-button>
                    </mat-radio-group>
                  </div>
   -->
                <div>
                  <h6>PromoCodes</h6>
                  <mat-radio-group class="permission-radio-group" name="promocodes" [(ngModel)]="model.promoCodes">
                    <mat-radio-button [checked]="model.promoCodes === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.promoCodes === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.promoCodes === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--   
                  <div>
                    <h6>Languages</h6>
                    <mat-radio-group class="permission-radio-group" name="languages" [(ngModel)]="model.viewLanguages">
                      <mat-radio-button [checked]="model.viewLanguages === 0" [value]="0">Don't show</mat-radio-button>
                      <mat-radio-button [checked]="model.viewLanguages === 1" [value]="1">Can View</mat-radio-button>
                      <mat-radio-button [checked]="model.viewLanguages === 2" [value]="2">Can Work On it</mat-radio-button>
                    </mat-radio-group>
                  </div>
   -->
                <div>
                  <h6>Configurations</h6>
                  <mat-radio-group class="permission-radio-group" name="configurations" [(ngModel)]="model.configurations">
                    <mat-radio-button [checked]="model.configurations === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.configurations === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.configurations === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Referral Management</h6>
                  <mat-radio-group class="permission-radio-group" name="referrals" [(ngModel)]="model.referrals">
                    <mat-radio-button [checked]="model.referrals === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.referrals === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.referrals === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Roles And Security</h6>
                  <mat-radio-group class="permission-radio-group" name="rolesecurity" [(ngModel)]="model.rolesAndSecurity">
                    <mat-radio-button [checked]="model.rolesAndSecurity === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.rolesAndSecurity === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.rolesAndSecurity === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <!-- <div>
                    <h6>Reported Issues</h6>
                    <mat-radio-group class="permission-radio-group" name="reportedissues" [(ngModel)]="model.viewReportedIssues">
                      <mat-radio-button [checked]="model.viewReportedIssues === 0" [value]="0">Don't show</mat-radio-button>
                      <mat-radio-button [checked]="model.viewReportedIssues === 1" [value]="1">Can View</mat-radio-button>
                      <mat-radio-button [checked]="model.viewReportedIssues === 2" [value]="2">Can Work On it</mat-radio-button>
                    </mat-radio-group>
                  </div> -->

                <div>
                  <h6>Bank Listing</h6>
                  <mat-radio-group class="permission-radio-group" name="banks" [(ngModel)]="model.banks">
                    <mat-radio-button [checked]="model.banks === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.banks === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.banks === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Payouts</h6>
                  <mat-radio-group class="permission-radio-group" name="payouts" [(ngModel)]="model.payouts">
                    <mat-radio-button [checked]="model.payouts === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.payouts === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.payouts === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Notifications</h6>
                  <mat-radio-group class="permission-radio-group" name="notifications" [(ngModel)]="model.notifications">
                    <mat-radio-button [checked]="model.notifications === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.notifications === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.notifications === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Privacy Policy</h6>
                  <mat-radio-group class="permission-radio-group" name="privacyPolicy" [(ngModel)]="model.privacyPolicy">
                    <mat-radio-button [checked]="model.privacyPolicy === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.privacyPolicy === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.privacyPolicy === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div>
                  <h6>Terms & Conditions</h6>
                  <mat-radio-group class="permission-radio-group" name="termsAndConditions" [(ngModel)]="model.termsAndConditions">
                    <mat-radio-button [checked]="model.termsAndConditions === 1" [value]="1">Don't show</mat-radio-button>
                    <mat-radio-button [checked]="model.termsAndConditions === 2" [value]="2">Can View</mat-radio-button>
                    <mat-radio-button [checked]="model.termsAndConditions === 3" [value]="3">Can Work On it</mat-radio-button>
                  </mat-radio-group>
                </div>

              </div>
            </div>

            <!-- status -->
            <div class="form-group col-md-12 no-padding">
              <div class="status-heading">Status</div>
              <div>
                <mat-radio-group class="status-radio-group" name="status" [(ngModel)]="model.status">
                  <mat-radio-button class="status-radio-button" value="1" [checked]='true'>Active</mat-radio-button>
                  <mat-radio-button class="status-radio-button" value="0">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button class="btn btn-primary-color save-btn" [disabled]="roleForm.invalid" (click)="addNewRole(roleForm)">Save</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>