@import './../../../../assets/styles/base.scss';
input {
    border-radius: 10px;
}

label {
    color: #9F9E9F;
}

// Generic form settings || i have removed the useless divs and wrapper etc
mat-card {
    width: 89.2%;
}

.title {
    margin-top: 12px;
    font-family: "ubuntuBold";
    font-size: 20px;
    margin-bottom: 25px;
}

.plr-10 {
    padding-left: 15px;
    padding-right: 15px;
}
.align-left{
    text-align: left;
}
.save-btn {
    border-radius: 0.6rem;
    padding: 10px 15px; // width: 100%;
    width: 180px;
}

.status-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.status-radio-group .status-radio-button {
    margin: 5px 5px 5px 0px; 
}

.sub-nav {
    padding: 0 5.5%;
}
.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}

.mat-checkbox {
    display: block;
}

.permissions-heading {
    font-family: 'UbuntuBold';
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.status-heading  {
    font-family: 'UbuntuBold';
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: unset !important;
}

.permission-radio-group .mat-radio-button {
  margin-left: 16px !important;
}



  .driver-search {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .status-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    left: 0 !important;
    padding: 0 !important;
    max-height: 350px;
    overflow-y: scroll;

    width: 97%;
  }
  
  .vt-dd-parent .dropdown-menu.show {
    margin-top: 5px !important;
    padding: 0 !important;
    min-width: 100px !important;
    left: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
    width: 95%;
  }
  
  .status-dd-parent .dropdown-item,
  .vt-dd-parent .dropdown-item {
    padding: .25rem 1rem !important;
  }
  
  
  .vt-dd-parent .btn,
  .status-dd-parent .btn,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :active,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :focus,
  .vt-dd-parent .btn,
  .status-dd-parent .btn :hover {
    box-shadow: none !important;
    outline: none;
    border-color: #DDDDDD;
    font-size: 14px;
    border-radius: 0.6rem;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    width: 100%;
  }
  
  .dropdown-toggle::after {
    float: right;
    position: relative;
    top: -7px;
    margin-top: 15px;
  }
  .prefix{
      display: block;
  }
  