<!-- <div class="container-fluid no-padding">
    <div class="sub-nav">
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link btn-light-color" (click)="switchType('user')"  [ngClass]="{'btn-primary-color': tabactive==true }"
            routerLinkActive="btn-primary-color">Users</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link btn-light-color" (click)="switchType('worker')" [ngClass]="{'btn-primary-color': tabactive==false }"
            routerLinkActive="btn-primary-color">Workers</a>
        </li>
  
  
        <li class="nav-item add-new-btn">
          <a class="nav-link btn-primary-color" [routerLink]="[ '/referral/edit', 0 ]">Referral Settings</a>
        </li>
      </ul>
    </div>
  </div> -->


<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div class="table-container">
    <div class="title">Logs</div>
    <div class="DatesOuter row">
      <!--<input class="search-input" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search...">-->
      <!-- start date -->
      <div class="form-group col-md-5 no-pd-lt">
        <input [matDatepicker]="pickerStart" placeholder="Select Start Date" class="form-control" [(ngModel)]="model.startDate" [max]="todaydate"
          name="startDate" #startDate="ngModel" (focus)="_openCalendar(pickerStart)" (click)="_openCalendar(pickerStart, 'startDate')">
        <mat-datepicker #pickerStart="matDatepicker" (closed)="_closeCalendar($event, 'startDate')"></mat-datepicker>
      </div>

      <!-- end date -->
      <div class="form-group col-md-5">
        <input [matDatepicker]="pickerEnd" placeholder="Select End Date" class="form-control" [(ngModel)]="model.endDate" [max]="todaydate"
          (focus)="_openCalendar(pickerEnd)" (click)="_openCalendar(pickerEnd, 'endDate')" name="endDate" #endDate="ngModel">
        <mat-datepicker #pickerEnd="matDatepicker" (closed)="_closeCalendar($event, 'endDate')"></mat-datepicker>
      </div>
      <!-- <div class="d-inline-block vt-dd-parent" ngbDropdown>
              <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>{{statusFilterText?.name}}</button>
              <div ngbDropdownMenu aria-labelledby="vt-dropdown">
                <button class="dropdown-item" *ngFor="let status of jobStatusText" (click)="filter(status)">{{status.name}}</button>
              </div>
            </div> -->
    </div>
    <div class="clear-both"> </div>
    <table class="mt-4" mat-table [dataSource]="dataSource">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- photo Column -->
      <!-- <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.image" alt="image">
        </td>
      </ng-container> -->

      <!-- name Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Log Type</th>
        <td mat-cell *matCellDef="let row">{{row.activityLogType || 'N/A'}}</td>
      </ng-container>

      <!-- referral Id Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{row.description || 'N/A'}}</td>
      </ng-container>
      <!-- referral Id Column -->
      <ng-container matColumnDef="logTime">
        <th mat-header-cell *matHeaderCellDef>Log Time</th>
        <td mat-cell *matCellDef="let row">{{(row.activityLogTime *1000 |  date: 'short') || 'N/A'}}</td>
      </ng-container>

      <!-- Referral Column -->
      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef>User Type</th>
        <td mat-cell *matCellDef="let row">{{row.userType || 'N/A'}}</td>
      </ng-container>

      <!-- Referral earn Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let row">{{row.adminProfileId.name || 'N/A'}}</td>
      </ng-container>
     

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar class="toolbar" *ngIf=" dataSource && dataSource.length === 0">
      <span>No Records Found</span>
    </mat-toolbar>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</mat-card>