<div class="container-fluid no-padding">
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="cursor-pointer navbar-brand" (click)="reRoute();">
      <img src="assets/images/Horizontal.svg" alt="TradesMan Logo" />
    </a>

    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">

      <ul class="navbar-nav navbar-left">

        <li class="nav-item " routerLinkActive="active" *ngIf="loggedInUser?.dashboard != 1">
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item " routerLinkActive="active"  *ngIf="loggedInUser?.map != 1">
          <a class="nav-link" [routerLink]="['/map']">Map
            <span class="sr-only"></span>
          </a>
        </li>

        <li class="nav-item " routerLinkActive="active"  *ngIf="loggedInUser?.workers != 1">
          <a class="nav-link" [routerLink]="['/workers']">Workers
            <span class="sr-only"></span>
          </a>
        </li>

        <li class="nav-item " routerLinkActive="active"  *ngIf="loggedInUser?.users != 1">
          <a class="nav-link" [routerLink]="['/users']">Users
            <span class="sr-only"></span>
          </a>
        </li>

        <li class="nav-item " routerLinkActive="active"  *ngIf="loggedInUser?.jobs != 1">
          <a class="nav-link" [routerLink]="['/jobs']">Jobs
            <span class="sr-only"></span>
          </a>
        </li>

      </ul>

      <ul class="navbar-nav navbar-right">

        <!-- <li ngbDropdown class="nav-item d-inline-block bell-notifications">
          <a class="nav-link" id="dropdownBasic2" ngbDropdownToggle (click)="getNotifications(); isRead();">
            <div class="notification">
              <i class="icon ion-md-notifications"></i>
              <span class="badge badge-danger" *ngIf="resultsLength && resultsLength>0">{{resultsLength}}</span>
            </div>
          </a>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dd-notifications">
            <span *ngIf="notificationsData && notificationsData.length>0">
              <a class="dd-notification" *ngFor="let singleNotification of notificationsData" (click)="goto(singleNotification)">
                <div class="image">
                  <img src="assets/images/default_image.png" alt="notification-img">
                </div>
                <div class=dd-notification-text>
                  <div class="text" [innerHTML]="singleNotification.text"></div>
                  <div class="time">{{ singleNotification?.createdAt | momentAgoPipe}}</div>
                </div>
              </a>
            </span>
            <a class="noNotification" *ngIf="notificationsData && notificationsData.length<=0">
              No Notifications found
            </a>
          </div>
        </li> -->

        <div ngbDropdown class="d-inline-block">

          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <span class="account-name usernameWrapper" matTooltip="{{userData?.name}}" [matTooltipDisabled]="hideTooltip == true">{{loggedInUser?.name}}</span>
            <span class="account-role">{{loggedInUser?.userType}}</span>
          </button>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="userProfile-dropdown">

            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>

            <a class="dropdown-item" [routerLink]="['/promocodes']"  *ngIf="loggedInUser?.promoCodes != 1">Vouchers</a>

            <a class="dropdown-item" [routerLink]="['/services']"  *ngIf="loggedInUser?.configurations != 1">Configurations</a>

            <!-- <a class="dropdown-item" [routerLink]="['/referral']"  *ngIf="loggedInUser?.referrals != 1">Referral Management</a> -->
            <!-- <a class="dropdown-item" [routerLink]="['/referral']"  >Referral Management</a> -->

            <a class="dropdown-item" [routerLink]="['/roles-security']"  *ngIf="loggedInUser?.rolesAndSecurity != 1">Roles & Security</a>

            <!-- <a class="dropdown-item" [routerLink]="['/payouts']"  *ngIf="loggedInUser?.banks != 1">Bank Listing</a> -->

            <!-- <a class="dropdown-item" [routerLink]="['/payouts']"  *ngIf="loggedInUser?.payouts != 1">Payouts</a> -->

            <a class="dropdown-item" [routerLink]="['/notifications']"  *ngIf="loggedInUser?.notifications != 1">Notifications</a>

            <!-- <a class="dropdown-item" [routerLink]="['/privacy-policy']"  *ngIf="loggedInUser?.privacyPolicy != 1">Privacy Policy</a> -->

            <!-- <a class="dropdown-item" [routerLink]="['/terms-condition']"  *ngIf="loggedInUser?.termsAndConditions != 1">Terms & Condition</a> -->

            <a class="dropdown-item" [routerLink]="['/logs']"  *ngIf="loggedInUser?.userType == 'Admin' ">Logs</a>

            <!-- <a class="dropdown-item" (click)=logOut();>Logout</a> -->
            <a class="dropdown-item" [routerLink]="['/logout']">Logout</a>

          </div>
        </div>

      </ul>

    </div>

  </nav>
</div>
