@import './../../../../assets/styles/base.scss';


// Top right side bar dropdown of user profile
.userProfile-dropdown {
    border-radius: 15px;
}

// top ride side dropwon of user profile listing items
.dropdown-menu a.dropdown-item {
    padding: 0.65rem 0.5rem;
    font-size: 14px;
}


.dropdown-menu.dd-notifications {
    margin-top: 0px !important;
    padding: 0 0 !important;
    left: -228px !important;
    width: 295px;
    font-size: 14px;
    max-height: 350px;
    overflow-y: auto;
}

.dropdown-menu.dd-notifications a.dd-notification {
    padding: 0.3rem 1rem !important;
    width: 100%;
    display: inline-flex;
}

.dropdown-menu.dd-notifications a.dd-notification:hover {
   background-color: #FCF5F5
}

.dropdown-menu.dd-notifications a.dd-notification.colored {
    background-color: #FCF5F5;
}

.dropdown-menu.dd-notifications a.dd-notification .dd-notification-text {
    width: 80%;
}

.dropdown-menu.dd-notifications a.dd-notification .image {
    width: 20%;
}

.dropdown-menu.dd-notifications a.dd-notification .image img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid #EAF1FB;
}

.dropdown-menu.dd-notifications a.dd-notification .text span {
    font-family: $ff-bold;
}

.dropdown-menu.dd-notifications a.dd-notification .time {
    font-size: 10px;
    color: #B1B0B1;
}
.iAmActive{
    border-bottom: 3px solid #153a79;
}
.usernameWrapper{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.badge{
   padding: 3px 3px 3px;
   position: absolute;
   width: 20px;
   height: 20px;
   top: 12px;
   right: 17px;
   display: inline-block;
   min-width: 10px;
   font-size: 12px;
   font-weight: 500;
   color: #ffffff;
   line-height: 1;
   vertical-align: baseline;
   white-space: nowrap;
   text-align: center;
   border-radius: 10px;
}
.noNotification{
   padding: 1rem 1rem 1rem 1rem !important;
   display: block;
   text-align: center;
   margin-top: 0.5rem;
}
.badge-danger {
   background-color: #dc3545;
}

@media only screen and (max-width: 64em){
    .navbar-right{
        margin-left: auto;
        margin-right: 40px;
    }
    .userProfile-dropdown{
        border-radius: 15px;
        /* margin: 0rem; */
        width: 100vw;
        border: none;
    }
    .btn-outline-primary{
        width: 100% !important;
        padding-right: 2rem;
    }
    .d-inline-block{
        float: right;
    }
    .bell-notifications{
        float: left;
    }
}
