@import '../../../../assets/styles/base.scss';
agm-map {
    width: 100%;
    height: 90vh;
}

.p-0 {
    padding: 0;
}

.map-floating {
    float: left;
    width: 100%;
}


.map-wrapper {
    float: left;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link.no-link {
    cursor: default;
}

.sub-nav {
    padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 0.5rem;
}
