<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-dark-color btn-back" [routerLink]="[ '/users/profile',userId]">Back</a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid map-floating no-padding">
  <div class="col-md-12">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
      <agm-marker [latitude]="model.latitude" [longitude]="model.longitude" [iconUrl]="imageUrl">
      </agm-marker>
    </agm-map>
  </div>
</div>