<!-- reasons Template -->

<mat-card>
  <div class="row width-100perc">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div class="col-md-12">
      <div class="title">Reasons </div>
    </div>

    <mat-accordion class="width-100perc" id="config-reasons">

      <!--------------------------------------------------------User Cancellation Reason--------------------------------------------------------------->

      <mat-expansion-panel id="userCancellationReason">

        <!-- header panel -->
        <mat-expansion-panel-header class="panel-parent">
          <span class="panel-title">User Cancellation Reason</span>
        </mat-expansion-panel-header>

        <!-- User Cancellation Reason table -->
        <table>
          <tr class="header-table">
            <th>#</th>
            <th>Reason</th>
            <th></th>
            <th *ngIf="localStorage?.configurations == 3">Action</th>
          </tr>

          <!-- User Cancelleation -->
          <tr *ngFor="let userReason of userReasons;let i = index;">
            <td class="issues-numbering">
              {{i+1}}
            </td>
            <!-- input -->
            <td class="issues-input">
              <div class="form-group">
                <input type="text" class="form-control driver-input" [disabled]="userReason.disable" id="text" name="text" 
                  placeholder="{{userReason.reason}}" [(ngModel)]="userReason.reason" #text="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" [disabled]="userReason.disable" id="text" name="text"
                       placeholder="Estonian" [(ngModel)]="userReason.reasonET" #text="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" [disabled]="userReason.disable" id="text" name="text"
                       placeholder="Russian" [(ngModel)]="userReason.reasonRU" #text="ngModel" required>
              </div>


              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="text.touched && text.invalid">
                <div *ngIf="text.errors.required"> Reason is required!</div>
              </div>
            </td>

            <!-- empty field -->
            <td class="empty-td">
            </td>

            <!-- actions  -->
            <td class="issues-action" *ngIf="localStorage?.configurations == 3">

              <button class="btn btn-light has-icon" *ngIf="userReason.disable" (click)="editFieldsEnable($event,userReason)">
                <i class="icon ion-md-create"></i>
              </button>

              <button class="btn btn-light has-icon" *ngIf="userReason.disable" md-raised-button (click)="userReason.isDeleted=true;updateReason($event,userReason)">
                <i class="icon ion-md-trash"></i>
              </button>

              <button class="btn btn-primary-color has-icon" *ngIf="!userReason.disable" (click)="updateReason($event,userReason,1)">
                <i class="icon ion-md-checkmark"></i>
              </button>

            </td>
          </tr>
          <!-- User Cancelleation ends -->

          <!-- User Cancellation Reason (Open new Reason Table Row) -->
          <tr *ngIf="typeOfReason===1">
            <td class="issues-numbering"></td>
            <td class="issues-input">
              <div class="form-group">
                <input type="text" class="form-control driver-input" id="ucr" name="ucr" placeholder="User Cancellation Reason"  maxlength="30"
                  [(ngModel)]="model.ucr" #ucr="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" id="ucrET" name="ucrET" placeholder="User Cancellation Reason Estonian"  maxlength="30"
                       [(ngModel)]="model.ucrET" #ucr="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" id="ucrRU" name="ucrRU" placeholder="User Cancellation Reason Russian"  maxlength="30"
                       [(ngModel)]="model.ucrRU" #ucr="ngModel" required>
              </div>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="ucr.touched && ucr.invalid">
                <div *ngIf="ucr.errors.required"> User Cancellation Reason is required!</div>
              </div>
            </td>

            <!-- empty field -->
            <td class="empty-td"></td>

            <!-- actions -->
            <td class="issues-action">
              <button class="btn btn-primary-color has-icon " [disabled]="!model.ucr" (click)="addReason(model.ucr, model.ucrET, model.ucrRU,1)"><i
                  class="icon ion-md-checkmark"></i></button>
            </td>
          </tr>
          <!--User Cancellation Reason() Open new Reason Row ENDS)-->

        </table>
        <!-- User Cancellation Reasontable ends -->

        <!-- User Cancellation Reason (Add new Reason btn) -->
        <div class="add-new-reason" *ngIf="localStorage?.configurations == 3 && userReasons?.length < 5">
          <button class="btn btn-link"  (click)="openReason(1)">+ Add New Reason</button>
        </div>
        <!-- User Cancellation Reason (Add new Reason btn ends) -->

      </mat-expansion-panel>

      <!--------------------------------------------------------User Cancellation Reason ends----------------------------------------------------------->

      <!--------------------------------------------------------Driver Cancellation Reason-------------------------------------------------------------->

      <mat-expansion-panel id="driverCancellationReason">

        <!-- header panel -->
        <mat-expansion-panel-header class="panel-parent">
          <span class="panel-title">Worker Cancellation Reason</span>
        </mat-expansion-panel-header>

        <!-- Worker Cancellation Reason table -->
        <table>
          <tr class="header-table">
            <th>#</th>
            <th>Reason</th>
            <th></th>
            <th *ngIf="localStorage?.configurations == 3">Action</th>
          </tr>

          <!-- -Worker Cancellation Reason -->
          <tr *ngFor="let spReason of spReasons;let i = index;">
            <td class="issues-numbering">
              {{i+1}}
            </td>
            <!-- input -->
            <td class="issues-input">
              <div class="form-group">
                <input type="text" class="form-control driver-input " [disabled]="spReason.disable" id="text" name="text"
                  placeholder="{{spReason.reason}}" [(ngModel)]="spReason.reason" #text="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" [disabled]="spReason.disable" id="text" name="text"
                       placeholder="Estonian" [(ngModel)]="spReason.reasonET" #text="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" [disabled]="spReason.disable" id="text" name="text"
                       placeholder="Russian" [(ngModel)]="spReason.reasonRU" #text="ngModel" required>
              </div>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="text.touched && text.invalid">
                <div *ngIf="text.errors.required"> Worker Cancellation Reason is required!</div>
              </div>
            </td>

            <!-- empty field -->
            <td class="empty-td">
            </td>

            <!-- actions  -->
            <td class="issues-action" *ngIf="localStorage?.configurations == 3">

              <button class="btn btn-light has-icon" *ngIf="spReason.disable" (click)="editFieldsEnable($event,spReason)">
                <i class="icon ion-md-create"></i>
              </button>

              <button class="btn btn-light has-icon" *ngIf="spReason.disable" md-raised-button (click)="spReason.isDeleted=true;updateReason($event,spReason)">
                <i class="icon ion-md-trash"></i>
              </button>

              <button class="btn btn-primary-color has-icon" *ngIf="!spReason.disable" (click)="updateReason($event,spReason,2)">
                <i class="icon ion-md-checkmark"></i>
              </button>

            </td>
          </tr>
          <!-- -Worker Cancellation Reason ends -->

          <!-- Worker Cancellation Reason (Open new Reason Table Row) -->
          <tr *ngIf="typeOfReason===2">
            <td class="issues-numbering"></td>
            <td class="issues-input">
              <div class="form-group">
                <input type="text" class="form-control driver-input" id="wcr" name="wcr" placeholder="Worker Cancellation Reason"  maxlength="30"
                  [(ngModel)]="model.wcr" #wcr="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" id="model.wcrET" name="model.wcrET" placeholder="Worker Cancellation Reason Estonian"  maxlength="30"
                       [(ngModel)]="model.wcrET" #wcr="ngModel" required>

                <input type="text" class="form-control driver-input margining-top" id="wcrRU" name="wcrRU" placeholder="Worker Cancellation Reason Russian"  maxlength="30"
                       [(ngModel)]="model.wcrRU" #wcr="ngModel" required>
              </div>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="wcr.touched && wcr.invalid">
                <div *ngIf="wcr.errors.required">Worker Cancellation Reason is required!</div>
              </div>
            </td>

            <!-- empty field -->
            <td class="empty-td"></td>

            <!-- actions -->
            <td class="issues-action">
              <button class="btn btn-primary-color has-icon" [disabled]="!model.wcr" (click)="addReason(model.wcr, model.wcrET, model.wcrRU ,2)"><i
                  class="icon ion-md-checkmark"></i></button>
            </td>
          </tr>
          <!--Worker Cancellation Reason (Open new Reason Row ENDS)-->

        </table>
        <!-- Worker Cancellation Reason table ends -->

        <!-- Worker Cancellation Reason (Add new Reason btn) -->
        <div class="add-new-reason" *ngIf="localStorage?.configurations == 3 && spReasons?.length < 5">
          <button class="btn btn-link"  (click)="openReason(2)">+ Add New Reason</button>
        </div>
        <!-- Worker Cancellation Reason (Add new Reason btn ends) -->

      </mat-expansion-panel>

      <!--------------------------------------------------------Driver Cancellation Reason ends-------------------------------------------------------->

    </mat-accordion>
  </div>
</mat-card>
