@import './../../../../assets/styles/base.scss';

.title {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-table {
    border-bottom: 1px solid #f2f4f8;
}

#config-reasons table tr th {
    padding: 10px 0px;
    font-family: 'ubuntuRegular';
    color: $label-color;
    font-weight: unset;
}

#config-reasons table tr td {
    padding: 20px 0px;
    border-bottom: 1px solid #f2f4f8;
    font-family: 'ubuntuRegular';
}

#config-reasons .issues-numbering {
    width: 5%;
}

#config-reasons .issues-input {
    width: 50%;
}

#config-reasons .empty-td {
    width: 35%;
}

#config-reasons .issues-action {
    width: 15%;
}

#config-reasons table .form-group {
    margin-bottom: unset !important;
}

#config-reasons .form-control:disabled,
.form-control[readonly] {
    border: none !important;
    background-color: unset !important;
}

#config-reasons .add-new-reason {
    padding: 10px;
    color:$primary-color;
    font-family: 'ubuntuBold';
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f4f8;
}

.margining-top {
  margin-top: 10px;
}
