<!-- Modified by Usman I 6NOV2018 -->
<div class="password-forgot">
  <div class="inner-container">
    <mat-card>
      <div class="row">
        <div class="col-md-12 title">Forgot Password?</div>
        <div class="col-md-12 sub-title">Enter Email Address associated with your account to reset password.</div>
        <div class="col-md-12 form-container">

          <form #forgotPassForm="ngForm">

            <!-- email address -->
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email Address" [(ngModel)]="model.email"
                #email="ngModel" required>

              <!-- errors -->
              <div class="form-control-feedback globar-error-text" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required">Email is required!</div>
              </div>

            </div>

            <!-- reset password -->
            <div class="form-group">
              <button class="btn btn-primary-color reset-password" [disabled]="forgotPassForm.invalid || !model.email" (click)="forgotPassword(forgotPassForm)">Reset Password</button>
            </div>
          </form>

          <!-- back to login -->
          <div class="form-group back-to-login text-center">
            <a [routerLink]="[ '/' ]">Back to Login?</a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>