<div class="container-fluid no-padding">
  <div class="sub-nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/notifications/user' ]"
          routerLinkActive="btn-primary-color">User
          Notifications</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-light-color" [routerLink]="[ '/notifications/worker' ]"
          routerLinkActive="btn-primary-color">Worker
          Notifications</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>