.dialog-div{
    display: flex;
    flex-direction: column;
    gap: 15%;
}
.example-full-width{
    width: 100%;
}
.block-btn{
    width: fit-content;
}
.buttonOuter{
    display: flex;
    justify-content: center;
}
.reasonText{
    width:350px;
    height: 120px;
}